---
title: October 11th - From RDBMS to NoSQL with MongoDB
date: 2011-10-11 18:30 UTC
eventbrite:
  name:
    text: October 11th - From RDBMS to NoSQL with MongoDB
    html: October 11th - From RDBMS to NoSQL with MongoDB
  description:
    text: "\r\n\r\nOn Tuesday October 11th. MonctonUG presents From RDBMS to NoSQL
      with MongoDB, by Sebastien Aube from Cognitive X Solutions Inc.\r\n\r\n\r\nYou
      must have heard of the NoSQL movement. Saving objects directly in the database.
      What’s that all about. In this presentation we’ll talk about using a NoSQL database
      as a datastore for your application. We’ll demonstrate 1:1 examples of SQL vs
      MongoDB with a simple database application.\r\n\r\nhttp://monctonug-rdbms-mongodb.eventbrite.com/\r\nDate
      and Times\r\nTuesday, October 11th 2011from 6:30 to 9:00pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nEvent Sponsors\r\nThis
      event would not be possible without the following sponsors:\r\nFood & Presenter:\r\nSpeaker
      BioSebastien Aube is President and Software Architect at Cognitive X Solutions
      Inc. For the past 11 years he has focused on building enterprise solutions using
      the Microsoft Development stack. He’s always looking for new and better ways
      to build software. You can find his blog at http://www.sebaube.com/.\r\nTwitter:
      @sebaube / Email : sebastien at cognitivex.com\r\nSome definitions:\r\nMongoDBMongoDB
      (from “humongous”) is an open source, high-performance, schema-free, document-oriented
      database written in the C++ programming language.[1] The database is document-oriented
      so it manages collections of JSON-like documents. Many applications can thus
      model data in a more natural way, as data can be nested in complex hierarchies
      and still be query-able and indexable.\r\nNoSQLIn computing, NoSQL (sometimes
      expanded to “not only SQL”) is a broad class of database management systems
      that differ from classic relational database management systems (RDBMSes) in
      some significant ways. These data stores may not require fixed table schemas,
      usually avoid join operations, and typically scale horizontally. Academia typically
      refers to these databases as structured storage, a term that would include classic
      relational databases as a subset.\r\n\r\n \r\n "
    html: "<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">On
      Tuesday October 11th. MonctonUG presents From RDBMS to NoSQL with MongoDB, by
      Sebastien Aube from Cognitive X Solutions Inc.</FONT></P>\r\n<P><FONT FACE=\"Tahoma,
      Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">You
      must have heard of the NoSQL movement. Saving objects directly in the database.
      What’s that all about. In this presentation we’ll talk about using a NoSQL database
      as a datastore for your application. We’ll demonstrate 1:1 examples of SQL vs
      MongoDB with a simple database application.</FONT></P>\r\n<P><FONT FACE=\"Tahoma,
      Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n<P><A HREF=\"http://monctonug-rdbms-mongodb.eventbrite.com/\"
      TARGET=\"_blank\">http://monctonug-rdbms-mongodb.eventbrite.com/</A></P>\r\n<H4>Date
      and Times</H4>\r\n<P>Tuesday, October 11th 2011<BR>from 6:30 to 9:00pm</P>\r\n<H4>Location</H4>\r\n<P>795
      Main Street – Second Floor Board room<BR>Moncton, NB</P>\r\n<P><A HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow noopener noreferrer\">Directions</A></P>\r\n<H4>Event Sponsors</H4>\r\n<P>This
      event would not be possible without the following sponsors:</P>\r\n<P>Food &amp;
      Presenter:<BR><A HREF=\"http://www.cognitivex.com/\" TARGET=\"_blank\" REL=\"nofollow
      noopener noreferrer\"><IMG ALT=\"Cognitive X Solutions - Home\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fwww.cognitivex.com%2Fwp-content%2Fthemes%2Fcognitivex%2Fimages%2Flogo.png&sig=ADR2i7-lHafXCItEv5WZo3_ysTvVS4p5wA\"></IMG></A></P>\r\n<P>Speaker
      Bio<BR>Sebastien Aube is President and Software Architect at Cognitive X Solutions
      Inc. For the past 11 years he has focused on building enterprise solutions using
      the Microsoft Development stack. He’s always looking for new and better ways
      to build software. You can find his blog at http://www.sebaube.com/.</P>\r\n<P>Twitter:
      @sebaube / Email : sebastien at cognitivex.com</P>\r\n<P>Some definitions:</P>\r\n<P>MongoDB<BR>MongoDB
      (from “humongous”) is an open source, high-performance, schema-free, document-oriented
      database written in the C++ programming language.[1] The database is document-oriented
      so it manages collections of JSON-like documents. Many applications can thus
      model data in a more natural way, as data can be nested in complex hierarchies
      and still be query-able and indexable.</P>\r\n<P>NoSQL<BR>In computing, NoSQL
      (sometimes expanded to “not only SQL”) is a broad class of database management
      systems that differ from classic relational database management systems (RDBMSes)
      in some significant ways. These data stores may not require fixed table schemas,
      usually avoid join operations, and typically scale horizontally. Academia typically
      refers to these databases as structured storage, a term that would include classic
      relational databases as a subset.</P>\r\n</FONT></P>\r\n<P> </P>\r\n<P> </P>"
  id: '2216603922'
  url: https://www.eventbrite.ca/e/october-11th-from-rdbms-to-nosql-with-mongodb-tickets-2216603922
  vanity_url: https://monctonug-rdbms-mongodb.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-10-11T18:30:00'
    utc: '2011-10-11T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2011-10-11T21:30:00'
    utc: '2011-10-12T00:30:00Z'
  organization_id: '791166669'
  created: '2011-09-20T15:19:04Z'
  changed: '2014-12-29T17:54:58Z'
  published: '2011-09-20T15:35:47Z'
  capacity: 20
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source:
  is_free: true
  version: 3.0.0
  summary: "\r\n\r\nOn Tuesday October 11th. MonctonUG presents From RDBMS to NoSQL
    with MongoDB, by Sebastien Aube from Cognitive X Solutions Inc.\r\n\r\n\r\nYou"
  logo_id:
  organizer_id: '860299233'
  venue_id: '1289550'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/2216603922/
  is_externally_ticketed: false
  logo:
---
