---
title: Moncton Dev Lunch
date: 2011-08-12 11:45 UTC
eventbrite:
  name:
    text: Moncton Dev Lunch
    html: Moncton Dev Lunch
  description:
    text: Devs love food.
    html: "<P>Devs love food.</P>"
  id: '1948408743'
  url: http://www.eventbrite.ca/e/moncton-dev-lunch-tickets-1948408743
  vanity_url: http://augustmonctondevlunch.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-08-12T11:45:00'
    utc: '2011-08-12T14:45:00Z'
  end:
    timezone: America/Halifax
    local: '2011-08-12T13:30:00'
    utc: '2011-08-12T16:30:00Z'
  created: '2011-07-21T01:49:18Z'
  changed: '2014-12-29T17:51:55Z'
  capacity: 15
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '860299233'
  venue_id: '1151407'
  category_id: '110'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/1948408743/
  logo:
---
