---
title: Sharepoint 2010
date: 2011-06-14 18:30 UTC
eventbrite:
  name:
    text: Sharepoint 2010
    html: Sharepoint 2010
  description:
    text: "\r\n\r\nOn Tuesday June 14th. MonctonUG presents Sharepoint 2010 by Andrew
      Field of Bulletproof Solutions\r\n\r\n\r\nWhat is this thing they call SharePoint
      and how will it change my life?\r\n\r\n\r\nQuestion: Why is SharePoint like
      dark matter? Answer: Because no one knows what it does but it seems to be holding
      the universe together!\r\n\r\nIn this session we will take a look at Microsoft’s
      SharePoint’s newest version, SharePoint 2010.We will cover, at a high level,
      the features set and benefits of Microsoft SharePoint 2010.\r\nThe session,
      which is geared towards a technical audience, is sure to be a highlight of your
      summer.\r\nIf you are new to SharePoint you should expect to come away with
      a good understanding of what the product is and how it can help almost any organization.\r\nhttp://monctonug-sharepoint2010.eventbrite.com/\r\nDate
      and Times\r\nTuesday, June 14th 2011from 6:30 to 9:00pm\r\nLocation\r\nGreater
      Moncton Chamber of Commerce Board Room – First Floor1273 Main Street, Suite
      200Moncton, NB E1C 0P4\r\n\r\nView Larger Map Get Directions View Bird’s Eye\r\n\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood:\r\nRoom:\r\nPresenter:\r\nSpeaker
      Bio\r\nHaving over 17 years of experience, in the information technology game,
      Andrew prides himself on the ability to add value to all stages of the software
      development life cycle. Using current process and methodologies he focuses on
      the analysis, design, development and implementation of robust information systems.
      Good organizational and prioritizing skills have given Andrew a reputation for
      successfully juggling multiple projects and tasks in tight deadline environments.
      With considerable experience architecting and developing multi-tier software
      solutions Andrew is well positioned to aid large, and small organizations, to
      achieve success in all their information technology needs. Andrew has extensive
      experience with the Microsoft’s SharePoint offerings; having actively used this
      product over its last 4 version, from the old Microsoft SharePoint Team Services
      to the current Microsoft SharePoint 2010.\r\n\r\n \r\n \r\n "
    html: "<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">On
      Tuesday June 14th. MonctonUG presents Sharepoint 2010 by Andrew Field of Bulletproof
      Solutions</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\"
      SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial,
      Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\"><STRONG>What is this thing
      they call SharePoint and how will it change my life?</STRONG></FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Question:
      Why is SharePoint like dark matter? Answer: Because no one knows what it does
      but it seems to be holding the universe together!</FONT></P>\r\n<P><FONT FACE=\"Tahoma,
      Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n<P>In this session
      we will take a look at Microsoft’s SharePoint’s newest version, SharePoint 2010.<BR>We
      will cover, at a high level, the features set and benefits of Microsoft SharePoint
      2010.</P>\r\n<P>The session, which is geared towards a technical audience, is
      sure to be a highlight of your summer.</P>\r\n<P>If you are new to SharePoint
      you should expect to come away with a good understanding of what the product
      is and how it can help almost any organization.</P>\r\n<P><A HREF=\"http://monctonug-sharepoint2010.eventbrite.com/\">http://monctonug-sharepoint2010.eventbrite.com/</A></P>\r\n<H4>Date
      and Times</H4>\r\n<P>Tuesday, June 14th 2011<BR>from 6:30 to 9:00pm</P>\r\n<H4>Location</H4>\r\n<P>Greater
      Moncton Chamber of Commerce Board Room – First Floor<BR>1273 Main Street, Suite
      200<BR>Moncton, NB E1C 0P4</P>\r\n<DIV ID=\"mapviewer\">\r\n<DIV ID=\"LME_maplinks\"><A
      ID=\"LME_largerMap\" HREF=\"http://www.bing.com/maps/?mm_embed=map&cp=46.08515438681402~-64.78865412693722&lvl=16&sty=r&where1=1273+Main+St%2C+Moncton%2C+NB%2C+E1C\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">View Larger Map</A> <A
      ID=\"LME_directions\" HREF=\"http://www.bing.com/maps/?mm_embed=dir&cp=46.08515438681402~-64.78865412693722&rtp=~pos.46.08528416040826_-64.78872242882892_1273+Main+St%2C+Moncton%2C+NB%2C+E1C&lvl=16&sty=r\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">Get Directions</A> <A
      ID=\"LME_birdsEye\" HREF=\"http://www.bing.com/maps/?mm_embed=be&cp=46.08515438681402~-64.78865412693722&lvl=1&sty=b&where1=1273+Main+St%2C+Moncton%2C+NB%2C+E1C\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">View Bird’s Eye</A></DIV>\r\n</DIV>\r\n<H4>Event
      Sponsors</H4>\r\n<P>This event would not be possible without the following sponsors:</P>\r\n<P>Food:<BR><A
      HREF=\"http://www.cognitivex.com/\" TARGET=\"_blank\" REL=\"noopener noreferrer
      nofollow\"><IMG CLASS=\"alignnone size-full wp-image-228\" TITLE=\"Cognitive
      X Solutions\" ALT=\"\" WIDTH=\"271\" HEIGHT=\"48\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F05%2FCognitive-X-Systems-Home.png&sig=ADR2i7_hGzbeXdomqSWrwZqD5x5Ne6Vuqw\"></IMG></A></P>\r\n<P>Room:<BR><A
      HREF=\"http://msdn.microsoft.ca/\" TARGET=\"_blank\" REL=\"noopener noreferrer
      nofollow\"><IMG CLASS=\"alignnone size-full wp-image-143\" TITLE=\"Microsoft
      Canada\" ALT=\"Microsoft Canada\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<P>Presenter:<BR><A
      HREF=\"http://www.bulletproofsi.com/\" REL=\"nofollow\"><IMG CLASS=\"alignnone
      size-full wp-image-229\" TITLE=\"Bulletproof Solutions Inc.\" ALT=\"\" WIDTH=\"133\"
      HEIGHT=\"130\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F05%2Flogo-bulletproof.jpg&sig=ADR2i7_eGdtMqMJKInU4smdKsRn1zkQI5Q\"></IMG></A></P>\r\n<H4>Speaker
      Bio</H4>\r\n<P>Having over 17 years of experience, in the information technology
      game, Andrew prides himself on the ability to add value to all stages of the
      software development life cycle. Using current process and methodologies he
      focuses on the analysis, design, development and implementation of robust information
      systems. Good organizational and prioritizing skills have given Andrew a reputation
      for successfully juggling multiple projects and tasks in tight deadline environments.
      With considerable experience architecting and developing multi-tier software
      solutions Andrew is well positioned to aid large, and small organizations, to
      achieve success in all their information technology needs. Andrew has extensive
      experience with the Microsoft’s SharePoint offerings; having actively used this
      product over its last 4 version, from the old Microsoft SharePoint Team Services
      to the current Microsoft SharePoint 2010.</P>\r\n</FONT></P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>"
  id: '1668515575'
  url: https://www.eventbrite.ca/e/sharepoint-2010-tickets-1668515575
  vanity_url: https://monctonug-sharepoint2010.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-06-14T18:30:00'
    utc: '2011-06-14T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2011-06-14T21:00:00'
    utc: '2011-06-15T00:00:00Z'
  organization_id: '791166669'
  created: '2011-05-09T17:33:38Z'
  changed: '2014-12-29T17:48:44Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source:
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '944761'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/1668515575/
  is_externally_ticketed: false
  logo:
---
