---
title: Moncton UG presents Microsoft Surface
date: 2011-03-22 18:30 UTC
eventbrite:
  name:
    text: Moncton UG presents Microsoft Surface
    html: Moncton UG presents Microsoft Surface
  description:
    text: "The Microsoft Surface® platform brings people together to connect, learn,
      and decide. It enables experiences that change the way people collaborate and
      connect with a 360-degree interface. And, with PixelSense™, Microsoft Surface
      sees and responds to touch and real world objects—supporting more than 50 simultaneous
      inputs.\r\n \r\nSchedule\r\n6:30 – Meet and Greet – Includes pizza and beverages
      generously provided by Tech South East\r\n7:15 – Fred Yeomans presents about
      MS Surface\r\nEvent Sponsors\r\nThis event would not be possible without the
      following sponsors:\r\nVenue is provided by:\r\nFood and beverages provided
      by:\r\nSpeaker Bio\r\nFred Yeomans has been working in the world of technology
      for 25-odd years. He is an entrepreneur and consultant, focused on software
      solutions, social networking, and innovation processes. Currently, he works
      a Principal Consultant with T4G Limited, specializing in Portal Technologies
      (including SharePoint), software/systems development, service oriented architectures,
      and many other things which he will probably not remember until he need to use
      them.\r\n\r\n\r\n\r\nBefore T4G, he was VP of Technology at Whitehill Technologies,
      Inc., where he spent almost 9 years helping to grow the company from a start-up
      to one of the most successful private software companies in Canada. Prior to
      that he worked on internet conferencing using early VoIP, and on large military
      communications projects. Before even that, he worked in satellite operations
      and control, and remote sensing. Going way back to university, my focus was
      on theoretical physics and astrophysics.Currently his interests revolve around
      most aspects of software development, from technologies to management, and in
      the area of defining sustainable, repeatable processes for innovation within
      technology organizations. He also has a particular interest in Tablet PC technologies.\r\n\r\n\r\nOn
      the personal side, Fred has a strong interest in all aspects of science, especially
      physical sciences, as well as philosophy and comparative religion. In addition,
      he is into music, playing guitar and reading almost anything he can lay his
      hands on.He is also a member of the IEEE/IEEE Computer Society, and of the Association
      for Computing Machinery.\r\n\r\n\r\nFred is on Twitter as @FYeomans\r\n\r\n\r\n \r\n \r\n \r\n "
    html: "<P>The Microsoft Surface® platform brings people together to connect, learn,
      and decide. It enables experiences that change the way people collaborate and
      connect with a 360-degree interface. And, with PixelSense™, Microsoft Surface
      sees and responds to touch and real world objects—supporting more than 50 simultaneous
      inputs.</P>\r\n<P> </P>\r\n<H4>Schedule</H4>\r\n<P>6:30 – Meet and Greet – Includes
      pizza and beverages generously provided by <EM>Tech South East</EM></P>\r\n<P>7:15
      – Fred Yeomans presents about MS Surface</P>\r\n<H4>Event Sponsors</H4>\r\n<P>This
      event would not be possible without the following sponsors:</P>\r\n<P>Venue
      is provided by:<BR><A HREF=\"http://www.t4g.com/\" TARGET=\"_blank\" REL=\"nofollow
      noopener noreferrer\"><IMG CLASS=\"alignnone size-full wp-image-104\" TITLE=\"T4G\"
      ALT=\"msdn\" WIDTH=\"201\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F03%2FT4G-logo.jpg&sig=ADR2i7_vJ54hCe1T4hK5t1qJ38SdFDfoyA\"></IMG></A></P>\r\n<P>Food
      and beverages provided by:<BR><A HREF=\"http://techsoutheast.ca/\" TARGET=\"_blank\"
      REL=\"nofollow noopener noreferrer\"><IMG CLASS=\"alignnone size-full wp-image-143\"
      TITLE=\"Tech South East\" ALT=\"Tech South East\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Ftechsoutheast-h-clearbg.png&sig=ADR2i7_RqGotJwgeO1Y97GpJDGeJgcfW5Q\"></IMG></A></P>\r\n<H4>Speaker
      Bio</H4>\r\n<P><EM>Fred Yeomans has been working in the world of technology
      for 25-odd years. He is an entrepreneur and consultant, focused on software
      solutions, social networking, and innovation processes. Currently, he works
      a Principal Consultant with T4G Limited, specializing in Portal Technologies
      (including SharePoint), software/systems development, service oriented architectures,
      and many other things which he will probably not remember until he need to use
      them.</EM></P>\r\n<P>\r\n<EM>\r\n</EM></P>\r\n<P><EM>Before T4G, he was VP of
      Technology at Whitehill Technologies, Inc., where he spent almost 9 years helping
      to grow the company from a start-up to one of the most successful private software
      companies in Canada. Prior to that he worked on internet conferencing using
      early VoIP, and on large military communications projects. Before even that,
      he worked in satellite operations and control, and remote sensing. Going way
      back to university, my focus was on theoretical physics and astrophysics.<BR>Currently
      his interests revolve around most aspects of software development, from technologies
      to management, and in the area of defining sustainable, repeatable processes
      for innovation within technology organizations. He also has a particular interest
      in Tablet PC technologies.</EM></P>\r\n<P><EM>\r\n</EM></P>\r\n<P><EM>On the
      personal side, Fred has a strong interest in all aspects of science, especially
      physical sciences, as well as philosophy and comparative religion. In addition,
      he is into music, playing guitar and reading almost anything he can lay his
      hands on.<BR>He is also a member of the IEEE/IEEE Computer Society, and of the
      Association for Computing Machinery.</EM></P>\r\n<P><EM>\r\n</EM></P>\r\n<P><EM>Fred
      is on Twitter as @FYeomans</EM></P>\r\n<P><EM>\r\n</EM></P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>"
  id: '1378823097'
  url: https://www.eventbrite.ca/e/moncton-ug-presents-microsoft-surface-tickets-1378823097
  vanity_url: https://monctonug-mssurface.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-03-22T18:30:00'
    utc: '2011-03-22T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2011-03-22T21:00:00'
    utc: '2011-03-23T00:00:00Z'
  organization_id: '791166669'
  created: '2011-03-03T13:22:28Z'
  changed: '2014-12-29T17:45:26Z'
  published: '2011-03-03T13:25:30Z'
  capacity: 20
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source:
  is_free: true
  version: 3.0.0
  summary: The Microsoft Surface® platform brings people together to connect, learn,
    and decide. It enables experiences that change the way people coll
  logo_id:
  organizer_id: '860299233'
  venue_id:
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/1378823097/
  is_externally_ticketed: false
  logo:
description: "<p>The Microsoft Surface® platform brings people together to connect,
  learn, and decide. It enables experiences that change the way people collaborate
  and connect with a 360-degree interface. And, with PixelSense™, Microsoft Surface
  sees and responds to touch and real world objects—supporting more than 50 simultaneous
  inputs.</p>\r\n<p> </p>\r\n<h4>Schedule</h4>\r\n<p>6:30 – Meet and Greet – Includes
  pizza and beverages generously provided by <em>Tech South East</em></p>\r\n<p>7:15
  – Fred Yeomans presents about MS Surface</p>\r\n<h4>Event Sponsors</h4>\r\n<p>This
  event would not be possible without the following sponsors:</p>\r\n<p>Venue is provided
  by:<br><a href=\"http://www.t4g.com/\" target=\"_blank\" rel=\"nofollow noopener
  noreferrer\"><img class=\"alignnone size-full wp-image-104\" title=\"T4G\" alt=\"msdn\"
  width=\"201\" src=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F03%2FT4G-logo.jpg&amp;sig=ADR2i7_vJ54hCe1T4hK5t1qJ38SdFDfoyA\"></a></p>\r\n<p>Food
  and beverages provided by:<br><a href=\"http://techsoutheast.ca/\" target=\"_blank\"
  rel=\"nofollow noopener noreferrer\"><img class=\"alignnone size-full wp-image-143\"
  title=\"Tech South East\" alt=\"Tech South East\" width=\"200\" src=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Ftechsoutheast-h-clearbg.png&amp;sig=ADR2i7_RqGotJwgeO1Y97GpJDGeJgcfW5Q\"></a></p>\r\n<h4>Speaker
  Bio</h4>\r\n<p><em>Fred Yeomans has been working in the world of technology for
  25-odd years. He is an entrepreneur and consultant, focused on software solutions,
  social networking, and innovation processes. Currently, he works a Principal Consultant
  with T4G Limited, specializing in Portal Technologies (including SharePoint), software/systems
  development, service oriented architectures, and many other things which he will
  probably not remember until he need to use them.</em></p>\r\n<p>\r\n<em>\r\n</em></p>\r\n<p><em>Before
  T4G, he was VP of Technology at Whitehill Technologies, Inc., where he spent almost
  9 years helping to grow the company from a start-up to one of the most successful
  private software companies in Canada. Prior to that he worked on internet conferencing
  using early VoIP, and on large military communications projects. Before even that,
  he worked in satellite operations and control, and remote sensing. Going way back
  to university, my focus was on theoretical physics and astrophysics.<br>Currently
  his interests revolve around most aspects of software development, from technologies
  to management, and in the area of defining sustainable, repeatable processes for
  innovation within technology organizations. He also has a particular interest in
  Tablet PC technologies.</em></p>\r\n<p><em>\r\n</em></p>\r\n<p><em>On the personal
  side, Fred has a strong interest in all aspects of science, especially physical
  sciences, as well as philosophy and comparative religion. In addition, he is into
  music, playing guitar and reading almost anything he can lay his hands on.<br>He
  is also a member of the IEEE/IEEE Computer Society, and of the Association for Computing
  Machinery.</em></p>\r\n<p><em>\r\n</em></p>\r\n<p><em>Fred is on Twitter as @FYeomans</em></p>\r\n<p><em>\r\n</em></p>\r\n<p> </p>\r\n<p> </p>\r\n<p> </p>\r\n<p> </p>"
---
