---
title: 'May 6th – Moncton AzureFest: Cloud Development Crash Course'
date: 2011-05-06 18:00 UTC
eventbrite:
  name:
    text: 'May 6th – Moncton AzureFest: Cloud Development Crash Course'
    html: 'May 6th – Moncton AzureFest: Cloud Development Crash Course'
  description:
    text: "\r\n\r\nOn Friday May 6th. MonctonUG and Microsoft presents Moncton Azurefest.\r\n\r\n\r\nFinding
      the time to learn about the Cloud and how to extend your skills to build solutions
      for the Cloud can be a challenge when your schedule is defined by application
      build, test, and deployment milestones. With this type of schedule, chances
      are you find learning new concepts in one condensed sprint much easier than
      trying to squeeze some learning into an hour here and an hour, between your
      other tasks. If that’s the case for you, you’ll want to check out AzureFest,
      a hands-on educational event designed by Canada’s own MVPs Cory Fowler (@SyntaxC4)
      and Barry Gervin (@bgervin) from ObjectSharp.\r\n\r\n\r\nAt AzureFest, you’ll
      see how developing and deploying applications to Windows Azure is fast and easy,
      leveraging the skills you already have (.NET, Java, PHP, or Ruby) and the tools
      you already know (Visual Studio, Eclipse, etc.).\r\n\r\nAzureFest sessions are
      delivered with examples using .NET and Visual Studio, but the concepts are the
      same regardless of the language and tools.\r\nYou’ll learn everything to you
      need to know to get up and running with Windows Azure quickly including:\r\n\r\nOverview
      of Cloud Computing and Windows Azure\r\nSetting up the Windows Azure SDK and
      Windows Azure Tools for Visual Studio\r\nSetting up your Windows Azure account\r\nMigrating
      a traditional on-premise ASP.NET MVC application to the Cloud\r\nDeploying solutions
      to Windows Azure\r\n\r\nAzureFest is a hands-on event. This means that you’ll
      be following along in your own development environment and actually deploying
      your solution during the event. In order to get the most out of the experience,
      you’ll need to bring a laptop with you that is running Windows Vista SP1 or
      Windows 7 and has the Windows Azure Tools for Visual Studio installed.You’ll
      also need to bring a credit card. Windows Azure activations require a credit
      card even for the trial period, but don’t worry, nothing will be charged to
      your credit card as the last part of the event shows you how to take down all
      of your Windows Azure instances.\r\nRegistration\r\nYou can register for either
      event using this link. Please choose the “Afternoon” ticket or the “Evening”
      ticket accordingly\r\nhttp://monctonug-azurefest.eventbrite.com/\r\nDate and
      Times\r\nFriday, May 6th 2011from 6:00 to 9:00pm\r\nLocation\r\nGreater Moncton
      Chamber of Commerce Board Room – First Floor1273 Main Street, Suite 200Moncton,
      NB E1C 0P4\r\n\r\nView Larger Map Get Directions View Bird’s Eye\r\n\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood,
      presenter and beverages provided by:\r\nSpeaker Bio\r\nCory Fowler refers to
      himself as a ‘Developer as a Service’. He is a Technology Community Leader,
      Mentor and Speaker that enjoys sharing his passion for Software Development
      with others. Cory has been awarded with a Microsoft MVP award for his Focus
      on Windows Azure (Microsoft’s Cloud Computing Platform). Even with his head
      in the Clouds, Cory finds himself developing a wide range of Solutions including
      but not limited to Websites (with ASP.NET MVC & Silverlight), Windows Phone
      7 Applications (with Silverlight & XNA) and other solutions using the C# Programming
      Language. Even though Cory works primarily on the Microsoft Stack, he has worked
      with Open Source Languages in the Past and supports a number of Open Source
      Software Projects.\r\n\r\n \r\n \r\n "
    html: "<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">On
      Friday May 6th. MonctonUG and Microsoft presents Moncton Azurefest.</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Finding
      the time to learn about the Cloud and how to extend your skills to build solutions
      for the Cloud can be a challenge when your schedule is defined by application
      build, test, and deployment milestones. With this type of schedule, chances
      are you find learning new concepts in one condensed sprint much easier than
      trying to squeeze some learning into an hour here and an hour, between your
      other tasks. If that’s the case for you, you’ll want to check out AzureFest,
      a hands-on educational event designed by Canada’s own MVPs Cory Fowler (@SyntaxC4)
      and Barry Gervin (@bgervin) from ObjectSharp.</FONT></P>\r\n<P><FONT FACE=\"Tahoma,
      Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">At
      AzureFest, you’ll see how developing and deploying applications to Windows Azure
      is fast and easy, leveraging the skills you already have (.NET, Java, PHP, or
      Ruby) and the tools you already know (Visual Studio, Eclipse, etc.).</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n<P>AzureFest
      sessions are delivered with examples using .NET and Visual Studio, but the concepts
      are the same regardless of the language and tools.</P>\r\n<P>You’ll learn everything
      to you need to know to get up and running with Windows Azure quickly including:</P>\r\n<UL>\r\n<LI>Overview
      of Cloud Computing and Windows Azure</LI>\r\n<LI>Setting up the Windows Azure
      SDK and Windows Azure Tools for Visual Studio</LI>\r\n<LI>Setting up your Windows
      Azure account</LI>\r\n<LI>Migrating a traditional on-premise ASP.NET MVC application
      to the Cloud</LI>\r\n<LI>Deploying solutions to Windows Azure</LI>\r\n</UL>\r\n<P>AzureFest
      is a hands-on event. This means that you’ll be following along in your own development
      environment and actually deploying your solution during the event. In order
      to get the most out of the experience, you’ll need to bring a laptop with you
      that is running Windows Vista SP1 or Windows 7 and has the Windows Azure Tools
      for Visual Studio installed.<BR>You’ll also need to bring a credit card. Windows
      Azure activations require a credit card even for the trial period, but don’t
      worry, nothing will be charged to your credit card as the last part of the event
      shows you how to take down all of your Windows Azure instances.</P>\r\n<H4>Registration</H4>\r\n<P>You
      can register for either event using this link. Please choose the “Afternoon”
      ticket or the “Evening” ticket accordingly</P>\r\n<P><A HREF=\"http://monctonug-azurefest.eventbrite.com/\">http://monctonug-azurefest.eventbrite.com/</A></P>\r\n<H4>Date
      and Times</H4>\r\n<P>Friday, May 6th 2011<BR>from 6:00 to 9:00pm</P>\r\n<H4>Location</H4>\r\n<P>Greater
      Moncton Chamber of Commerce Board Room – First Floor<BR>1273 Main Street, Suite
      200<BR>Moncton, NB E1C 0P4</P>\r\n<DIV ID=\"mapviewer\">\r\n<DIV ID=\"LME_maplinks\"><A
      ID=\"LME_largerMap\" HREF=\"http://www.bing.com/maps/?mm_embed=map&cp=46.08515438681402~-64.78865412693722&lvl=16&sty=r&where1=1273+Main+St%2C+Moncton%2C+NB%2C+E1C\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">View Larger Map</A> <A
      ID=\"LME_directions\" HREF=\"http://www.bing.com/maps/?mm_embed=dir&cp=46.08515438681402~-64.78865412693722&rtp=~pos.46.08528416040826_-64.78872242882892_1273+Main+St%2C+Moncton%2C+NB%2C+E1C&lvl=16&sty=r\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">Get Directions</A> <A
      ID=\"LME_birdsEye\" HREF=\"http://www.bing.com/maps/?mm_embed=be&cp=46.08515438681402~-64.78865412693722&lvl=1&sty=b&where1=1273+Main+St%2C+Moncton%2C+NB%2C+E1C\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">View Bird’s Eye</A></DIV>\r\n</DIV>\r\n<H4>Event
      Sponsors</H4>\r\n<P>This event would not be possible without the following sponsors:</P>\r\n<P>Food,
      presenter and beverages provided by:<BR><A HREF=\"http://msdn.microsoft.ca/\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\"><IMG CLASS=\"alignnone
      size-full wp-image-143\" TITLE=\"Microsoft Canada\" ALT=\"Microsoft Canada\"
      WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<H4>Speaker
      Bio</H4>\r\n<P>Cory Fowler refers to himself as a ‘Developer as a Service’.
      He is a Technology Community Leader, Mentor and Speaker that enjoys sharing
      his passion for Software Development with others. Cory has been awarded with
      a Microsoft MVP award for his Focus on Windows Azure (Microsoft’s Cloud Computing
      Platform). Even with his head in the Clouds, Cory finds himself developing a
      wide range of Solutions including but not limited to Websites (with ASP.NET
      MVC &amp; Silverlight), Windows Phone 7 Applications (with Silverlight &amp;
      XNA) and other solutions using the C# Programming Language. Even though Cory
      works primarily on the Microsoft Stack, he has worked with Open Source Languages
      in the Past and supports a number of Open Source Software Projects.</P>\r\n</FONT></P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>"
  id: '1556825507'
  url: https://www.eventbrite.ca/e/may-6th-moncton-azurefest-cloud-development-crash-course-tickets-1556825507
  vanity_url: https://monctonug-azurefest.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-05-06T18:00:00'
    utc: '2011-05-06T21:00:00Z'
  end:
    timezone: America/Halifax
    local: '2011-05-06T22:00:00'
    utc: '2011-05-07T01:00:00Z'
  organization_id: '791166669'
  created: '2011-04-11T17:42:20Z'
  changed: '2014-12-29T17:47:28Z'
  capacity: 20
  capacity_is_custom: true
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source:
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '944761'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/1556825507/
  logo:
---
