---
title: MonctonUG Presents ASP.net MVC 3 w / Razor
date: 2011-02-15 18:25 UTC
eventbrite:
  name:
    text: MonctonUG Presents ASP.net MVC 3 w / Razor
    html: MonctonUG Presents ASP.net MVC 3 w / Razor
  description:
    text: "This February 15th, Adam Greene of Trimedia Atlantic will be presenting
      on ASP.net MVC 3 with Razor \nASP.NET MVC 3 is a framework for building scalable,
      standards-based web applications using well-established design patterns and
      the power of ASP.NET and the .NET Framework. \n  "
    html: "<P>This February 15th, Adam Greene of Trimedia Atlantic will be presenting
      on ASP.net MVC 3 with Razor</P>\r\n<P>ASP.NET MVC 3 is a framework for building
      scalable, standards-based web applications using well-established design patterns
      and the power of ASP.NET and the .NET Framework.</P>\r\n<P> </P>"
  id: '1254800141'
  url: http://www.eventbrite.ca/e/monctonug-presents-aspnet-mvc-3-w-razor-tickets-1254800141
  vanity_url: http://monctonug-feb15-mvc3.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-02-15T18:25:00'
    utc: '2011-02-15T22:25:00Z'
  end:
    timezone: America/Halifax
    local: '2011-02-15T21:00:00'
    utc: '2011-02-16T01:00:00Z'
  created: '2011-01-27T20:31:07Z'
  changed: '2014-12-29T17:44:02Z'
  capacity: 35
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '782915'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/1254800141/
  logo:
---
