---
title: A Lap Around Windows Phone 7.5 (codenamed Mango)
date: 2011-12-15 18:30 UTC
eventbrite:
  name:
    text: A Lap Around Windows Phone 7.5 (codenamed Mango)
    html: A Lap Around Windows Phone 7.5 (codenamed Mango)
  description:
    text: "On Thursday December 15th. MonctonUG presents “A Lap Around Windows Phone
      7.5 (codenamed Mango)”, by Atley Hunter \nIn this session, Atley will provide
      an overview of some of the hot, new features found in the Windows Phone Mango
      release and how you can use them in your Mango apps. Features such as taking
      advantage of multitasking and background agents, live tiles, augmented reality
      with the camera, use of the gyroscope API, socket support, local database support
      and many others will be discussed. By the end of this session, you will have
      the base knowledge of the Mango development process and how to leverage its
      features within your apps. \nRegistration \nhttp://monctonug-mango.eventbrite.com/
      \nDate and Times \nThursday, December 15th 2011 from 6:30 to 9:00pm \nLocation
      \n795 Main Street – Second Floor Board room Moncton, NB \nDirections \nEvent
      Sponsors \nThis event would not be possible without the following sponsors:
      \nPrize:  \nFood:  \nSpeaker Bio Atley has been a developer for more than 15
      years and a mobile developer since way before it was cool. A MVP for Windows
      Phone Development with over 30 apps under his belt and numerous talks, blog
      postings and HackFests, he is always working to expand his development knowledge
      and share it to anyone who wants to know. Active on LinkedIn (http://www.linkedin.com/in/AtleyHunter),
      Twitter (http://twitter.com/AtleyHunter) and on his blog (www.atleyhunter.com),
      he is never far from reach and always happy to help. \nTwitter: @AtleyHunter "
    html: "<P STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\">On
      Thursday December 15th. MonctonUG presents “A Lap Around Windows Phone 7.5 (codenamed
      Mango)”, by Atley Hunter</P>\r\n<P STYLE=\"margin-bottom: 18px; padding-bottom:
      0px; line-height: 18px;\">In this session, Atley will provide an overview of
      some of the hot, new features found in the Windows Phone Mango release and how
      you can use them in your Mango apps. Features such as taking advantage of multitasking
      and background agents, live tiles, augmented reality with the camera, use of
      the gyroscope API, socket support, local database support and many others will
      be discussed. By the end of this session, you will have the base knowledge of
      the Mango development process and how to leverage its features within your apps.</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;
      font-size: 14px; line-height: 20px; color: #555555; padding: 0px;\">Registration</H4>\r\n<P
      STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\"><A STYLE=\"color:
      #333333; text-decoration: underline; padding: 0px; margin: 0px;\" HREF=\"http://monctonug-mango.eventbrite.com/\"
      TARGET=\"_blank\">http://monctonug-mango.eventbrite.com/</A></P>\r\n<H4 STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-weight: bold; font-size: 14px;
      line-height: 20px; color: #555555; padding: 0px;\">Date and Times</H4>\r\n<P
      STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\">Thursday,
      December 15th 2011<BR STYLE=\"padding: 0px; margin: 0px;\">from 6:30 to 9:00pm</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;
      font-size: 14px; line-height: 20px; color: #555555; padding: 0px;\">Location</H4>\r\n<P
      STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\">795 Main
      Street – Second Floor Board room<BR STYLE=\"padding: 0px; margin: 0px;\">Moncton,
      NB</P>\r\n<P STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height:
      18px;\"><A STYLE=\"color: #333333; text-decoration: underline; padding: 0px;
      margin: 0px;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-weight: bold; font-size: 14px; line-height: 20px;
      color: #555555; padding: 0px;\">Event Sponsors</H4>\r\n<P STYLE=\"margin-bottom:
      18px; padding-bottom: 0px; line-height: 18px;\">This event would not be possible
      without the following sponsors:</P>\r\n<P STYLE=\"margin-bottom: 18px; padding-bottom:
      0px; line-height: 18px;\">Prize:<BR STYLE=\"padding: 0px; margin: 0px;\"><A
      STYLE=\"color: #333333; text-decoration: underline; padding: 0px; margin: 0px;\"
      HREF=\"http://www.cognitivex.com/\" TARGET=\"_blank\" REL=\"nofollow\"><IMG
      STYLE=\"border-width: 1px; border-color: initial; background-image: initial;
      background-attachment: initial; background-origin: initial; background-clip:
      initial; background-color: #ffffff; border-style: solid; padding: 5px; margin:
      0px;\" ALT=\"Cognitive X Solutions - Home\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fwww.cognitivex.com%2Fwp-content%2Fthemes%2Fcognitivex%2Fimages%2Flogo.png&sig=ADR2i7-lHafXCItEv5WZo3_ysTvVS4p5wA\"></IMG></A></P>\r\n<P
      STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\">Food:<BR
      STYLE=\"padding: 0px; margin: 0px;\"><A STYLE=\"color: #333333; text-decoration:
      underline; padding: 0px; margin: 0px;\" HREF=\"http://msdn.microsoft.ca/\" REL=\"nofollow\"><IMG
      STYLE=\"border-width: 1px; border-color: initial; background-image: initial;
      background-attachment: initial; background-origin: initial; background-clip:
      initial; background-color: #ffffff; border-style: solid; padding: 5px; margin:
      0px;\" TITLE=\"Microsoft Developer Network\" ALT=\"\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<P
      STYLE=\"margin-bottom: 18px; padding-bottom: 0px; line-height: 18px;\">Speaker
      Bio<BR STYLE=\"padding: 0px; margin: 0px;\">Atley has been a developer for more
      than 15 years and a mobile developer since way before it was cool. A MVP for
      Windows Phone Development with over 30 apps under his belt and numerous talks,
      blog postings and HackFests, he is always working to expand his development
      knowledge and share it to anyone who wants to know. Active on LinkedIn (http://www.linkedin.com/in/AtleyHunter),
      Twitter (http://twitter.com/AtleyHunter) and on his blog (www.atleyhunter.com),
      he is never far from reach and always happy to help.</P>\r\n<P STYLE=\"margin-bottom:
      18px; padding-bottom: 0px; line-height: 18px;\">Twitter: @AtleyHunter</P>"
  id: '2380325618'
  url: http://www.eventbrite.ca/e/a-lap-around-windows-phone-75-codenamed-mango-tickets-2380325618
  vanity_url: http://monctonug-mango.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-12-15T18:30:00'
    utc: '2011-12-15T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2011-12-15T21:00:00'
    utc: '2011-12-16T01:00:00Z'
  created: '2011-10-21T14:12:27Z'
  changed: '2014-12-29T17:56:51Z'
  capacity: 25
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en
  logo_id:
  organizer_id: '860299233'
  venue_id: '1289550'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/2380325618/
  logo:
---
