---
title: Migrating to Windows 7 with virtualization
date: 2011-04-12 13:00 UTC
eventbrite:
  name:
    text: Migrating to Windows 7 with virtualization
    html: Migrating to Windows 7 with virtualization
  description:
    text: "\r\n\r\nOn April 12th MonctonUG, Microsoft and Tech South East will be
      proud to present Bradley Bird.\r\n\r\n\r\nBrad is a lead technical consultant
      and MCT certified trainer based in Ottawa, ON. He works with Cistel, a Microsoft
      GOLD partner based in Ottawa as a System Center and Virtualization architect.
      He will talk to us about techniques for virtualizing your Windows XP only components.
      And why there is no reason you can’t migrate to Windows 7 today.\r\n\r\n\r\nPlease
      note that this event will have two identical sessions. One in the afternoon
      and the other at our typical schedule.\r\n\r\n\r\nDate and Time\r\n\r\n\r\nTuesday,
      April 12th 2011Afternoon Presentation – from 1:00 to 4:30pmEvening Presentation
      – from 6:30pm to 9:30pm\r\n\r\n\r\nLocation\r\n\r\nDieppe City Hall333 Acadie
      AvenueDieppe, NB E1A 1G9\r\nSche\r\nEvent Sponsors\r\nThis event would not be
      possible without the following sponsors:\r\nVenue is provided by:in association
      with\r\nFood and beverages provided by:\r\nSpeaker Bio\r\nBrad is a lead technical
      consultant and MCT certified trainer based in Ottawa, ON. He works with Cistel,
      a Microsoft GOLD partner based in Ottawa as a System Center and Virtualization
      architect. 3-time recipient of the Microsoft Most Valuable Professional (MVP)
      award for 2010 and 2011 in the Virtual Machine domain and Management Infrastructure
      in 2009. He is also a member of the Windows Springboard Technical Expert Panel
      (STEP) for Windows 7 and Server 2008 R2 having delivered STEP presentations
      as an evangelist in Quebec City, QC and St-Johns, Newfoundland.\r\nBrad is a
      writer for Tech Republic and contributes monthly to the Network Administration
      and IT Security weblogs. Brad has authored Microsoft partner training courses
      for System Center Configuration Manager 2007 which have been delivered around
      the world. Brad also authored some webcasts on Data Protection Manager 2007
      including 300 level “Protecting Applications with DPM2007” and 400 level “Advanced
      Features and Capabilities of DPM2007” also used in Microsoft partner training.
      Brad is also a Microsoft Certified Trainer having delivered courses in Security+,
      AD, AD Security, SCOM, SCCM, DPM, VMM, and Microsoft Desktop Optimization Platform.\r\nBrad
      actively consults to large organizations helping them architect, implement,
      configure and customize System Center technologies integrating them into their
      business processes. He is also an active consultant, and contributor to the
      support community. Brad presented in the Architecture, Management and Virtualization
      Tracks for TechDays 2008, 2009 and 2010 in Montreal, Ottawa, Edmonton, Toronto,
      Halifax, and Calgary as well as at the 2009 Microsoft Management Summit in Las
      Vegas. He was the Systems Management and Security track co-lead Microsoft Canada
      representative for TechDays 2009 in Canada and a representative for Canada at
      TechEd 2009 in Los Angeles, CA.\r\nBrad maintains a weblog “Rantings of an IT
      Pirate” at http://owsug.ca/blogs/brad/default.aspx where content is replicated
      to the popular MyITForum and “The Lazy Admin” websites. He has extensive experience
      with Active Directory Services, virtualization, and Microsoft System Center
      and Virtualization technologies in the enterprise.\r\n\r\n \r\n \r\n \r\n \r\n \r\n "
    html: "<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">On
      April 12th MonctonUG, Microsoft and Tech South East will be proud to present
      Bradley Bird.</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\"
      SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial,
      Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Brad is a lead technical
      consultant and MCT certified trainer based in Ottawa, ON. He works with Cistel,
      a Microsoft GOLD partner based in Ottawa as a System Center and Virtualization
      architect. He will talk to us about techniques for virtualizing your Windows
      XP only components. And why there is no reason you can’t migrate to Windows
      7 today.</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\"
      SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial,
      Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\"><EM><STRONG>Please note
      that this event will have two identical sessions. One in the afternoon and the
      other at our typical schedule.</STRONG></EM></FONT></P>\r\n<P><FONT FACE=\"Tahoma,
      Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<H4><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Date
      and Time</FONT></H4>\r\n<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\"
      SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial,
      Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Tuesday, April 12th 2011<BR>Afternoon
      Presentation – from 1:00 to 4:30pm<BR>Evening Presentation – from 6:30pm to
      9:30pm</FONT></P>\r\n<P><FONT FACE=\"Tahoma, Arial, Helvetica, sans-serif\"
      SIZE=\"0\" COLOR=\"#333333\">\r\n</FONT></P>\r\n<H4><FONT FACE=\"Tahoma, Arial,
      Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">Location</FONT></H4>\r\n<P><FONT
      FACE=\"Tahoma, Arial, Helvetica, sans-serif\" SIZE=\"0\" COLOR=\"#333333\">\r\n<P>Dieppe
      City Hall<BR>333 Acadie Avenue<BR>Dieppe, NB E1A 1G9</P>\r\n<H4>Sche</H4>\r\n<H4>Event
      Sponsors</H4>\r\n<P>This event would not be possible without the following sponsors:</P>\r\n<P>Venue
      is provided by:<BR><A HREF=\"http://www.dieppe.ca/\" TARGET=\"_blank\" REL=\"noopener
      noreferrer nofollow\"><IMG CLASS=\"alignnone size-full wp-image-104\" TITLE=\"City
      Of Dieppe\" ALT=\"msdn\" WIDTH=\"201\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F03%2FDieppe_NB_logo.png&sig=ADR2i7-V35wJcyAuyVntxqJmW-DIxh4gcQ\"></IMG></A><BR>in
      association with<BR><A HREF=\"http://techsoutheast.ca/\" TARGET=\"_blank\" REL=\"noopener
      noreferrer nofollow\"><IMG CLASS=\"alignnone size-full wp-image-143\" TITLE=\"Tech
      South East\" ALT=\"Tech South East\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Ftechsoutheast-h-clearbg.png&sig=ADR2i7_RqGotJwgeO1Y97GpJDGeJgcfW5Q\"></IMG></A></P>\r\n<P>Food
      and beverages provided by:<BR><A HREF=\"http://msdn.microsoft.ca/\" TARGET=\"_blank\"
      REL=\"noopener noreferrer nofollow\"><IMG CLASS=\"alignnone size-full wp-image-143\"
      TITLE=\"Microsoft Canada\" ALT=\"Microsoft Canada\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<H4>Speaker
      Bio</H4>\r\n<P>Brad is a lead technical consultant and MCT certified trainer
      based in Ottawa, ON. He works with Cistel, a Microsoft GOLD partner based in
      Ottawa as a System Center and Virtualization architect. 3-time recipient of
      the Microsoft Most Valuable Professional (MVP) award for 2010 and 2011 in the
      Virtual Machine domain and Management Infrastructure in 2009. He is also a member
      of the Windows Springboard Technical Expert Panel (STEP) for Windows 7 and Server
      2008 R2 having delivered STEP presentations as an evangelist in Quebec City,
      QC and St-Johns, Newfoundland.</P>\r\n<P>Brad is a writer for Tech Republic
      and contributes monthly to the Network Administration and IT Security weblogs.
      Brad has authored Microsoft partner training courses for System Center Configuration
      Manager 2007 which have been delivered around the world. Brad also authored
      some webcasts on Data Protection Manager 2007 including 300 level “Protecting
      Applications with DPM2007” and 400 level “Advanced Features and Capabilities
      of DPM2007” also used in Microsoft partner training. Brad is also a Microsoft
      Certified Trainer having delivered courses in Security+, AD, AD Security, SCOM,
      SCCM, DPM, VMM, and Microsoft Desktop Optimization Platform.</P>\r\n<P>Brad
      actively consults to large organizations helping them architect, implement,
      configure and customize System Center technologies integrating them into their
      business processes. He is also an active consultant, and contributor to the
      support community. Brad presented in the Architecture, Management and Virtualization
      Tracks for TechDays 2008, 2009 and 2010 in Montreal, Ottawa, Edmonton, Toronto,
      Halifax, and Calgary as well as at the 2009 Microsoft Management Summit in Las
      Vegas. He was the Systems Management and Security track co-lead Microsoft Canada
      representative for TechDays 2009 in Canada and a representative for Canada at
      TechEd 2009 in Los Angeles, CA.</P>\r\n<P>Brad maintains a weblog “Rantings
      of an IT Pirate” at http://owsug.ca/blogs/brad/default.aspx where content is
      replicated to the popular MyITForum and “The Lazy Admin” websites. He has extensive
      experience with Active Directory Services, virtualization, and Microsoft System
      Center and Virtualization technologies in the enterprise.</P>\r\n</FONT></P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>\r\n<P> </P>"
  id: '1430527747'
  url: https://www.eventbrite.ca/e/migrating-to-windows-7-with-virtualization-tickets-1430527747
  vanity_url: https://monctonug-w7.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2011-04-12T13:00:00'
    utc: '2011-04-12T16:00:00Z'
  end:
    timezone: America/Halifax
    local: '2011-04-12T21:30:00'
    utc: '2011-04-13T00:30:00Z'
  created: '2011-03-14T00:05:29Z'
  changed: '2014-12-29T17:46:01Z'
  capacity: 80
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source:
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '879707'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/1430527747/
  logo:
---
