---
title: Vacate entry port, program! I said, move!
date: 2012-02-07 18:30 UTC
eventbrite:
  name:
    text: Vacate entry port, program! I said, move!
    html: Vacate entry port, program! I said, move!
  description:
    text: "On Tuesday February 7th. MonctonUG presents \"How I got into programming\",
      by Justin Vaillancourt Find out what got Justin interested in programming and
      information technology.\r\nDate and Times\r\nTuesday , February 7th 2012 from
      6:30 to 9:30pm\r\nLocation\r\n795 Main Street - Second Floor Board room Moncton,
      NB Directions\r\nEvent Sponsors\r\nThis event would not be possible without
      the following sponsors: Prize: TBD Food: TBD Speaker Bio Justin is a developer
      with many years experience building cool products. He's built software for Lymbix
      and most recently founded clarity.fm. Twitter: @jvaill"
    html: "<P>On Tuesday February 7th. MonctonUG presents \"How I got into programming\",
      by Justin Vaillancourt Find out what got Justin interested in programming and
      information technology.</P>\r\n<H4>Date and Times</H4>\r\n<P>Tuesday , February
      7th 2012 from 6:30 to 9:30pm</P>\r\n<H4>Location</H4>\r\n<P>795 Main Street
      - Second Floor Board room Moncton, NB <A HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H4>Event Sponsors</H4>\r\n<P>This event
      would not be possible without the following sponsors: Prize: TBD Food: TBD Speaker
      Bio Justin is a developer with many years experience building cool products.
      He's built software for Lymbix and most recently founded clarity.fm. Twitter:
      @jvaill</P>"
  id: '2840378649'
  url: https://www.eventbrite.ca/e/vacate-entry-port-program-i-said-move-tickets-2840378649
  vanity_url: https://vacate-entry-port-program-i-said-move.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-02-07T18:30:00'
    utc: '2012-02-07T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-02-07T21:30:00'
    utc: '2012-02-08T01:30:00Z'
  created: '2012-01-25T15:55:22Z'
  changed: '2014-12-29T18:02:05Z'
  capacity: 25
  capacity_is_custom: true
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '1606461'
  category_id: '115'
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/2840378649/
  logo:
---
