---
title: Web, HTML5 + Cloud Workshop
date: 2012-03-31 08:30 UTC
eventbrite:
  name:
    text: Web, HTML5 + Cloud Workshop
    html: Web, HTML5 + Cloud Workshop
  description:
    text: " \r\nWeb + Cloud Workshop\r\nBrought to you by Microsoft Canada, Cognitive
      X Solutions and the Moncton User Group, this Web + Cloud Application Workshop
      is designed to help you learn some of the latest techniques being applied in
      web development and cloud development.\r\nThe morning will consist of two technical
      presentations which will introduce you to skills that can be applied during
      the afternoon of hands-on application development. The goal of the afternoon
      development session is to help you get started, take the next steps, or put
      the finishing touches on your next web application with the support of local
      technical experts. Don’t forget to apply what you learn during the morning session
      on cloud development to take advantage of the full breadth of services offered
      by the cloud!\r\nBreakfast and lunch will be served at the event.\r\n  \r\nAgenda\r\n\r\n\r\n\r\n8:30AM
      – 9:00AM\r\nRegistration & Breakfast\r\n\r\n\r\n9:00AM – 10:45AM\r\n\r\nApplication
      Development with HTML5 Adam Greene, Software Solutions Specialist at Cognitive
      X Solutions, @aspnetaddict\r\n HTML5 is the biggest and most powerful HTML specification
      to ever come out of the W3C. Its roots come from a proposal to extend HTML4
      to make it easier for web developers to create web applications. With more and
      more browsers supporting HTML5, ECMAScript 5 and other web standards, developers
      now have a strong web platform they can use to create a new class of application
      that is more powerful and interactive than ever before. What's in HTML5 that
      lets us take our applications to the next level?\r\n\r\n\r\n\r\n10:45AM – 11:00AM\r\n\r\nBreak\r\n\r\n\r\n\r\n11:00AM
      – 12:00PM\r\n\r\nSecuring, Connecting, and Scaling Your Web Application Using
      Windows Azure Adam Greene, Software Solutions Specialist at Cognitive X Solutions,
      @aspnetaddict\r\n In this session, you will learn how you can leverage Windows
      Azure to easily handle authentication and authorization in your web applications,
      connect and send messages to tiers of your application, and scale out your application
      to realize the benefits of cloud computing.\r\n\r\n\r\n\r\n12:00PM – 12:45PM\r\nLunch\r\n\r\n\r\n12:45PM
      – 4:00PM\r\n\r\nWeb Application Workshop\r\n In the workshop, you will be able
      to start and/or continue building web apps based on the knowledge you have gained
      in the morning session with web development experts in attendance. In order
      to participate in the workshop, you will need to bring your own PC running Windows
      7 or Windows Vista. We also highly encourage you to download the tooling for
      Web Development and Windows Azure in advance of the workshop; otherwise you
      will be spending much of your time downloading and installing the tools during
      the workshop itself.\r\n\r\n\r\n\r\n"
    html: "<P> </P>\r\n<P><STRONG><SPAN STYLE=\"text-decoration: underline;\">Web
      + Cloud Workshop</SPAN></STRONG></P>\r\n<P>Brought to you by Microsoft Canada,
      <A HREF=\"http://cognitivex.com\" TARGET=\"_blank\" REL=\"nofollow noopener
      noreferrer\">Cognitive X Solutions</A> and the <A HREF=\"http://moncton.deveast.com\"
      TARGET=\"_blank\" REL=\"nofollow noopener noreferrer\">Moncton User Group</A>,
      this Web + Cloud Application Workshop is designed to help you learn some of
      the latest techniques being applied in web development and cloud development.</P>\r\n<P>The
      morning will consist of two technical presentations which will introduce you
      to skills that can be applied during the afternoon of hands-on application development.
      The goal of the afternoon development session is to help you get started, take
      the next steps, or put the finishing touches on your next web application with
      the support of local technical experts. Don’t forget to apply what you learn
      during the morning session on cloud development to take advantage of the full
      breadth of services offered by the cloud!</P>\r\n<P>Breakfast and lunch will
      be served at the event.</P>\r\n<P>  </P>\r\n<P><SPAN STYLE=\"text-decoration:
      underline;\"><STRONG>Agenda</STRONG></SPAN></P>\r\n<TABLE>\r\n<TBODY>\r\n<TR>\r\n<TD
      STYLE=\"width: 120px; vertical-align: text-top;\">8:30AM – 9:00AM</TD>\r\n<TD><STRONG>Registration
      &amp; Breakfast</STRONG></TD>\r\n</TR>\r\n<TR>\r\n<TD STYLE=\"vertical-align:
      text-top;\">9:00AM – 10:45AM</TD>\r\n<TD>\r\n<P><STRONG>Application Development
      with HTML5</STRONG><BR> <EM>Adam Greene, Software Solutions Specialist at Cognitive
      X Solutions, @aspnetaddict</EM></P>\r\n<P><BR> HTML5 is the biggest and most
      powerful HTML specification to ever come out of the W3C. Its roots come from
      a proposal to extend HTML4 to make it easier for web developers to create web
      applications. With more and more browsers supporting HTML5, ECMAScript 5 and
      other web standards, developers now have a strong web platform they can use
      to create a new class of application that is more powerful and interactive than
      ever before. What's in HTML5 that lets us take our applications to the next
      level?</P>\r\n</TD>\r\n</TR>\r\n<TR>\r\n<TD STYLE=\"vertical-align: text-top;\">10:45AM
      – 11:00AM</TD>\r\n<TD>\r\n<P><STRONG>Break</STRONG></P>\r\n</TD>\r\n</TR>\r\n<TR>\r\n<TD
      STYLE=\"vertical-align: text-top;\">11:00AM – 12:00PM</TD>\r\n<TD>\r\n<P><STRONG>Securing,
      Connecting, and Scaling Your Web Application Using Windows Azure</STRONG><BR>
      <EM>Adam Greene, Software Solutions Specialist at Cognitive X Solutions, @aspnetaddict</EM></P>\r\n<P><BR>
      In this session, you will learn how you can leverage Windows Azure to easily
      handle authentication and authorization in your web applications, connect and
      send messages to tiers of your application, and scale out your application to
      realize the benefits of cloud computing.</P>\r\n</TD>\r\n</TR>\r\n<TR>\r\n<TD
      STYLE=\"vertical-align: text-top;\">12:00PM – 12:45PM</TD>\r\n<TD><STRONG>Lunch</STRONG></TD>\r\n</TR>\r\n<TR>\r\n<TD
      STYLE=\"vertical-align: text-top;\">12:45PM – 4:00PM</TD>\r\n<TD>\r\n<P><STRONG>Web
      Application Workshop</STRONG></P>\r\n<P><STRONG></STRONG><BR> In the workshop,
      you will be able to start and/or continue building web apps based on the knowledge
      you have gained in the morning session with web development experts in attendance.
      In order to participate in the workshop, you will need to bring your own PC
      running Windows 7 or Windows Vista. We also highly encourage you to download
      the tooling for <A TITLE=\"Downloads\" HREF=\"http://www.asp.net/downloads\"
      TARGET=\"_blank\" REL=\"nofollow noopener noreferrer\">Web Development</A> and
      <A TITLE=\"Azure SDK\" HREF=\"http://www.microsoft.com/windowsazure/sdk\" TARGET=\"_blank\"
      REL=\"nofollow noopener noreferrer\">Windows Azure</A> in advance of the workshop;
      otherwise you will be spending much of your time downloading and installing
      the tools during the workshop itself.</P>\r\n</TD>\r\n</TR>\r\n</TBODY>\r\n</TABLE>"
  id: '3024256633'
  url: https://www.eventbrite.ca/e/web-html5-cloud-workshop-tickets-3024256633
  start:
    timezone: America/Halifax
    local: '2012-03-31T08:30:00'
    utc: '2012-03-31T11:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-03-31T16:00:00'
    utc: '2012-03-31T19:00:00Z'
  organization_id: '791166669'
  created: '2012-02-24T14:08:46Z'
  changed: '2014-12-29T18:04:13Z'
  published: '2012-02-24T14:46:16Z'
  capacity: 40
  capacity_is_custom: true
  status: canceled
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: false
  version: 3.0.0
  summary: " \r\nWeb + Cloud Workshop\r\nBrought to you by Microsoft Canada, Cognitive
    X Solutions and the Moncton User Group, this Web + Cloud Application "
  logo_id:
  organizer_id: '860299233'
  venue_id: '1710549'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/3024256633/
  is_externally_ticketed: false
  logo:
description: "<p> </p>\r\n<p><strong><span>Web + Cloud Workshop</span></strong></p>\r\n<p>Brought
  to you by Microsoft Canada, <a href=\"http://cognitivex.com\" target=\"_blank\"
  rel=\"nofollow noopener noreferrer\">Cognitive X Solutions</a> and the <a href=\"http://moncton.deveast.com\"
  target=\"_blank\" rel=\"nofollow noopener noreferrer\">Moncton User Group</a>, this
  Web + Cloud Application Workshop is designed to help you learn some of the latest
  techniques being applied in web development and cloud development.</p>\r\n<p>The
  morning will consist of two technical presentations which will introduce you to
  skills that can be applied during the afternoon of hands-on application development.
  The goal of the afternoon development session is to help you get started, take the
  next steps, or put the finishing touches on your next web application with the support
  of local technical experts. Don’t forget to apply what you learn during the morning
  session on cloud development to take advantage of the full breadth of services offered
  by the cloud!</p>\r\n<p>Breakfast and lunch will be served at the event.</p>\r\n<p>  </p>\r\n<p><span><strong>Agenda</strong></span></p>\r\n<table>\r\n<tbody>\r\n<tr>\r\n<td>8:30AM
  – 9:00AM</td>\r\n<td><strong>Registration &amp; Breakfast</strong></td>\r\n</tr>\r\n<tr>\r\n<td>9:00AM
  – 10:45AM</td>\r\n<td>\r\n<p><strong>Application Development with HTML5</strong><br>
  <em>Adam Greene, Software Solutions Specialist at Cognitive X Solutions, @aspnetaddict</em></p>\r\n<p><br>
  HTML5 is the biggest and most powerful HTML specification to ever come out of the
  W3C. Its roots come from a proposal to extend HTML4 to make it easier for web developers
  to create web applications. With more and more browsers supporting HTML5, ECMAScript
  5 and other web standards, developers now have a strong web platform they can use
  to create a new class of application that is more powerful and interactive than
  ever before. What's in HTML5 that lets us take our applications to the next level?</p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>10:45AM
  – 11:00AM</td>\r\n<td>\r\n<p><strong>Break</strong></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>11:00AM
  – 12:00PM</td>\r\n<td>\r\n<p><strong>Securing, Connecting, and Scaling Your Web
  Application Using Windows Azure</strong><br> <em>Adam Greene, Software Solutions
  Specialist at Cognitive X Solutions, @aspnetaddict</em></p>\r\n<p><br> In this session,
  you will learn how you can leverage Windows Azure to easily handle authentication
  and authorization in your web applications, connect and send messages to tiers of
  your application, and scale out your application to realize the benefits of cloud
  computing.</p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>12:00PM – 12:45PM</td>\r\n<td><strong>Lunch</strong></td>\r\n</tr>\r\n<tr>\r\n<td>12:45PM
  – 4:00PM</td>\r\n<td>\r\n<p><strong>Web Application Workshop</strong></p>\r\n<p><strong></strong><br>
  In the workshop, you will be able to start and/or continue building web apps based
  on the knowledge you have gained in the morning session with web development experts
  in attendance. In order to participate in the workshop, you will need to bring your
  own PC running Windows 7 or Windows Vista. We also highly encourage you to download
  the tooling for <a title=\"Downloads\" href=\"http://www.asp.net/downloads\" target=\"_blank\"
  rel=\"nofollow noopener noreferrer\">Web Development</a> and <a title=\"Azure SDK\"
  href=\"http://www.microsoft.com/windowsazure/sdk\" target=\"_blank\" rel=\"nofollow
  noopener noreferrer\">Windows Azure</a> in advance of the workshop; otherwise you
  will be spending much of your time downloading and installing the tools during the
  workshop itself.</p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>"
---
