---
title: The breakfast club
date: 2012-06-07 08:00 UTC
eventbrite:
  name:
    text: The breakfast club
    html: The breakfast club
  description:
    text: 'Our first edition of the ELP5 finalist "Breakfast Club" '
    html: "<P>Our first edition of the ELP5 finalist \"Breakfast Club\"</P>"
  id: '3653624088'
  url: http://www.eventbrite.ca/e/the-breakfast-club-tickets-3653624088
  vanity_url: http://junebreakfastclub.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-06-07T08:00:00'
    utc: '2012-06-07T11:00:00Z'
  end:
    timezone: America/Halifax
    local: '2012-06-07T09:30:00'
    utc: '2012-06-07T12:30:00Z'
  created: '2012-05-30T17:36:51Z'
  changed: '2014-12-29T18:11:25Z'
  capacity: 15
  status: completed
  currency: USD
  listed: false
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '860299233'
  venue_id: '2038814'
  category_id: '101'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/3653624088/
  logo:
---
