---
title: KendoUI by Telerik
date: 2012-05-16 18:30 UTC
eventbrite:
  name:
    text: KendoUI by Telerik
    html: KendoUI by Telerik
  description:
    text: "KendoUI is a complete framework for HTML5 apps\r\nKendo UI provides everything
      you need for building modern, interactive, JavaScript applications. It delivers
      a rich framework for client-side data binding, templating, animation, and drag-and-drop
      actions. Don’t waste time trying to assemble a bevy of jQuery Plugins. Kendo
      UI delivers a seamless, professionally tested and supported HTML5 toolbox for
      every project.\r\nMore than UI\r\nKendo UI combines everything needed for modern
      JavaScript development, including rich UI Widgets, a powerful DataSource, an
      MVVM framework, universal Drag-and-Drop, Templates, and Themes.\r\nLatest web
      standards\r\nBuilding on top of the popular jQuery JavaScript library, Kendo
      UI leverages the latest in CSS3, HTML5, and JavaScript web standards while still
      delivering broad support for all major browsers and mobile devices like iOS,
      Android and BlackBerry.\r\nUncompromising Performance\r\nUI in the browser should
      be fast. From UI virtualization and blazing micro templates, to hardware acceleration,
      Kendo UI cuts no corners to deliver raw speed. It’s scary fast.\r\nRegistration\r\nhttp://monctonug-kendoui.eventbrite.com/\r\nDate
      and Times\r\nWednesday, May 16th 2012from 6:30 to 9:00pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood
      & Presenter:\r\nSwag and Prizes:\r\nSpeaker Bio\r\nSebastien Aube is President
      and Software Architect at Cognitive X Solutions Inc. For the past 12 years he
      has focused on building enterprise solutions using the Microsoft Development
      stack. He’s always looking for new and better ways to build software. You can
      find his blog at http://www.sebaube.com/.\r\nTwitter: @sebaube / Email: sebastien
      at cognitivex.com"
    html: "<H3 STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">KendoUI is a complete framework for HTML5 apps</H3>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Kendo UI
      provides everything you need for building modern, interactive, JavaScript applications.
      It delivers a rich framework for client-side data binding, templating, animation,
      and drag-and-drop actions. Don’t waste time trying to assemble a bevy of jQuery
      Plugins. Kendo UI delivers a seamless, professionally tested and supported HTML5
      toolbox for every project.</P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 14px; line-height: 20px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">More than UI</H4>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Kendo UI
      combines everything needed for modern JavaScript development, including rich
      UI Widgets, a powerful DataSource, an MVVM framework, universal Drag-and-Drop,
      Templates, and Themes.</P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right: 0px;
      margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New Roman',
      Times, serif; font-size: 14px; line-height: 20px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Latest web standards</H4>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Building on top of the popular jQuery JavaScript library, Kendo UI leverages
      the latest in CSS3, HTML5, and JavaScript web standards while still delivering
      broad support for all major browsers and mobile devices like iOS, Android and
      BlackBerry.</P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 14px; line-height: 20px; color: #555555; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">Uncompromising Performance</H4>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">UI in the
      browser should be fast. From UI virtualization and blazing micro templates,
      to hardware acceleration, Kendo UI cuts no corners to deliver raw speed. It’s
      scary fast.</P>\r\n<H3 STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 16px; line-height: 24px; color: #555555; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">Registration</H3>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">http://monctonug-kendoui.eventbrite.com/</P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Date and Times</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px;
      margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">Wednesday, May 16th 2012<BR STYLE=\"padding: 0px; margin:
      0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Location</H3>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">795 Main
      Street – Second Floor Board room<BR STYLE=\"padding: 0px; margin: 0px;\">Moncton,
      NB</P>\r\n<H3 STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px;
      margin-left: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">Directions</H3>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\"><A STYLE=\"color: #333333;
      padding: 0px; margin: 0px;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Event Sponsors</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">This event
      would not be possible without the following sponsors:</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Food &amp;
      Presenter:<BR STYLE=\"padding: 0px; margin: 0px;\"><A STYLE=\"color: #333333;
      padding: 0px; margin: 0px;\" HREF=\"http://www.cognitivex.com/\" TARGET=\"_blank\"
      REL=\"nofollow noopener noreferrer\"><IMG STYLE=\"border-width: 1px; border-color:
      initial; background-image: initial; background-attachment: initial; background-origin:
      initial; background-clip: initial; background-color: #ffffff; border-style:
      solid; padding: 5px; margin: 0px;\" ALT=\"Cognitive X Solutions - Home\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2012%2F04%2Flogo.png&sig=ADR2i79XhF3MOnUUmWqL_I3bsrTsBAbl5A\"></IMG></A></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Swag and Prizes:<BR STYLE=\"padding: 0px; margin: 0px;\"><IMG CLASS=\"alignnone
      size-medium wp-image-169\" STYLE=\"border-width: 1px; border-color: initial;
      background-image: initial; background-attachment: initial; background-origin:
      initial; background-clip: initial; background-color: #ffffff; border-style:
      solid; padding: 5px; margin: 0px;\" TITLE=\"telerikLogo-web-899x359px\" ALT=\"\"
      WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H2
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px;
      line-height: 26px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Speaker Bio</H2>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Sebastien Aube is President
      and Software Architect at Cognitive X Solutions Inc. For the past 12 years he
      has focused on building enterprise solutions using the Microsoft Development
      stack. He’s always looking for new and better ways to build software. You can
      find his blog at http://www.sebaube.com/.</P>\r\n<P STYLE=\"margin-top: 0px;
      margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px;
      color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\"><STRONG STYLE=\"padding:
      0px; margin: 0px;\">Twitter:</STRONG> @sebaube / <STRONG STYLE=\"padding: 0px;
      margin: 0px;\">Email:</STRONG> sebastien at cognitivex.com</P>"
  id: '3378060871'
  url: https://www.eventbrite.ca/e/kendoui-by-telerik-tickets-3378060871
  vanity_url: https://monctonug-kendoui.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-05-16T18:30:00'
    utc: '2012-05-16T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-05-16T21:30:00'
    utc: '2012-05-17T00:30:00Z'
  organization_id: '791166669'
  created: '2012-04-18T17:29:36Z'
  changed: '2014-12-29T18:08:15Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '1676063'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/3378060871/
  is_externally_ticketed: false
  logo:
---
