---
title: MonctonUG on the patio
date: 2012-07-04 12:00 UTC
eventbrite:
  name:
    text: MonctonUG on the patio
    html: MonctonUG on the patio
  description:
    text: 'First 2012 patio lunch. Please register so we know what size table to get. '
    html: "<P>First 2012 patio lunch. Please register so we know what size table to
      get.</P>"
  id: '3817133148'
  url: http://www.eventbrite.ca/e/monctonug-on-the-patio-tickets-3817133148
  start:
    timezone: America/Halifax
    local: '2012-07-04T12:00:00'
    utc: '2012-07-04T15:00:00Z'
  end:
    timezone: America/Halifax
    local: '2012-07-04T13:30:00'
    utc: '2012-07-04T16:30:00Z'
  created: '2012-06-27T19:29:00Z'
  changed: '2014-12-29T18:13:16Z'
  capacity: 15
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2125322'
  category_id: '110'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/3817133148/
  logo:
---
