---
title: ".NET Code Contracts"
date: 2012-01-18 18:30 UTC
eventbrite:
  name:
    text: ".NET Code Contracts"
    html: ".NET Code Contracts"
  description:
    text: "On Wednesday January 18th. MonctonUG presents “.NET Code Contracts”, by
      Rémi Després-Smyth\r\nAs the first presentation in 2012, Rémi will provide us
      with an overview of .NET Code Contracts and how to apply them in your code.\r\nCode
      Contracts?\r\nCode Contracts provide a language-agnostic way to express coding
      assumptions in .NET programs. The contracts take the form of preconditions,
      postconditions, and object invariants. Contracts act as checked documentation
      of your external and internal APIs. The contracts are used to improve testing
      via runtime checking, enable static contract verification, and documentation
      generation.\r\nDate and Times\r\nWednesday, January 18th 2012from 6:30 to 9:30pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nEvent Sponsors\r\nThis
      event would not be possible without the following sponsors:\r\nPrize:\r\nFood:\r\nSpeaker
      BioRémi is an avid software developer with over 12 years experience, who has
      founded two software consultancies – most recently, Journeyman Software. He
      is a contrarian always looking for better ways of doing things. Remi is active
      on Twitter (@remids), and is always willing to discuss new development tools
      and techniques.\r\nTwitter: @remids"
    html: "<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">On Wednesday January 18th. MonctonUG presents “.NET Code Contracts”,
      by Rémi Després-Smyth</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px;
      margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">As the first presentation in 2012, Rémi will provide
      us with an overview of .NET Code Contracts and how to apply them in your code.</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;
      line-height: 20px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Code Contracts?</H4>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Code Contracts provide a language-agnostic
      way to express coding assumptions in .NET programs. The contracts take the form
      of preconditions, postconditions, and object invariants. Contracts act as checked
      documentation of your external and internal APIs. The contracts are used to
      improve testing via runtime checking, enable static contract verification, and
      documentation generation.</P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 14px; line-height: 20px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Date and Times</H4>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Wednesday,
      January 18th 2012<BR STYLE=\"padding: 0px; margin: 0px;\">from 6:30 to 9:30pm</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;
      line-height: 20px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Location</H4>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px;
      margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">795 Main Street – Second Floor Board room<BR STYLE=\"padding:
      0px; margin: 0px;\">Moncton, NB</P>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\"><A STYLE=\"color: #333333;
      padding: 0px; margin: 0px;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 14px; line-height: 20px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Event Sponsors</H4>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">This event
      would not be possible without the following sponsors:</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Prize:<BR
      STYLE=\"padding: 0px; margin: 0px;\"><IMG CLASS=\"alignnone size-medium wp-image-169\"
      STYLE=\"border-width: 1px; border-color: initial; background-image: initial;
      background-attachment: initial; background-origin: initial; background-clip:
      initial; background-color: #ffffff; border-style: solid; padding: 5px; margin:
      0px;\" TITLE=\"telerikLogo-web-899x359px\" ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Food:<BR STYLE=\"padding: 0px; margin: 0px;\"><A STYLE=\"color: #333333;
      padding: 0px; margin: 0px;\" HREF=\"http://msdn.microsoft.ca/\" REL=\"nofollow\"><IMG
      STYLE=\"border-width: 1px; border-color: initial; background-image: initial;
      background-attachment: initial; background-origin: initial; background-clip:
      initial; background-color: #ffffff; border-style: solid; padding: 5px; margin:
      0px;\" TITLE=\"Microsoft Developer Network\" ALT=\"\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Speaker Bio<BR STYLE=\"padding: 0px; margin: 0px;\">Rémi is an avid software
      developer with over 12 years experience, who has founded two software consultancies
      – most recently, Journeyman Software. He is a contrarian always looking for
      better ways of doing things. Remi is active on Twitter (@remids), and is always
      willing to discuss new development tools and techniques.</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Twitter:
      @remids</P>"
  id: '2708048847'
  url: https://www.eventbrite.ca/e/net-code-contracts-tickets-2708048847
  vanity_url: https://net-code-contracts.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-01-18T18:30:00'
    utc: '2012-01-18T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-01-18T21:30:00'
    utc: '2012-01-19T01:30:00Z'
  organization_id: '791166669'
  created: '2012-01-02T15:43:51Z'
  changed: '2014-12-29T18:00:34Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '1530077'
  category_id:
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/2708048847/
  is_externally_ticketed: false
  logo:
---
