---
title: Dotnetnuke CMS
date: 2012-03-27 18:30 UTC
eventbrite:
  name:
    text: Dotnetnuke CMS
    html: Dotnetnuke CMS
  description:
    text: "On Tuesday March 27th. MonctonUG presents “Dotnetnuke CMS”, by Brian Wray\r\nIn
      this session, Brian will go over the basics of a CMS, demonstrate how to install
      DotNetNuke and create a basic website using DNN. He will then go on to discuss
      the extensibility of DNN using custom modules.\r\nDate and Times\r\nTuesday,
      March 27th 2011from 6:30 to 9:00pm\r\nLocation\r\n795 Main Street – Second Floor
      Board roomMoncton, NB\r\nDirections\r\nEvent Sponsors\r\nThis event would not
      be possible without the following sponsors:\r\nPrizes and Food:\r\n\r\nSpeaker
      BioBrian has been working in the IT field for close to 20 years. During that
      time he has been employed as a Network/Database Administrator, Web Designer,
      IT Instructor, Senior Technical Analyst and most recently ITSM Solution Administrator.
      Brian is also an avid gamer and runs the community website Xbox360Asylum.ca."
    html: "<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">On Tuesday March 27th. MonctonUG presents “Dotnetnuke CMS”, by Brian
      Wray</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px;
      margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial,
      Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">In this session, Brian will go over the basics of a
      CMS, demonstrate how to install DotNetNuke and create a basic website using
      DNN. He will then go on to discuss the extensibility of DNN using custom modules.</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;
      line-height: 20px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Date and Times</H4>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Tuesday, March 27th 2011<BR
      STYLE=\"padding: 0px; margin: 0px;\">from 6:30 to 9:00pm</P>\r\n<H4 STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-size: 14px; line-height: 20px;
      color: #555555; text-align: left; background-color: #f7f7f7; padding: 0px;\">Location</H4>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">795 Main Street – Second Floor Board room<BR STYLE=\"padding: 0px; margin:
      0px;\">Moncton, NB</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\"><A STYLE=\"color: #333333; padding: 0px; margin: 0px;\"
      HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H4 STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 14px; line-height: 20px; color: #555555; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Event Sponsors</H4>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">This event
      would not be possible without the following sponsors:</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\">Prizes and
      Food:</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px;
      margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial,
      Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\"><A STYLE=\"color: #333333; padding: 0px; margin: 0px;\"
      TITLE=\"DPL Group\" HREF=\"http://www.dpl.ca/\" TARGET=\"_blank\" REL=\"noopener
      noreferrer nofollow\"><IMG CLASS=\"alignnone size-full wp-image-308\" STYLE=\"border-width:
      1px; border-color: initial; background-image: initial; background-attachment:
      initial; background-origin: initial; background-clip: initial; background-color:
      #ffffff; border-style: solid; padding: 5px; margin: 0px;\" TITLE=\"dpl_group\"
      ALT=\"\" WIDTH=\"218\" HEIGHT=\"82\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2012%2F02%2Fdpl_group.jpg&sig=ADR2i788fiS3EaoSXen6B42tb8RdizYjEA\"></IMG></A></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Speaker Bio<BR STYLE=\"padding: 0px; margin: 0px;\">Brian has been working
      in the IT field for close to 20 years. During that time he has been employed
      as a Network/Database Administrator, Web Designer, IT Instructor, Senior Technical
      Analyst and most recently ITSM Solution Administrator. Brian is also an avid
      gamer and runs the community website Xbox360Asylum.ca.</P>"
  id: '2963252167'
  url: https://www.eventbrite.ca/e/dotnetnuke-cms-tickets-2963252167
  vanity_url: https://monctonug-dotnetnuke-cms.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-03-27T18:30:00'
    utc: '2012-03-27T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-03-27T21:30:00'
    utc: '2012-03-28T00:30:00Z'
  created: '2012-02-14T18:48:01Z'
  changed: '2014-12-29T18:03:29Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '1676063'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/2963252167/
  logo:
---
