---
title: Windows 8 / Office
date: 2012-12-10 18:30 UTC
eventbrite:
  name:
    text: Windows 8 / Office
    html: Windows 8 / Office
  description:
    text: "Windows 8 / Office \nMitch Garvis will be here on December 10th to talk
      about Windows 8 (RT) and Office 2013. \n1st hour: Windows 8, Windows to Go,
      Windows RT, and devices. The differences, the options, and why less is now more.
      Since release perceptions versus realities of what the actual experiences have
      been. \n2nd hour: Office 2013 – a tour of the next version, including the application
      suite, Office 365, and Lync. \nDate and Times \nMonday, December 10th 2012 from
      6:30 to 9:00pm \nLocation \n795 Main Street – Second Floor Board room Moncton,
      NB \nDirections \nDirections \nEvent Sponsors \nThis event would not be possible
      without the following sponsors: \nFood Swag and Prizes  \nHost Bio \nMitch Garvis
      is a Renaissance Man of the IT world. In addition to being a Virtual Technical
      Evangelist – Windows Infrastructure for Microsoft Canada, he is also a partner
      with SWMI Consulting Group. Among his numerous certifications are several MCITPs,
      as well as the new MCSE: Private Cloud. He lectures and trains on a variety
      of topics including System Center, server virtualization, desktop deployment,
      and security. You can read his blog at www.garvis.ca, or follow him on Twitter
      as @MGarvis. In his spare time he likes to break things, and has recently earned
      his Second Degree Black Belt in Taekwondo. He makes his home outside Toronto,
      Canada where he has one wife, two kids, two dogs, and two minutes to himself
      per day. "
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">Windows 8 / Office</H3>\r\n<P STYLE=\"margin: 0px
      0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Mitch
      Garvis will be here on December 10th to talk about Windows 8 (RT) and Office
      2013.</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px;
      color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">1st hour: Windows 8, Windows to Go, Windows
      RT, and devices. The differences, the options, and why less is now more. Since
      release perceptions versus realities of what the actual experiences have been.</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">2nd hour: Office 2013 – a tour of the next version, including the
      application suite, Office 365, and Lync.</P>\r\n<H3 STYLE=\"margin: 0px 0px
      18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\"><SPAN
      STYLE=\"color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; line-height: 18px;\">Date and Times</SPAN></H3>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Monday,
      December 10th 2012<BR STYLE=\"margin: 0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Location</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">795 Main Street – Second Floor Board room<BR
      STYLE=\"margin: 0px; padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Directions</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event Sponsors</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food Swag and Prizes<BR STYLE=\"margin: 0px; padding: 0px;\"><A STYLE=\"margin:
      0px; padding: 0px; color: #333333;\" HREF=\"http://msdn.microsoft.ca/\" TARGET=\"_blank\"
      REL=\"nofollow\"><IMG STYLE=\"margin: 0px; padding: 5px; border: 1px solid #dddddd;
      background-color: #ffffff;\" ALT=\"Microsoft Canada\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Mitch Garvis is a Renaissance Man of the
      IT world. In addition to being a Virtual Technical Evangelist – Windows Infrastructure
      for Microsoft Canada, he is also a partner with SWMI Consulting Group. Among
      his numerous certifications are several MCITPs, as well as the new MCSE: Private
      Cloud. He lectures and trains on a variety of topics including System Center,
      server virtualization, desktop deployment, and security. You can read his blog
      at www.garvis.ca, or follow him on Twitter as @MGarvis. In his spare time he
      likes to break things, and has recently earned his Second Degree Black Belt
      in Taekwondo. He makes his home outside Toronto, Canada where he has one wife,
      two kids, two dogs, and two minutes to himself per day.</P>"
  id: '4925023879'
  url: http://www.eventbrite.ca/e/windows-8-office-tickets-4925023879
  vanity_url: http://monctonug-windows8andoffice.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-12-10T18:30:00'
    utc: '2012-12-10T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-12-10T21:30:00'
    utc: '2012-12-11T01:30:00Z'
  created: '2012-11-27T18:39:07Z'
  changed: '2014-12-29T18:26:01Z'
  capacity: 25
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2681317'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/4925023879/
  logo:
---
