---
title: MonctonUG on the patio, second edition
date: 2012-08-07 12:00 UTC
eventbrite:
  name:
    text: MonctonUG on the patio, second edition
    html: MonctonUG on the patio, second edition
  description:
    text: Please join us for our second patio meet of the summer.
    html: "<P>Please join us for our second patio meet of the summer.</P>"
  id: '3984281092'
  url: https://www.eventbrite.ca/e/monctonug-on-the-patio-second-edition-tickets-3984281092
  start:
    timezone: America/Halifax
    local: '2012-08-07T12:00:00'
    utc: '2012-08-07T15:00:00Z'
  end:
    timezone: America/Halifax
    local: '2012-08-07T13:30:00'
    utc: '2012-08-07T16:30:00Z'
  organization_id: '791166669'
  created: '2012-07-24T19:00:12Z'
  changed: '2014-12-29T18:15:12Z'
  capacity: 15
  capacity_is_custom: false
  status: canceled
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2205618'
  category_id:
  subcategory_id:
  format_id: '5'
  resource_uri: https://www.eventbriteapi.com/v3/events/3984281092/
  logo:
---
