---
title: 50 concepts/tools to master to become an effective software developer
date: 2012-11-14 18:30 UTC
eventbrite:
  name:
    text: 50 concepts/tools to master to become an effective software developer
    html: 50 concepts/tools to master to become an effective software developer
  description:
    text: "Professional Software Toolkit – Building the 50 concepts/tools you need
      to master to become an effective software developer\r\nDuring our last meeting
      we discussed a concept that we will revisit this year and maybe the following
      couple of years. What are the tricks and techniques a developer should have
      in his utility belt to become more effective? During this open discussion we’ll
      try to nail down concepts, code snippets, patterns etc.. that we’ll elaborate
      on during this effort.\r\nWe encourage all levels of programmers to show up.
      This will not be a language specific effort as we intend to build code snippets
      for most mainstream languages.\r\nRegistration\r\nhttp://monctonug-november2012.eventbrite.com/\r\nDate
      and Times\r\nWednesday, November 14th 2012from 6:30 to 9:00pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood\r\nSwag
      and Prizes:\r\nHost Bio\r\nSebastien Aube\r\nSebastien Aube is CEO and Software
      Architect at Cognitive X Solutions Inc. For the past 12 years he has focused
      on building enterprise solutions using the Microsoft Development stack. He’s
      always looking for new and better ways to build software. You can find his blog
      at http://www.sebaube.com/.\r\nTwitter: @sebaube"
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">Professional Software Toolkit – Building the 50
      concepts/tools you need to master to become an effective software developer</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">During our last meeting we discussed a concept that we will revisit
      this year and maybe the following couple of years. What are the tricks and techniques
      a developer should have in his utility belt to become more effective? During
      this open discussion we’ll try to nail down concepts, code snippets, patterns
      etc.. that we’ll elaborate on during this effort.</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">We
      encourage all levels of programmers to show up. This will not be a language
      specific effort as we intend to build code snippets for most mainstream languages.</P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Registration</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://monctonug-november2012.eventbrite.com/\">http://monctonug-november2012.eventbrite.com/</A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Date and Times</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Wednesday, November 14th 2012<BR
      STYLE=\"margin: 0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Location</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">795 Main Street – Second Floor Board room<BR
      STYLE=\"margin: 0px; padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Directions</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event Sponsors</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food<BR STYLE=\"margin: 0px; padding: 0px;\"><A STYLE=\"margin: 0px;
      padding: 0px; color: #333333;\" HREF=\"http://www.cognitivex.com/\" TARGET=\"_blank\"
      REL=\"noopener noreferrer nofollow\"><IMG STYLE=\"margin: 0px; padding: 5px;
      border: 1px solid #dddddd; background-color: #ffffff;\" ALT=\"Cognitive X Solutions
      - Home\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2012%2F04%2Flogo.png&sig=ADR2i79XhF3MOnUUmWqL_I3bsrTsBAbl5A\"></IMG></A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Swag and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG CLASS=\"alignnone
      size-medium wp-image-169\" STYLE=\"margin: 0px; padding: 5px; border: 1px solid
      #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\" ALT=\"\"
      WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Sebastien Aube</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Sebastien
      Aube is CEO and Software Architect at Cognitive X Solutions Inc. For the past
      12 years he has focused on building enterprise solutions using the Microsoft
      Development stack. He’s always looking for new and better ways to build software.
      You can find his blog at <A STYLE=\"margin: 0px; padding: 0px; color: #333333;\"
      HREF=\"http://www.sebaube.com/\" REL=\"nofollow\">http://www.sebaube.com/</A>.</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><STRONG STYLE=\"margin: 0px; padding: 0px;\">Twitter:</STRONG> <A
      STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://twitter.com/sebaube\"
      REL=\"nofollow\">@sebaube</A></P>"
  id: '4684321933'
  url: https://www.eventbrite.ca/e/50-conceptstools-to-master-to-become-an-effective-software-developer-tickets-4684321933
  vanity_url: https://monctonug-november2012.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-11-14T18:30:00'
    utc: '2012-11-14T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-11-14T21:30:00'
    utc: '2012-11-15T01:30:00Z'
  organization_id: '791166669'
  created: '2012-10-24T12:29:29Z'
  changed: '2014-12-29T18:23:13Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2566729'
  category_id:
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/4684321933/
  logo:
---
