---
title: Application Development with HTML5
date: 2012-04-18 18:30 UTC
eventbrite:
  name:
    text: Application Development with HTML5
    html: Application Development with HTML5
  description:
    text: "Application Development with HTML5\r\nAdam Greene, Software Solutions Specialist
      at Cognitive X Solutions, @aspnetaddictHTML5 is the biggest and most powerful
      HTML specification to ever come out of the W3C. Its roots come from a proposal
      to extend HTML4 to make it easier for web developers to create web applications.
      With more and more browsers supporting HTML5, ECMAScript 5 and other web standards,
      developers now have a strong web platform they can use to create a new class
      of application that is more powerful and interactive than ever before. What’s
      in HTML5 that lets us take our applications to the next level?\r\nDetails\r\nhttp://moncton.deveast.com/2012/04/05/application-development-with-html5/\r\nDate
      and Times\r\nWednesday, April 18th 2011from 6:30 to 9:00pm\r\nLocation\r\n1273
      main streetMoncton, NB\r\nEvent Sponsors\r\nThis event would not be possible
      without the following sponsors:\r\nFood:\r\n\r\nSwag:\r\n\r\nSpeaker Bio\r\nAdam
      Greene started programming at age 16 on an NEC V20 and never looked back. He
      has worked for local and international companies from British Columbia to Germany.
      He has developed software and websites for the financial services industry,
      a large home delivery grocery store chain, worked freelance and currently is
      developing state of the art software at Cognitive X Solutions Inc. He has worked
      in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard
      fan of C#, working mainly in ASP.NET MVC.\r\nAdam is on Twitter as @aspnetaddict"
    html: "<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\"><STRONG STYLE=\"padding: 0px; margin: 0px;\">Application Development
      with HTML5</STRONG></P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\"><EM STYLE=\"padding: 0px; margin: 0px;\">Adam Greene,
      Software Solutions Specialist at Cognitive X Solutions, @aspnetaddict</EM><BR
      STYLE=\"padding: 0px; margin: 0px;\">HTML5 is the biggest and most powerful
      HTML specification to ever come out of the W3C. Its roots come from a proposal
      to extend HTML4 to make it easier for web developers to create web applications.
      With more and more browsers supporting HTML5, ECMAScript 5 and other web standards,
      developers now have a strong web platform they can use to create a new class
      of application that is more powerful and interactive than ever before. What’s
      in HTML5 that lets us take our applications to the next level?</P>\r\n<H4 STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-size: 14px; line-height: 20px;
      color: #555555; text-align: left; background-color: #f7f7f7; padding: 0px;\">Details</H4>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\"><A HREF=\"http://moncton.deveast.com/2012/04/05/application-development-with-html5/\"
      REL=\"nofollow\">http://moncton.deveast.com/2012/04/05/application-development-with-html5/</A></P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;
      line-height: 20px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Date and Times</H4>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Wednesday, April 18th 2011<BR
      STYLE=\"padding: 0px; margin: 0px;\">from 6:30 to 9:00pm</P>\r\n<H4 STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-size: 14px; line-height: 20px;
      color: #555555; text-align: left; background-color: #f7f7f7; padding: 0px;\">Location</H4>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">1273 main street<BR STYLE=\"padding: 0px; margin: 0px;\">Moncton, NB</P>\r\n<H4
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;
      line-height: 20px; color: #555555; text-align: left; background-color: #f7f7f7;
      padding: 0px;\">Event Sponsors</H4>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">This event would not be possible
      without the following sponsors:</P>\r\n<P STYLE=\"margin-top: 0px; margin-right:
      0px; margin-bottom: 18px; margin-left: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; text-align:
      left; background-color: #f7f7f7; padding: 0px;\">Food:</P>\r\n<P STYLE=\"margin-top:
      0px; margin-right: 0px; margin-bottom: 18px; margin-left: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; text-align: left; background-color: #f7f7f7; padding: 0px;\"><A STYLE=\"color:
      #333333; padding: 0px; margin: 0px;\" TITLE=\"DPL Group\" HREF=\"http://www.dpl.ca/\"
      TARGET=\"_blank\" REL=\"nofollow noopener noreferrer\"><IMG CLASS=\"alignnone
      size-full wp-image-308\" STYLE=\"border-width: 1px; border-color: initial; background-image:
      initial; background-attachment: initial; background-origin: initial; background-clip:
      initial; background-color: #ffffff; border-style: solid; padding: 5px; margin:
      0px;\" TITLE=\"dpl_group\" ALT=\"\" WIDTH=\"218\" HEIGHT=\"82\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2012%2F02%2Fdpl_group.jpg&sig=ADR2i788fiS3EaoSXen6B42tb8RdizYjEA\"></IMG></A></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Swag:</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\"><A STYLE=\"color: #333333; padding: 0px; margin: 0px;\"
      HREF=\"http://msdn.microsoft.ca/\" TARGET=\"_blank\" REL=\"nofollow noopener
      noreferrer\"><IMG CLASS=\"alignnone size-full wp-image-143\" STYLE=\"border-width:
      1px; border-color: initial; background-image: initial; background-attachment:
      initial; background-origin: initial; background-clip: initial; background-color:
      #ffffff; border-style: solid; padding: 5px; margin: 0px;\" TITLE=\"Microsoft
      Canada\" ALT=\"Microsoft Canada\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Speaker Bio</P>\r\n<P STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom:
      18px; margin-left: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; text-align: left; background-color:
      #f7f7f7; padding: 0px;\">Adam Greene started programming at age 16 on an NEC
      V20 and never looked back. He has worked for local and international companies
      from British Columbia to Germany. He has developed software and websites for
      the financial services industry, a large home delivery grocery store chain,
      worked freelance and currently is developing state of the art software at Cognitive
      X Solutions Inc. He has worked in a wide variety of languages: C/C++, Delphi,
      COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC.</P>\r\n<P
      STYLE=\"margin-top: 0px; margin-right: 0px; margin-bottom: 18px; margin-left:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; text-align: left; background-color: #f7f7f7; padding:
      0px;\">Adam is on Twitter as @aspnetaddict</P>"
  id: '3305965231'
  url: https://www.eventbrite.ca/e/application-development-with-html5-tickets-3305965231
  vanity_url: https://monctonug-html5.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2012-04-18T18:30:00'
    utc: '2012-04-18T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2012-04-18T21:30:00'
    utc: '2012-04-19T00:30:00Z'
  organization_id: '791166669'
  created: '2012-04-05T12:25:22Z'
  changed: '2014-12-29T18:07:25Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '860299233'
  venue_id: '1882255'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/3305965231/
  is_externally_ticketed: false
  logo:
---
