---
title: Scaling Web Applications
date: 2013-03-13 18:30 UTC
eventbrite:
  name:
    text: Scaling Web Applications
    html: Scaling Web Applications
  description:
    text: "Scaling web applications \nGot a great idea? If it’s that great, you might
      be in trouble once millions of people start agreeing with you. With Twitter,
      Facebook, Reddit and others like it, a lot of sites have been victims to viral
      takedowns of unprepared apps. The best way to make sure this doesn’t happen
      to you is to prepare a scalable architecture in advance. \nIn this presentation,
      I will demonstrate the basics of making scalable systems, so when you finally
      get famous, your application won’t get stage fright. \nRegistration \nhttp://scaling-web-apps-march2013.eventbrite.com/
      \nDate and Times \nWednesday March 13th 2013 from 6:30 to 9:00pm \nLocation
      \n795 Main Street – Second Floor Board room Moncton, NB \nDirections \nDirections
      \nEvent Sponsors \nThis event would not be possible without the following sponsors:
      \nFood: \n \nSwag and Prizes:  \nHost Bio \nN/A \nYou can reach Maxime on twitter
      at twitter.com/mSanterre "
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">Scaling web applications</H3>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Got
      a great idea? If it’s that great, you might be in trouble once millions of people
      start agreeing with you. With Twitter, Facebook, Reddit and others like it,
      a lot of sites have been victims to viral takedowns of unprepared apps. The
      best way to make sure this doesn’t happen to you is to prepare a scalable architecture
      in advance.</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">In this presentation, I will demonstrate
      the basics of making scalable systems, so when you finally get famous, your
      application won’t get stage fright.</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px;
      padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\">Registration</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://scaling-web-apps-march2013.eventbrite.com/\">http://scaling-web-apps-march2013.eventbrite.com/</A></P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Date and Times</H3>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Wednesday March
      13th 2013<BR STYLE=\"margin: 0px; padding: 0px;\">from 6:30 to 9:00pm</H3>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Location</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">795 Main Street – Second Floor Board room<BR
      STYLE=\"margin: 0px; padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Directions</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Event Sponsors</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food:</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color:
      #333333;\" HREF=\"http://www.dovico.com/\" REL=\"nofollow\"><IMG STYLE=\"margin:
      0px; padding: 5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"Dovico
      Software 20 Years\" ALT=\"\" WIDTH=\"300\" HEIGHT=\"84\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmonctonug.net%2Fwp-content%2Fuploads%2F2012%2F12%2Flogo-dovico-20-years-300x84.png&sig=ADR2i7_79C0emPh04_kAl3Ig517HxHgIWw\"></IMG></A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Swag and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG STYLE=\"margin:
      0px; padding: 5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\"
      ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">N/A</P>\r\n<P STYLE=\"margin: 0px 0px 18px;
      padding: 0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial,
      Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">You can
      reach Maxime on twitter at <A STYLE=\"margin: 0px; padding: 0px; color: #333333;\"
      HREF=\"http://twitter.com/mSanterre\" REL=\"nofollow\">twitter.com/mSanterre</A></P>"
  id: '5397147012'
  url: http://www.eventbrite.ca/e/scaling-web-applications-tickets-5397147012
  vanity_url: http://scaling-web-apps-march2013.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-03-13T18:30:00'
    utc: '2013-03-13T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-03-13T21:30:00'
    utc: '2013-03-14T00:30:00Z'
  created: '2013-01-31T16:14:07Z'
  changed: '2014-12-29T18:31:39Z'
  capacity: 25
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2681317'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/5397147012/
  logo:
---
