---
title: Mastering ASP.NET MVC Series - Getting Started
date: 2013-05-24 13:00 UTC
eventbrite:
  name:
    text: Mastering ASP.NET MVC Series - Getting Started
    html: Mastering ASP.NET MVC Series - Getting Started
  description:
    text: "ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework. \r\nIn this
      first of many webinars you will learn the basics of ASP.NET MVC as well as the
      structure of an MVC project. Adam will demonstrate these concepts by creating
      a web application.\r\n \r\nWe will send all attendees an instructional email
      1 hour prior to the event.\r\n "
    html: "<P>ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework. </P>\r\n<P>In
      this first of many webinars you will learn the basics of ASP.NET MVC as well
      as the structure of an MVC project. Adam will demonstrate these concepts by
      creating a web application.</P>\r\n<P> </P>\r\n<P>We will send all attendees
      an instructional email 1 hour prior to the event.</P>\r\n<P> </P>"
  id: '6160832215'
  url: https://www.eventbrite.ca/e/mastering-aspnet-mvc-series-getting-started-tickets-6160832215
  vanity_url: https://masteringnetmvc.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-05-24T13:00:00'
    utc: '2013-05-24T16:00:00Z'
  end:
    timezone: America/Halifax
    local: '2013-05-24T14:30:00'
    utc: '2013-05-24T17:30:00Z'
  organization_id: '791166669'
  created: '2013-04-05T18:46:10Z'
  changed: '2014-12-29T18:41:28Z'
  published: '2013-04-08T12:09:45Z'
  capacity: 200
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: ASP.NET MVC is Microsoft's implementation of Model View Controller for
    the web. Join Adam Greene, Software Solutions Specialist at Cognitive
  logo_id:
  organizer_id: '860299233'
  venue_id: '3302345'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/6160832215/
  is_externally_ticketed: false
  logo:
description: "<p>ASP.NET MVC is Microsoft's implementation of Model View Controller
  for the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
  as he guides you in the adoption of this flexible web framework. </p>\r\n<p>In this
  first of many webinars you will learn the basics of ASP.NET MVC as well as the structure
  of an MVC project. Adam will demonstrate these concepts by creating a web application.</p>\r\n<p> </p>\r\n<p>We
  will send all attendees an instructional email 1 hour prior to the event.</p>\r\n<p> </p>"
---
