---
title: Summer Deck Lunch
date: 2013-07-26 11:30 UTC
eventbrite:
  name:
    text: Summer Deck Lunch
    html: Summer Deck Lunch
  description:
    text: Lets get together for some lunch during our summer hiatus. Looking forward
      to seeing you all.
    html: "<P>Lets get together for some lunch during our summer hiatus. Looking forward
      to seeing you all.</P>"
  id: '7469103289'
  url: https://www.eventbrite.ca/e/summer-deck-lunch-tickets-7469103289
  vanity_url: https://monctonug-patio2013.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-07-26T11:30:00'
    utc: '2013-07-26T14:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-07-26T13:30:00'
    utc: '2013-07-26T16:30:00Z'
  organization_id: '791166669'
  created: '2013-07-15T12:38:33Z'
  changed: '2014-12-29T18:58:05Z'
  capacity: 15
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '3854893'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/7469103289/
  logo:
---
