---
title: An overview of Windows PowerShell for IT Pros and Developers
date: 2013-04-16 18:30 UTC
eventbrite:
  name:
    text: An overview of Windows PowerShell for IT Pros and Developers
    html: An overview of Windows PowerShell for IT Pros and Developers
  description:
    text: "An overview of Windows PowerShell for IT Pros and Developers\r\nMarco is
      going to provide an overview of Windows PowerShell both from an IT Pro and Developer
      perspective.  He will quickly review its history and how it is object based.
       Then he will get into some practical examples such as how it can be used to
      remotely manage servers, work with web services and do Windows Azure administration and
      automation.\r\nRegistration\r\nhttp://monctonug-powershell-2013.eventbrite.com/\r\nDate
      and Times\r\nTuesday April 16th 2013from 6:30 to 9:00pm\r\nLocation\r\n795 Main
      Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood\r\nThanks
      for Remi Depres-Smith for putting food in our belly. You can reach out to Remi
      anytime on twitter athttps://twitter.com/remids.\r\nSwag and Prizes:\r\nHost
      Bio\r\nMarco Shaw\r\nMarco has been working in the IT industry for over 12 years.
      He was awarded the Microsoft MVP award for his contributions to the Windows PowerShell
      community for 5 consecutive years (2007-2011). He has co-authored a book on
      Windows PowerShell, contributed to Microsoft Press and Microsoft TechNet magazine,
      and also contributed chapters for other books such as Microsoft System Center
      Operations Manager and Microsoft SQL Server. He has spoken at Microsoft TechDays
      in Canada and at TechMentor in the United States. He currently holds the GIAC GSEC
      and RHCE certifications, and has been doing some work for TrainSignal recently."
    html: "<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color:
      #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px;
      background-color: #f7f7f7;\"><SPAN STYLE=\"margin: 0px; padding: 0px; font-size:
      15px;\">An overview of Windows PowerShell for IT Pros and Developers</SPAN></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Marco is going to provide an overview of Windows PowerShell both
      from an IT Pro and Developer perspective.  He will quickly review its history
      and how it is object based.  Then he will get into some practical examples such
      as how it can be used to remotely manage servers, work with web services and
      do Windows Azure administration and automation.</P>\r\n<H3 STYLE=\"margin: 0px
      0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\">Registration</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://monctonug-december2012.eventbrite.com/\">http://monctonug-powershell-2013.eventbrite.com/</A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Date and Times</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Tuesday April 16th 2013<BR STYLE=\"margin:
      0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin: 0px 0px
      18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\">Location</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">795 Main Street – Second Floor Board room<BR STYLE=\"margin: 0px;
      padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Directions</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event Sponsors</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Thanks for Remi Depres-Smith for putting
      food in our belly. You can reach out to Remi anytime on twitter at<A STYLE=\"margin:
      0px; padding: 0px; color: #333333;\" HREF=\"https://twitter.com/remids\" REL=\"nofollow\">https://twitter.com/remids</A>.</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Swag and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG STYLE=\"margin:
      0px; padding: 5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\"
      ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"><IMG
      STYLE=\"margin: 0px; padding: 5px; border: 1px solid #dddddd; background-color:
      #ffffff;\" ALT=\"Microsoft Canada\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Marco Shaw</P>\r\n<P STYLE=\"margin: 0px
      0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Marco
      has been working in the IT industry for over 12 years. He was awarded the Microsoft
      MVP award for his contributions to the Windows PowerShell community for 5 consecutive
      years (2007-2011). He has co-authored a book on Windows PowerShell, contributed
      to Microsoft Press and Microsoft TechNet magazine, and also contributed chapters for
      other books such as Microsoft System Center Operations Manager and Microsoft
      SQL Server. He has spoken at Microsoft TechDays in Canada and at TechMentor
      in the United States. He currently holds the GIAC GSEC and RHCE certifications,
      and has been doing some work for TrainSignal recently.</P>"
  id: '6044580503'
  url: https://www.eventbrite.ca/e/an-overview-of-windows-powershell-for-it-pros-and-developers-tickets-6044580503
  vanity_url: https://monctonug-powershell-2013.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-04-16T18:30:00'
    utc: '2013-04-16T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-04-16T21:30:00'
    utc: '2013-04-17T00:30:00Z'
  organization_id: '791166669'
  created: '2013-03-28T11:32:57Z'
  changed: '2014-12-29T18:39:58Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '3251903'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/6044580503/
  is_externally_ticketed: false
  logo:
---
