---
title: Mastering ASP.NET MVC - Forms, validation, and how to keep yourself from getting
  hacked
date: 2013-06-28 14:30 UTC
eventbrite:
  name:
    text: Mastering ASP.NET MVC - Forms, validation, and how to keep yourself from
      getting hacked
    html: Mastering ASP.NET MVC - Forms, validation, and how to keep yourself from
      getting hacked
  description:
    text: "ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework.\r\nIn this
      second webinar Adam Greene will go over techniques to make your application
      really dynamic and secure."
    html: "<P>ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework.</P>\r\n<P>In
      this second webinar Adam Greene will go over techniques to make your application
      really dynamic and secure.</P>"
  id: '6969149915'
  url: http://www.eventbrite.ca/e/mastering-aspnet-mvc-forms-validation-and-how-to-keep-yourself-from-getting-hacked-tickets-6969149915
  vanity_url: http://mastermvcforms.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-06-28T14:30:00'
    utc: '2013-06-28T17:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-06-28T16:00:00'
    utc: '2013-06-28T19:00:00Z'
  created: '2013-06-04T22:50:03Z'
  changed: '2014-12-29T18:51:45Z'
  capacity: 250
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '860299233'
  venue_id: '3302345'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/6969149915/
  logo:
---
