---
title: Aspect Oriented Programming with Postsharp and .NET
date: 2013-11-19 18:30 UTC
eventbrite:
  name:
    text: Aspect Oriented Programming with Postsharp and .NET
    html: Aspect Oriented Programming with Postsharp and .NET
  description:
    text: "Synopsis:\r\nAspect Oriented Programming is about increasing modularity
      and making design patterns easier to implement and enforce through the separation
      of cross cutting concerns. Come find out how PostSharp makes this easy to do
      in .NET\r\n Speaker Bio:\r\nAdam Greene started programming at age 16 on an
      NEC V20 and never looked back. He has worked for local and international companies
      from British Columbia to Germany. He has developed software and websites for
      the financial services industry, a large home delivery grocery store chain,
      worked freelance and currently is developing state of the art software at Cognitive
      X Solutions Inc. He has worked in a wide variety of languages: C/C++, Delphi,
      COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC.
      Adam is on Twitter as @aspnetaddict"
    html: "<P><STRONG>Synopsis:</STRONG></P>\r\n<P>Aspect Oriented Programming is
      about increasing modularity and making design patterns easier to implement and
      enforce through the separation of cross cutting concerns. Come find out how
      PostSharp makes this easy to do in .NET</P>\r\n<P><STRONG> Speaker Bio:</STRONG></P>\r\n<P>Adam
      Greene started programming at age 16 on an NEC V20 and never looked back. He
      has worked for local and international companies from British Columbia to Germany.
      He has developed software and websites for the financial services industry,
      a large home delivery grocery store chain, worked freelance and currently is
      developing state of the art software at Cognitive X Solutions Inc. He has worked
      in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard
      fan of C#, working mainly in ASP.NET MVC. Adam is on Twitter as @aspnetaddict</P>"
  id: '8615359773'
  url: http://www.eventbrite.ca/e/aspect-oriented-programming-with-postsharp-and-net-tickets-8615359773
  vanity_url: http://monctonug-aop-postsharp.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-11-19T18:30:00'
    utc: '2013-11-19T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-11-19T21:30:00'
    utc: '2013-11-20T01:30:00Z'
  created: '2013-10-02T17:34:49Z'
  changed: '2013-11-20T08:33:17Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id: '2730081'
  organizer_id: '2361139082'
  venue_id: '4372633'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/8615359773/
  logo:
    id: '2730081'
    url: https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F2730081%2F791166669%2F1%2Foriginal.png?h=200&w=450&s=7a01aef19c8741e0386dd9e5073eb855
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
