---
title: Mastering ASP.NET MVC - Dependency Injection and Unit Testing
date: 2013-07-26 14:30 UTC
eventbrite:
  name:
    text: Mastering ASP.NET MVC - Dependency Injection and Unit Testing
    html: Mastering ASP.NET MVC - Dependency Injection and Unit Testing
  description:
    text: "ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework.\r\nIn this
      third webinar Adam Greene will go over Dependency injection techniques with
      StructureMap as well as provide an overview of unit testing."
    html: "<P STYLE=\"color: #666666; font-family: 'Helvetica Neue', helvetica, arial,
      sans-serif; font-size: 17px; line-height: 24px;\">ASP.NET MVC is Microsoft's
      implementation of Model View Controller for the web. Join Adam Greene, Software
      Solutions Specialist at Cognitive X Solutions as he guides you in the adoption
      of this flexible web framework.</P>\r\n<P STYLE=\"color: #666666; font-family:
      'Helvetica Neue', helvetica, arial, sans-serif; font-size: 17px; line-height:
      24px;\">In this third webinar Adam Greene will go over Dependency injection
      techniques with StructureMap as well as provide an overview of unit testing.</P>"
  id: '7468611819'
  url: http://www.eventbrite.ca/e/mastering-aspnet-mvc-dependency-injection-and-unit-testing-tickets-7468611819
  vanity_url: http://mastermvciodependency.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-07-26T14:30:00'
    utc: '2013-07-26T17:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-07-26T15:30:00'
    utc: '2013-07-26T18:30:00Z'
  created: '2013-07-15T11:19:45Z'
  changed: '2014-12-29T18:58:05Z'
  capacity: 250
  capacity_is_custom: true
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '860299233'
  venue_id:
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/7468611819/
  logo:
---
