---
title: Mastering ASP.NET MVC - Aspect Oriented Programming and PostSharp
date: 2013-09-27 14:30 UTC
eventbrite:
  name:
    text: Mastering ASP.NET MVC - Aspect Oriented Programming and PostSharp
    html: Mastering ASP.NET MVC - Aspect Oriented Programming and PostSharp
  description:
    text: "ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework. \nIn this fourth
      webinar Adam Greene will go over Aspect Oriented Programming principles by using
      PostSharp. \nNote: Details for event to be sent via email 45 minutes before
      the start. "
    html: "<P>ASP.NET MVC is Microsoft's implementation of Model View Controller for
      the web. Join Adam Greene, Software Solutions Specialist at Cognitive X Solutions
      as he guides you in the adoption of this flexible web framework.</P>\r\n<P>In
      this fourth webinar Adam Greene will go over Aspect Oriented Programming principles
      by using PostSharp.</P>\r\n<P><STRONG>Note: Details for event to be sent via
      email 45 minutes before the start.</STRONG></P>"
  id: '7950254425'
  url: http://www.eventbrite.ca/e/mastering-aspnet-mvc-aspect-oriented-programming-and-postsharp-tickets-7950254425
  vanity_url: http://mastermvc-aop.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-09-27T14:30:00'
    utc: '2013-09-27T17:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-09-27T16:00:00'
    utc: '2013-09-27T19:00:00Z'
  created: '2013-08-19T17:48:32Z'
  changed: '2014-12-29T19:04:11Z'
  capacity: 250
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: true
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id:
  organizer_id: '860299233'
  venue_id:
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/7950254425/
  logo:
---
