---
title: 'ASP Classic: A Survival Guide'
date: 2013-02-13 18:30 UTC
eventbrite:
  name:
    text: 'ASP Classic: A Survival Guide'
    html: 'ASP Classic: A Survival Guide'
  description:
    text: "ASP Classic: A Survival Guide \nIn contrast to the cutting-edge topics
      normally presented, this Moncton UG session focuses on one unpleasant reality
      of a programmer’s career: Legacy code. Specifically, applications written in
      “classic” ASP. The bad news is that there’s still a lot of it lurking about;
      the good news is that you can typically fix it and make it go away again quickly
      if you know the basics and a few “gotcha”s. This presentation is intended to
      be the compass and Swiss army knife that will help you survive and make it back
      to the civilized world of post-2002 web programming. \nRegistration \nhttp://aspclassic-february2013.eventbrite.com/
      \nDate and Times \nWednesday February 13th 2013 from 6:30 to 9:00pm \nLocation
      \n795 Main Street – Second Floor Board room Moncton, NB \nDirections \nDirections
      \nEvent Sponsors \nThis event would not be possible without the following sponsors:
      \nFood: TBD \nSwag and Prizes:  \nHost Bio \nDoreen Clemons is the chief cook
      and bottle-washer at Bonaventure Software. She started programming in BASIC
      on a TRS-80 at the age of 12. Doreen has spent the majority of her 11-year coding
      career working with Microsoft technologies, but opts for open source and/or
      Java…if nobody’s watching. "
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">ASP Classic: A Survival Guide</H3>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">In
      contrast to the cutting-edge topics normally presented, this Moncton UG session
      focuses on one unpleasant reality of a programmer’s career:<BR STYLE=\"margin:
      0px; padding: 0px;\">Legacy code. Specifically, applications written in “classic”
      ASP. The bad news is that there’s still a lot of it lurking about; the good
      news is that you can typically fix it and make it go away again quickly if<BR
      STYLE=\"margin: 0px; padding: 0px;\">you know the basics and a few “gotcha”s.
      This presentation is intended to be the compass and Swiss army knife that will
      help you survive and make it back to the civilized world of post-2002 web programming.</P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Registration</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://aspclassic-february2013.eventbrite.com/\">http://aspclassic-february2013.eventbrite.com/</A></P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Date and Times</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px;\">Wednesday February 13th 2013<BR STYLE=\"margin: 0px;
      padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px;
      padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\">Location</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">795 Main Street – Second Floor Board room<BR STYLE=\"margin: 0px;
      padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Directions</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event Sponsors</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food:<BR STYLE=\"margin: 0px; padding: 0px;\">TBD</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Swag
      and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG STYLE=\"margin: 0px;
      padding: 5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\"
      ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Doreen Clemons is the chief cook and bottle-washer
      at Bonaventure Software. She started programming in BASIC on a TRS-80 at the
      age of 12. Doreen has spent the majority of her 11-year coding career working
      with Microsoft technologies, but opts for open source and/or Java…if nobody’s
      watching.</P>"
  id: '5024879550'
  url: http://www.eventbrite.ca/e/asp-classic-a-survival-guide-tickets-5024879550
  vanity_url: http://aspclassic-february2013.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-02-13T18:30:00'
    utc: '2013-02-13T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-02-13T21:00:00'
    utc: '2013-02-14T01:00:00Z'
  created: '2012-12-11T19:47:31Z'
  changed: '2014-12-29T18:27:10Z'
  capacity: 25
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2681317'
  category_id: '108'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/5024879550/
  logo:
---
