---
title: Python Fundamentals
date: 2013-10-22 18:30 UTC
eventbrite:
  name:
    text: Python Fundamentals
    html: Python Fundamentals
  description:
    text: "  \nSynopsis: \nPython is growing in popularity, both as a teaching language
      and in scientific computing. Come find out about the basics of Python, including
      some of the uses that it is being put to. Also, we'll take a look at ipython,
      a great tool for playing around with Python when trying to figure out a solution
      to a problem. \nSpeaker Bio: \nJoey Bernard works as a high performance consultant,
      helping research do computational science. This requires being a jack-of-all-trades
      in terms of programming languages and software utilities. He also writes a monthly
      column for Linux Journal on scientific software, and writes occasional tutorials
      for Linux User and Developer. "
    html: "<P> </P>\r\n<P><STRONG>Synopsis:</STRONG></P>\r\n<P>Python is growing in
      popularity, both as a teaching language and in scientific computing. Come find
      out about the basics of Python, including some of the uses that it is being
      put to. Also, we'll take a look at ipython, a great tool for playing around
      with Python when trying to figure out a solution to a problem.</P>\r\n<P><STRONG>Speaker
      Bio:</STRONG></P>\r\n<P>Joey Bernard works as a high performance consultant,
      helping research do computational science. This requires being a jack-of-all-trades
      in terms of programming languages and software utilities. He also writes a monthly
      column for Linux Journal on scientific software, and writes occasional tutorials
      for Linux User and Developer.</P>"
  id: '8613943537'
  url: http://www.eventbrite.ca/e/python-fundamentals-tickets-8613943537
  vanity_url: http://monctonug-python-fund.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-10-22T18:30:00'
    utc: '2013-10-22T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-10-22T21:30:00'
    utc: '2013-10-23T00:30:00Z'
  created: '2013-10-02T16:27:22Z'
  changed: '2013-10-23T07:31:44Z'
  capacity: 50
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id: '2728975'
  organizer_id: '2361139082'
  venue_id: '4372633'
  category_id:
  subcategory_id:
  format_id: '1'
  resource_uri: https://www.eventbriteapi.com/v3/events/8613943537/
  logo:
    id: '2728975'
    url: https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F2728975%2F791166669%2F1%2Foriginal.png?h=200&w=450&s=1ed7b4636eaadbf4bcda49fd11ea17ee
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
