---
title: Single page applications
date: 2013-12-17 18:30 UTC
eventbrite:
  name:
    text: Single page applications
    html: Single page applications
  description:
    text: "\r\nSynopsis\r\n \r\nSingle page applications are an increasingly popular
      choice to build rich interface applications in the browser. This talk will go
      over some important high level details to consider when building a single page
      application.\r\n \r\nBio\r\n \r\nVincent Roy has been interested in web development
      since his teenage years. He started his career as a ruby developer, 6 years
      ago, and has been hooked ever since. The days you’ll find him writing web applications
      using Ruby on Rails and CoffeeScript. In his free time, he dabbles in open source
      and writes on his blog.\r\n \r\nTwitter: @vroy\r\nBlog: vroy.ca\r\n \r\n"
    html: "<DIV STYLE=\"color: #222222; font-family: arial, sans-serif; font-size:
      13px;\" DIR=\"ltr\">\r\n<DIV><STRONG>Synopsis</STRONG></DIV>\r\n<DIV> </DIV>\r\n<DIV>Single
      page applications are an increasingly popular choice to build rich interface
      applications in the browser. This talk will go over some important high level
      details to consider when building a single page application.</DIV>\r\n<DIV> </DIV>\r\n<DIV><STRONG>Bio</STRONG></DIV>\r\n<DIV> </DIV>\r\n<DIV>Vincent
      Roy has been interested in web development since his teenage years. He started
      his career as a ruby developer, 6 years ago, and has been hooked ever since.
      The days you’ll find him writing web applications using Ruby on Rails and CoffeeScript.
      In his free time, he dabbles in open source and writes on his blog.</DIV>\r\n<DIV> </DIV>\r\n<DIV>Twitter:
      @vroy</DIV>\r\n<DIV>Blog: <A STYLE=\"color: #1155cc;\" HREF=\"http://vroy.ca/\"
      TARGET=\"_blank\" REL=\"noopener noreferrer nofollow\">vroy.ca</A></DIV>\r\n<DIV> </DIV>\r\n</DIV>"
  id: '9531092755'
  url: https://www.eventbrite.ca/e/single-page-applications-tickets-9531092755
  start:
    timezone: America/Halifax
    local: '2013-12-17T18:30:00'
    utc: '2013-12-17T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-12-17T21:30:00'
    utc: '2013-12-18T01:30:00Z'
  organization_id: '791166669'
  created: '2013-11-26T12:57:22Z'
  changed: '2013-12-18T08:31:26Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id: '3697429'
  organizer_id: '2361139082'
  venue_id: '4828793'
  category_id:
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/9531092755/
  logo:
    crop_mask:
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F3697429%2F791166669%2F1%2Foriginal.png?s=495f726228fd3b6b9ddbf3d8b9fce780
      width:
      height:
    id: '3697429'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F3697429%2F791166669%2F1%2Foriginal.png?h=200&w=450&s=3edaa558a835d5dd1eb4b43e627880c1
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
