---
title: BDD with SpecFlow
date: 2013-01-16 18:30 UTC
eventbrite:
  name:
    text: BDD with SpecFlow
    html: BDD with SpecFlow
  description:
    text: "Behavior Driven Development with SpecFlow\r\nGet an overview of Behaviour
      Driven Development on the .Net platform with SpecFlow, a free open-source tool.
      We’ll take SpecFlow for a run and see how it works, why it’s useful and how
      it helps improve your components public interface.\r\nRegistration\r\nhttp://monctonug-december2012.eventbrite.com/\r\nDate
      and Times\r\nTuesday, December 11th 2012from 6:30 to 9:00pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood\r\nSwag
      and Prizes:\r\nHost Bio\r\nRémi Després-Smyth\r\nRémi is an avid software developer
      with over 14 years experience, who has founded two software consultancies –
      most recently, Journeyman Software. He is a contrarian always looking for better
      ways of doing things. Remi is active on Twitter (@remids), and is always willing
      to discuss new development tools and techniques."
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">Behavior Driven Development with SpecFlow</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Get an overview of Behaviour Driven Development on the .Net platform
      with SpecFlow, a free open-source tool. We’ll take SpecFlow for a run and see
      how it works, why it’s useful and how it helps improve your components public
      interface.</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-size: 16px; line-height: 24px;
      color: #555555; background-color: #f7f7f7;\">Registration</H3>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\"><A
      STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://monctonug-december2012.eventbrite.com/\">http://monctonug-december2012.eventbrite.com/</A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Date and Times</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Tuesday, December 11th 2012<BR
      STYLE=\"margin: 0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Location</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">795 Main Street – Second Floor Board room<BR
      STYLE=\"margin: 0px; padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Directions</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event Sponsors</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food<BR STYLE=\"margin: 0px; padding: 0px;\"><A STYLE=\"margin: 0px;
      padding: 0px; color: #333333;\" HREF=\"http://msdn.microsoft.ca/\" TARGET=\"_blank\"
      REL=\"noopener noreferrer nofollow\"><IMG STYLE=\"margin: 0px; padding: 5px;
      border: 1px solid #dddddd; background-color: #ffffff;\" ALT=\"Microsoft Canada\"
      SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></IMG></A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Swag and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG CLASS=\"alignnone
      size-medium wp-image-169\" STYLE=\"margin: 0px; padding: 5px; border: 1px solid
      #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\" ALT=\"\"
      WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Rémi Després-Smyth</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Rémi
      is an avid software developer with over 14 years experience, who has founded
      two software consultancies – most recently, Journeyman Software. He is a contrarian
      always looking for better ways of doing things. Remi is active on Twitter (@remids),
      and is always willing to discuss new development tools and techniques.</P>"
  id: '4903098299'
  url: https://www.eventbrite.ca/e/bdd-with-specflow-tickets-4903098299
  vanity_url: https://monctonug-december2012.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-01-16T18:30:00'
    utc: '2013-01-16T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-01-16T21:30:00'
    utc: '2013-01-17T01:30:00Z'
  created: '2012-11-23T18:18:57Z'
  changed: '2014-12-29T18:25:46Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2681317'
  category_id:
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/4903098299/
  logo:
---
