---
title: What can you do for free with Oracle Database?
slug: what-can-you-do-for-free-with-oracle-database
date: 2013-05-15 18:30 UTC
eventbrite:
  name:
    text: What can you do for free with Oracle Database?
    html: What can you do for free with Oracle Database?
  description:
    text: "What can you do for free with Oracle Database?\r\nOracle Database solutions
      tend to be  considered cost prohibitive to manysmall businesses but there are
      several free solutions available that canscale as the business grows.\r\nDuring
      this session, I’ll give a brief introduction to some free Oracletools and demonstrate
      some cool stuff that you can do with them:\r\n- Oracle VirtualBox – Oracle’s
      free VM host- Oracle 11G Express Edition (XE) – Free edition of Oracle Database-
      Oracle SQL Developer – an IDE for Oracle Database.- Oracle Application Express
      – Free Oracle web-based rapid applicationdevelopment toolkit- Oracle XML Database
      (XDB) – an Oracle Database feature-set allowingseamless integration of XML.\r\nRegistration\r\nhttp://monctonug-free-oracle.eventbrite.com/\r\nDate
      and Times\r\nWednesday May 15th 2013from 6:30 to 9:00pm\r\nLocation\r\n795 Main
      Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood\r\nTBD\r\nSwag
      and Prizes:\r\nHost Bio\r\nPaul Duncan\r\nPaul Duncan is an Oracle Database
      Professional with over 13 years of industry experience. Paul has a background
      in Enterprise class Oracle Database solutions and has worked for telco giants
      such as British Telecommunications and Bell Canada. After relocating to Moncton
      last year, Paul is now back with his previous Calgary Employer, Cognera, as
      a PL/SQL Developer. Paul has a passion for some of Oracle’s less-frequently
      used features such as Oracle XML Database (XDB)."
    html: "<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color:
      #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px;
      background-color: #f7f7f7;\">What can you do for free with Oracle Database?</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Oracle Database solutions tend to be  considered cost prohibitive
      to many<BR STYLE=\"margin: 0px; padding: 0px;\">small businesses but there are
      several free solutions available that can<BR STYLE=\"margin: 0px; padding: 0px;\">scale
      as the business grows.</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">During this session, I’ll give
      a brief introduction to some free Oracle<BR STYLE=\"margin: 0px; padding: 0px;\">tools
      and demonstrate some cool stuff that you can do with them:</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">-
      Oracle VirtualBox – Oracle’s free VM host<BR STYLE=\"margin: 0px; padding: 0px;\">-
      Oracle 11G Express Edition (XE) – Free edition of Oracle Database<BR STYLE=\"margin:
      0px; padding: 0px;\">- Oracle SQL Developer – an IDE for Oracle Database.<BR
      STYLE=\"margin: 0px; padding: 0px;\">- Oracle Application Express – Free Oracle
      web-based rapid application<BR STYLE=\"margin: 0px; padding: 0px;\">development
      toolkit<BR STYLE=\"margin: 0px; padding: 0px;\">- Oracle XML Database (XDB)
      – an Oracle Database feature-set allowing<BR STYLE=\"margin: 0px; padding: 0px;\">seamless
      integration of XML.</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family:
      Georgia, 'Times New Roman', Times, serif; font-size: 16px; line-height: 24px;
      color: #555555; background-color: #f7f7f7;\">Registration</H3>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\"><A
      STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://monctonug-december2012.eventbrite.com/\">http://monctonug-free-oracle.eventbrite.com/</A></P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Date and Times</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Wednesday May 15th 2013<BR STYLE=\"margin:
      0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3 STYLE=\"margin: 0px 0px
      18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size:
      16px; line-height: 24px; color: #555555; background-color: #f7f7f7;\">Location</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">795 Main Street – Second Floor Board room<BR STYLE=\"margin: 0px;
      padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Directions</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\"><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow noopener noreferrer\">Directions</A></P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Event
      Sponsors</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">This event would not be possible without
      the following sponsors:</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Food</P>\r\n<P STYLE=\"margin:
      0px 0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family:
      Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">TBD</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Swag and Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG STYLE=\"margin:
      0px; padding: 5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\"
      ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"><IMG
      STYLE=\"margin: 0px; padding: 5px; border: 1px solid #dddddd; background-color:
      #ffffff;\" ALT=\"Microsoft Canada\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2010%2F10%2Fmsdn.jpg&sig=ADR2i78fOJpk_7dRSxZGDT3YA45yxufDiw\"></P>\r\n<H2
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 20px; line-height: 26px; color: #555555; background-color:
      #f7f7f7;\">Host Bio</H2>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Paul Duncan</P>\r\n<P STYLE=\"margin: 0px
      0px 18px; padding: 0px; line-height: 18px; color: #333333; font-family: Tahoma,
      Arial, Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Paul
      Duncan is an Oracle Database Professional with over 13 years of industry experience.
      Paul has a background in Enterprise class Oracle Database solutions and has
      worked for telco giants such as British Telecommunications and Bell Canada.
      After relocating to Moncton last year, Paul is now back with his previous Calgary
      Employer, Cognera, as a PL/SQL Developer. Paul has a passion for some of Oracle’s
      less-frequently used features such as Oracle XML Database (XDB).</P>"
  id: '6395823079'
  url: https://www.eventbrite.ca/e/what-can-you-do-for-free-with-oracle-database-tickets-6395823079
  vanity_url: https://monctonug-free-oracle.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-05-15T18:30:00'
    utc: '2013-05-15T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-05-15T21:30:00'
    utc: '2013-05-16T00:30:00Z'
  organization_id: '791166669'
  created: '2013-04-22T19:03:31Z'
  changed: '2014-12-29T18:44:27Z'
  published: '2013-04-22T19:05:42Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "What can you do for free with Oracle Database?\r\nOracle Databas"
  logo_id:
  organizer_id: '2361139082'
  venue_id: '3396685'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/6395823079/
  is_externally_ticketed: false
  logo:
---
