---
title: Two Screens for the Code of One – Using Portable Libraries
date: 2013-02-11 18:30 UTC
eventbrite:
  name:
    text: Two Screens for the Code of One – Using Portable Libraries
    html: Two Screens for the Code of One – Using Portable Libraries
  description:
    text: "Two Screens for the Code of One – Using Portable Libraries\r\nCode once
      release twice with the power of portable libraries.   You will find out the
      best way to develop reusable code that allows you to reach two platforms with
      little more effort that reaching just one.  Whether you are a Windows Phone
      developer that wants to branch out into Windows 8 or the other way around or
      even new to the Modern UI development experience this is a must attend session
      for you!\r\nRegistration\r\nhttp://using-portable-libraries-monctonug.eventbrite.com/\r\nDate
      and Times\r\nMonday, February 11th 2013from 6:30 to 9:00pm\r\nLocation\r\n795
      Main Street – Second Floor Board roomMoncton, NB\r\nDirections\r\nDirections\r\nEvent
      Sponsors\r\nThis event would not be possible without the following sponsors:\r\nFood\r\nTBD\r\nSwag
      and Prizes:\r\nSpeaker Bio\r\nAtley Hunter is a passionate developer with over
      15 years’ experience. As one of the most prolific Modern UI developers in the
      world, he has more than 100 apps in the Windows Phone Store and 50 apps currently
      in the Windows RT Store.  As a Microsoft Windows Phone MVP, Telerik MVP 7 Insider
      and Nokia Ambassador, he is constantly working with developers worldwide to
      improve both skills and the platforms themselves.  Atley is always sharing his
      knowledge and connecting with developers through events, his blog, email Twitter,
      Skype and LinkedIn.\r\nTwitter: @AtleyHunter Blog: http://www.AtleyHunter.com"
    html: "<H3 STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times
      New Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555;
      background-color: #f7f7f7;\">Two Screens for the Code of One – Using Portable
      Libraries</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">Code once release twice with the power of
      portable libraries.   You will find out the best way to develop reusable code
      that allows you to reach two platforms with little more effort that reaching
      just one.  Whether you are a Windows Phone developer that wants to branch out
      into Windows 8 or the other way around or even new to the Modern UI development
      experience this is a must attend session for you!</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Registration</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://using-portable-libraries-monctonug.eventbrite.com/\">http://using-portable-libraries-monctonug.eventbrite.com/</A></P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Date and Times</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Monday, February 11th
      2013<BR STYLE=\"margin: 0px; padding: 0px;\">from 6:30 to 9:00pm</P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Location</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">795 Main Street – Second Floor Board room<BR
      STYLE=\"margin: 0px; padding: 0px;\">Moncton, NB</P>\r\n<H3 STYLE=\"margin:
      0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New Roman', Times,
      serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Directions</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\"><A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.bing.com/maps/?v=2&cp=46.088306654365496~-64.77848397526306&lvl=16&dir=0&sty=r&where1=795%20Main%20St%2C%20Moncton%2C%20NB%2C%20E1C&form=LMLTCC\"
      REL=\"nofollow\">Directions</A></P>\r\n<H3 STYLE=\"margin: 0px 0px 18px; padding:
      0px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px;
      line-height: 24px; color: #555555; background-color: #f7f7f7;\">Event Sponsors</H3>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">This event would not be possible without the following sponsors:</P>\r\n<P
      STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height: 18px; color: #333333;
      font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; background-color:
      #f7f7f7;\">Food</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px; line-height:
      18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:
      13px; background-color: #f7f7f7;\">TBD</P>\r\n<P STYLE=\"margin: 0px 0px 18px;
      padding: 0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial,
      Helvetica, sans-serif; font-size: 13px; background-color: #f7f7f7;\">Swag and
      Prizes:<BR STYLE=\"margin: 0px; padding: 0px;\"><IMG STYLE=\"margin: 0px; padding:
      5px; border: 1px solid #dddddd; background-color: #ffffff;\" TITLE=\"telerikLogo-web-899x359px\"
      ALT=\"\" WIDTH=\"200\" SRC=\"https://s.evbuc.com/https_proxy?url=http%3A%2F%2Fmoncton.deveast.com%2Fwp-content%2Fuploads%2F2011%2F02%2FtelerikLogo-web-899x359px-300x119.png&sig=ADR2i7_sdwWTw6dwSTdRwKWC40yDjkl7cw\"></P>\r\n<H3
      STYLE=\"margin: 0px 0px 18px; padding: 0px; font-family: Georgia, 'Times New
      Roman', Times, serif; font-size: 16px; line-height: 24px; color: #555555; background-color:
      #f7f7f7;\">Speaker Bio</H3>\r\n<P STYLE=\"margin: 0px 0px 18px; padding: 0px;
      line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 13px; background-color: #f7f7f7;\">Atley Hunter is a passionate developer
      with over 15 years’ experience. As one of the most prolific Modern UI developers
      in the world, he has more than 100 apps in the Windows Phone Store and 50 apps
      currently in the Windows RT Store.  As a Microsoft Windows Phone MVP, Telerik
      MVP 7 Insider and Nokia Ambassador, he is constantly working with developers
      worldwide to improve both skills and the platforms themselves.  Atley is always
      sharing his knowledge and connecting with developers through events, his blog,
      email Twitter, Skype and LinkedIn.</P>\r\n<P STYLE=\"margin: 0px 0px 18px; padding:
      0px; line-height: 18px; color: #333333; font-family: Tahoma, Arial, Helvetica,
      sans-serif; font-size: 13px; background-color: #f7f7f7;\">Twitter: <A STYLE=\"margin:
      0px; padding: 0px; color: #333333;\" HREF=\"http://twitter.com/Gerart_Gallant\"
      REL=\"nofollow\">@</A><A STYLE=\"margin: 0px; padding: 0px; color: #333333;\"
      HREF=\"http://twitter.com/AtleyHunter\" REL=\"nofollow\">AtleyHunter </A><BR
      STYLE=\"margin: 0px; padding: 0px;\">Blog: <A STYLE=\"margin: 0px; padding:
      0px; color: #333333;\" HREF=\"http://www.atleyhunter.com/\" REL=\"nofollow\">http://www.AtleyHunter.com</A></P>"
  id: '5340607902'
  url: https://www.eventbrite.ca/e/two-screens-for-the-code-of-one-using-portable-libraries-tickets-5340607902
  vanity_url: https://using-portable-libraries-monctonug.eventbrite.ca
  start:
    timezone: America/Halifax
    local: '2013-02-11T18:30:00'
    utc: '2013-02-11T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2013-02-11T21:30:00'
    utc: '2013-02-12T01:30:00Z'
  created: '2013-01-25T14:47:57Z'
  changed: '2014-12-29T18:30:56Z'
  capacity: 25
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_US
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  logo_id:
  organizer_id: '2361139082'
  venue_id: '2905596'
  category_id: '101'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/5340607902/
  logo:
---
