---
title: Pragmatic RESTful API Design
date: 2014-12-16 18:30 UTC
eventbrite:
  name:
    text: Pragmatic RESTful API Design
    html: Pragmatic RESTful API Design
  description:
    text: "Summary\r\n \r\n \r\nPublic APIs are an important part of any product or
      service being launched these days. These are often added late in a product lifecycle
      and often do not get the design attention they need.\r\n \r\nThis talk is a
      pragmatic approach to creating well designed RESTful APIs. The focus is on creating
      a great user experience for your users and easing the burden on building the
      APIs.\r\n \r\nSpeaker\r\n\r\n@chrisdail"
    html: "<DIV STYLE=\"color: #222222; font-family: arial, sans-serif; font-size:
      13px;\"><STRONG>Summary</STRONG></DIV>\r\n<DIV STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\">Public APIs are
      an important part of any product or service being launched these days. These
      are often added late in a product lifecycle and often do not get the design
      attention they need.</DIV>\r\n<DIV STYLE=\"color: #222222; font-family: arial,
      sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">This talk is a pragmatic approach to creating
      well designed RESTful APIs. The focus is on creating a great user experience
      for your users and easing the burden on building the APIs.</DIV>\r\n<DIV STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><STRONG>Speaker</STRONG></DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><STRONG><BR></STRONG></DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><A
      STYLE=\"outline: 0px; text-decoration: none; color: #376299; cursor: pointer;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial; font-size: 12px;
      -webkit-user-select: text !important; background-color: #f5f5f5;\" TITLE=\"http://twitter.com/chrisdail\"
      HREF=\"http://twitter.com/chrisdail\" TARGET=\"_blank\" REL=\"nofollow noopener
      noreferrer\">@chrisdail</A></DIV>"
  id: '14627492223'
  url: https://www.eventbrite.ca/e/pragmatic-restful-api-design-tickets-14627492223
  start:
    timezone: America/Halifax
    local: '2014-12-16T18:30:00'
    utc: '2014-12-16T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-12-16T21:30:00'
    utc: '2014-12-17T01:30:00Z'
  organization_id: '791166669'
  created: '2014-11-26T12:29:53Z'
  changed: '2014-12-17T08:33:04Z'
  published: '2014-11-26T12:29:55Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Summary\r\n \r\n \r\nPublic APIs are an important part of any product"
  logo_id: '11738847'
  organizer_id: '2361139082'
  venue_id: '9209515'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/14627492223/
  is_externally_ticketed: false
  logo:
    crop_mask:
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F11738847%2F791166669%2F1%2Foriginal.png?auto=compress&s=4a863cecca95c1d5eea6cbce4e69ef9d
      width: 237
      height: 77
    id: '11738847'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F11738847%2F791166669%2F1%2Foriginal.png?h=200&w=450&auto=compress&s=88d8700b105665c46bd8498402905264
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
description: "<div><strong>Summary</strong></div>\r\n<div> </div>\r\n<div> </div>\r\n<div>Public
  APIs are an important part of any product or service being launched these days.
  These are often added late in a product lifecycle and often do not get the design
  attention they need.</div>\r\n<div> </div>\r\n<div>This talk is a pragmatic approach
  to creating well designed RESTful APIs. The focus is on creating a great user experience
  for your users and easing the burden on building the APIs.</div>\r\n<div> </div>\r\n<div><strong>Speaker</strong></div>\r\n<div><strong><br></strong></div>\r\n<div><a
  title=\"http://twitter.com/chrisdail\" href=\"http://twitter.com/chrisdail\" target=\"_blank\"
  rel=\"nofollow noopener noreferrer\">@chrisdail</a></div>"
---
