---
title: Pragmatic RESTful API Design
date: 2014-12-16 18:30 UTC
eventbrite:
  name:
    text: Pragmatic RESTful API Design
    html: Pragmatic RESTful API Design
  description:
    text: "Summary\r\n \r\n \r\nPublic APIs are an important part of any product or
      service being launched these days. These are often added late in a product lifecycle
      and often do not get the design attention they need.\r\n \r\nThis talk is a
      pragmatic approach to creating well designed RESTful APIs. The focus is on creating
      a great user experience for your users and easing the burden on building the
      APIs.\r\n \r\nSpeaker\r\n\r\n@chrisdail"
    html: "<DIV STYLE=\"color: #222222; font-family: arial, sans-serif; font-size:
      13px;\"><STRONG>Summary</STRONG></DIV>\r\n<DIV STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\">Public APIs are
      an important part of any product or service being launched these days. These
      are often added late in a product lifecycle and often do not get the design
      attention they need.</DIV>\r\n<DIV STYLE=\"color: #222222; font-family: arial,
      sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">This talk is a pragmatic approach to creating
      well designed RESTful APIs. The focus is on creating a great user experience
      for your users and easing the burden on building the APIs.</DIV>\r\n<DIV STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\"> </DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><STRONG>Speaker</STRONG></DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><STRONG><BR></STRONG></DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><A
      STYLE=\"outline: 0px; text-decoration: none; color: #376299; cursor: pointer;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial; font-size: 12px;
      -webkit-user-select: text !important; background-color: #f5f5f5;\" TITLE=\"http://twitter.com/chrisdail\"
      HREF=\"http://twitter.com/chrisdail\" TARGET=\"_blank\" REL=\"nofollow\">@chrisdail</A></DIV>"
  id: '14627492223'
  url: http://www.eventbrite.ca/e/pragmatic-restful-api-design-tickets-14627492223
  start:
    timezone: America/Halifax
    local: '2014-12-16T18:30:00'
    utc: '2014-12-16T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-12-16T21:30:00'
    utc: '2014-12-17T01:30:00Z'
  created: '2014-11-26T12:29:53Z'
  changed: '2014-12-17T08:33:04Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id: '11738847'
  organizer_id: '2361139082'
  venue_id: '9209515'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/14627492223/
  logo:
    id: '11738847'
    url: https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F11738847%2F791166669%2F1%2Foriginal.png?h=200&w=450&s=11176042c751933b74da40cb1638c7c7
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
