---
title: Automated UI testing with Selenium
date: 2014-04-15 18:30 UTC
eventbrite:
  name:
    text: Automated UI testing with Selenium
    html: Automated UI testing with Selenium
  description:
    text: "Event Info:\r\nRemember the last time you had to add a feature to mission-criticalcode?
       Remember how you had to spot-check it in multiple versions ofInternet Explorer--not
      to mention Firefox, Chrome, and Safari before itwent to QA?  Remember how that
      sucked?  Remember how it sucked even morewhen the specs changed in Beta and
      you had to do it all over again?Yeah, that.\"\"Selenium is an open-source tool
      that lets you script the mind-numbingchore of cross-browser testing, and even
      captures screen-shots of theresults.  It boldly goes where no unit-test has
      gone before.  And itgives you more time to focus on new code, rather than old.\"\r\n\r\nSpeaker
      Bio:\r\nDoreen Clemons is the chief cook and bottle-washer at BonaventureSoftware.
      She started programming in BASIC on a TRS-80 at the age of 12.Doreen has spent
      the majority of her 12-year coding career working withMicrosoft technologies,
      but opts for open source and/or Java...whennobody’s watching."
    html: "<P><STRONG><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\">Event Info:</SPAN></STRONG></P>\r\n<P><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\">Remember the last
      time you had to add a feature to mission-critical</SPAN><BR STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\">code?  Remember how you had
      to spot-check it in multiple versions of</SPAN><BR STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">Internet Explorer--not to mention Firefox,
      Chrome, and Safari before it</SPAN><BR STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">went to QA?  Remember how that sucked?
       Remember how it sucked even more</SPAN><BR STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">when the specs changed in Beta and you
      had to do it all over again?</SPAN><BR STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family:
      arial, sans-serif; font-size: 13px;\">Yeah, that.\"</SPAN><BR STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\"><BR STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\">\"Selenium is an
      open-source tool that lets you script the mind-numbing</SPAN><BR STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13px;\">chore of cross-browser
      testing, and even captures screen-shots of the</SPAN><BR STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\">results.  It boldly goes
      where no unit-test has gone before.  And it</SPAN><BR STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\">gives you more time to focus
      on new code, rather than old.\"</SPAN></P>\r\n<P><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 13px;\"><BR></SPAN></P>\r\n<P><STRONG><SPAN
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\">Speaker
      Bio:</SPAN></STRONG></P>\r\n<P><SPAN STYLE=\"color: #222222; font-family: arial,
      sans-serif; font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family: arial,
      sans-serif; font-size: 13px;\">Doreen Clemons is the chief cook and bottle-washer
      at Bonaventure</SPAN><BR STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\">Software. She started programming in BASIC on a TRS-80 at
      the age of 12.</SPAN><BR STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\">Doreen has spent the majority of her 12-year coding career
      working with</SPAN><BR STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\"><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13px;\">Microsoft technologies, but opts for open source and/or Java...when</SPAN><BR
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\"><SPAN
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13px;\">nobody’s
      watching.</SPAN></SPAN></P>"
  id: '11085146973'
  url: https://www.eventbrite.ca/e/automated-ui-testing-with-selenium-tickets-11085146973
  start:
    timezone: America/Halifax
    local: '2014-04-15T18:30:00'
    utc: '2014-04-15T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-04-15T21:30:00'
    utc: '2014-04-16T00:30:00Z'
  created: '2014-03-26T13:00:41Z'
  changed: '2014-12-29T19:44:19Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  logo_id:
  organizer_id: '2361139082'
  venue_id: '5535717'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/11085146973/
  logo:
---
