---
title: Introduction to CQRS
date: 2014-01-21 18:30 UTC
eventbrite:
  name:
    text: Introduction to CQRS
    html: Introduction to CQRS
  description:
    text: "Remi Després-Smyth will give us an introduction of CQRS. \nCQRS - Command
      Query Responsibility Segratation - is a high-level architectural pattern that
      helps kittens find homes and yet may be responsible for the annihilation of
      the unicorn race. CQRS is best suited for complex domains and scalable systems.
      \nRémi Després-Smyth will provide an introduction to the architecture, as well
      as an 1000-foot overview of some of the patterns commonly used when implementing
      it. "
    html: "<P>Remi Després-Smyth will give us an introduction of CQRS.</P>\r\n<P>CQRS
      - Command Query Responsibility Segratation - is a high-level architectural pattern
      that helps kittens find homes and yet may be responsible for the annihilation
      of the unicorn race. CQRS is best suited for complex domains and scalable systems.</P>\r\n<P>Rémi
      Després-Smyth will provide an introduction to the architecture, as well as an
      1000-foot overview of some of the patterns commonly used when implementing it.</P>"
  id: '10017062303'
  url: http://www.eventbrite.ca/e/introduction-to-cqrs-tickets-10017062303
  start:
    timezone: America/Halifax
    local: '2014-01-21T18:30:00'
    utc: '2014-01-21T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-01-21T21:30:00'
    utc: '2014-01-22T01:30:00Z'
  created: '2014-01-03T15:06:22Z'
  changed: '2014-12-29T19:30:28Z'
  capacity: 30
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '4828793'
  category_id:
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/10017062303/
  logo:
---
