---
title: JAVA8
date: 2014-03-18 18:30 UTC
eventbrite:
  name:
    text: JAVA8
    html: JAVA8
  description:
    text: "Summary:\r\n \r\n\r\nJava SE 8 contains the most important changes to the
      language and API ever.\r\nRobert J Saulnier will present all the interesting
      additions to Java SE 8, from the\r\nminor changes, to the Data/Time API, and,
      most importantly, lambdas. \r\n \r\n \r\nBio:\r\n \r\n\r\nRobert J Saulnier
      is passionate about all things Java; language, API, VM, and coffee.\r\nHe has
      been experimenting, teaching, and developing with Java since 1996.\r\nAnd with
      over 15 years of professional experience, the last five years have\r\nbeen spent
      working at GTECH, from an embedded terminal system, to enterprise applications.\r\n\r\n"
    html: "<P><STRONG><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 13.333333015441895px;\">Summary:</SPAN></STRONG></P>\r\n<DIV STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 13.333333015441895px;\"> </DIV>\r\n<DIV
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 13.333333015441895px;\">\r\n<DIV>Java
      SE 8 contains the most important changes to the language and API ever.</DIV>\r\n<DIV>Robert J
      Saulnier will present all the interesting additions to Java SE 8, from the</DIV>\r\n<DIV>minor
      changes, to the Data/Time API, and, most importantly, lambdas. </DIV>\r\n<DIV> </DIV>\r\n<DIV> </DIV>\r\n<DIV><STRONG>Bio:</STRONG></DIV>\r\n<DIV> </DIV>\r\n<DIV>\r\n<DIV>Robert J
      Saulnier is passionate about all things Java; language, API, VM, and coffee.</DIV>\r\n<DIV>He
      has been experimenting, teaching, and developing with Java since 1996.</DIV>\r\n<DIV>And
      with over 15 years of professional experience, the last five years have</DIV>\r\n<DIV>been
      spent working at GTECH, from an embedded terminal system, to enterprise applications.</DIV>\r\n</DIV>\r\n</DIV>"
  id: '10843837209'
  url: https://www.eventbrite.ca/e/java8-tickets-10843837209
  start:
    timezone: America/Halifax
    local: '2014-03-18T18:30:00'
    utc: '2014-03-18T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-03-18T21:30:00'
    utc: '2014-03-19T00:30:00Z'
  organization_id: '791166669'
  created: '2014-03-05T20:45:41Z'
  changed: '2014-12-29T19:41:09Z'
  published: '2014-03-05T20:45:45Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Summary:\r\n \r\n\r\nJava SE 8 contains the most important changes to
    the language and API ever.\r\nRobert J Saulnier will present all the interesti"
  logo_id:
  organizer_id: '2361139082'
  venue_id: '4828793'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/10843837209/
  is_externally_ticketed: false
  logo:
---
