---
title: Anatomy of a Mail app
date: 2014-09-16 18:30 UTC
eventbrite:
  name:
    text: Anatomy of a Mail app
    html: Anatomy of a Mail app
  description:
    text: "Please note the new venue for meetings. We will now be meeting at the Venncenter
      on Main street.\r\n\r\nSummary:\r\nAnatomy of a Mail app\r\nApps for Office
      introduces a new programming model that is so flexible, you may not believe
      it unless you see it with your own eyes. You might say it is dangerously simple
      to enhance the functionality of Office. Apps for Office allow you to enhance
      the user experience for Access, Excel, Outlook, PowerPoint, Project and Word,
      most likely using your existing skills.\r\nStarting with a brief discussion
      surrounding the road-map for the various types of Office apps, this talk will
      focus primarily on Mail apps and how you can use them to provide very valuable
      enhancements to the message and appointment (reading and composing) experiences.\r\nYou
      will learn about what if takes to develop a Mail app (a real app, currently
      under development will be shown), what the infrastructure looks like to deploy
      a mail app, what the licensing process looks like and how easy they are to monetize.\r\nAfter
      the discussion, you will likely be beaming with ideas and be rushing home to
      begin building your very own App for Office.\r\nBio:\r\nJ. Dan Attis is the
      founder of the Atlanta SharePoint User Group and has been a staple in the local
      .NET and SharePoint communities since the days of SharePoint 2003. He has been
      working exclusively withSharePoint since 2005 and is an 8 time SharePoint MVP.
      His IT career began in 1999 when he first moved to the United States from Canada
      after being recruited by an international consulting firm. After getting settled
      in, he started putting in his time (roughly 10 years) at various local firms,
      including Definition 6, Intellinet, and Slalom Consulting. His current employer,
      B&R Business Solutions, is a New Jersey based consulting company with a deep
      focus on SharePoint. Dan's specialty is custom development, but he has been
      seen working in many other areas, including product development, architecture,
      project management and business analysis to name a few.\r\nWhen not sitting
      in front of his many monitors in his home office, coding away like a madman,
      he enjoys spending time with his exceptionally awesome and beautiful daughter
      Lily and gallivanting around the globe (mostly just back to Canada) to visit
      and spend time with his fiancé Gill.\r\nYou can find Dan moderating or speaking
      at the monthly meeting of the Atlanta SharePoint User Group (@atlspug, #atlspug),
      online via Twitter (@jdattis), LinkedIn (www.linkedin.com/in/jakedanattis/),
      at a SharePoint Conference or SharePoint Saturday, or on Skype (jdattis). Dan
      lives in Roswell, Georgia, where the sun is hot and his [cool weather] fescue
      lawn is both his loveand his evil nemesis."
    html: "<P><STRONG>Please note the new venue for meetings. We will now be meeting
      at the Venncenter on Main street.</STRONG></P>\r\n<P><STRONG><BR></STRONG></P>\r\n<P><STRONG>Summary:</STRONG></P>\r\n<P>Anatomy
      of a Mail app</P>\r\n<P>Apps for Office introduces a new programming model that
      is so flexible, you may not believe it unless you see it with your own eyes.
      You might say it is dangerously simple to enhance the functionality of Office.
      Apps for Office allow you to enhance the user experience for Access, Excel,
      Outlook, PowerPoint, Project and Word, most likely using your existing skills.</P>\r\n<P>Starting
      with a brief discussion surrounding the road-map for the various types of Office
      apps, this talk will focus primarily on Mail apps and how you can use them to
      provide very valuable enhancements to the message and appointment (reading and
      composing) experiences.</P>\r\n<P>You will learn about what if takes to develop
      a Mail app (a real app, currently under development will be shown), what the
      infrastructure looks like to deploy a mail app, what the licensing process looks
      like and how easy they are to monetize.</P>\r\n<P>After the discussion, you
      will likely be beaming with ideas and be rushing home to begin building your
      very own App for Office.</P>\r\n<P><STRONG>Bio:</STRONG></P>\r\n<P>J. Dan Attis
      is the founder of the Atlanta SharePoint User Group and has been a staple in
      the local .NET and SharePoint communities since the days of SharePoint 2003.
      He has been working exclusively withSharePoint since 2005 and is an 8 time SharePoint
      MVP. His IT career began in 1999 when he first moved to the United States from
      Canada after being recruited by an international consulting firm. After getting
      settled in, he started putting in his time (roughly 10 years) at various local
      firms, including Definition 6, Intellinet, and Slalom Consulting. His current
      employer, B&R Business Solutions, is a New Jersey based consulting company with
      a deep focus on SharePoint. Dan's specialty is custom development, but he has
      been seen working in many other areas, including product development, architecture,
      project management and business analysis to name a few.</P>\r\n<P>When not sitting
      in front of his many monitors in his home office, coding away like a madman,
      he enjoys spending time with his exceptionally awesome and beautiful daughter
      Lily and gallivanting around the globe (mostly just back to Canada) to visit
      and spend time with his fiancé Gill.</P>\r\n<P>You can find Dan moderating or
      speaking at the monthly meeting of the Atlanta SharePoint User Group (@atlspug,
      #atlspug), online via Twitter (@jdattis), LinkedIn (www.linkedin.com/in/jakedanattis/),
      at a SharePoint Conference or SharePoint Saturday, or on Skype (jdattis). Dan
      lives in Roswell, Georgia, where the sun is hot and his [cool weather] fescue
      lawn is both his love<BR>and his evil nemesis.</P>"
  id: '12726514347'
  url: https://www.eventbrite.ca/e/anatomy-of-a-mail-app-tickets-12726514347
  start:
    timezone: America/Halifax
    local: '2014-09-16T18:30:00'
    utc: '2014-09-16T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-09-16T21:30:00'
    utc: '2014-09-17T00:30:00Z'
  organization_id: '791166669'
  created: '2014-08-20T17:57:06Z'
  changed: '2014-09-17T07:33:21Z'
  published: '2014-08-20T17:57:24Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Please note the new venue for meetings. We will now be meeting at the
    Venncenter on Main street.\r\n\r\nSummary:\r\nAnatomy of a Mail app\r\nApps fo"
  logo_id: '7574649'
  organizer_id: '2361139082'
  venue_id: '7829167'
  category_id: '102'
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/12726514347/
  is_externally_ticketed: false
  logo:
    crop_mask:
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F7574649%2F791166669%2F1%2Foriginal.png?auto=compress&s=ee22655c629e1a8ebf072c2424656659
      width:
      height:
    id: '7574649'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F7574649%2F791166669%2F1%2Foriginal.png?h=200&w=450&auto=compress&s=bc3b223c20651d6b898cad151fb346c7
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
