---
title: Azure Mobile Services – Get Connected
date: 2014-05-22 18:30 UTC
eventbrite:
  name:
    text: Azure Mobile Services – Get Connected
    html: Azure Mobile Services – Get Connected
  description:
    text: "Event Info:\r\nToday’s app markets are competitive.  You’ll find out how
      to make your app stand out above the rest using Azure Mobile Services to create
      dynamic, connected and robust applications that are reliable, responsive and
      just plain awesome!\r\n\r\nSpeaker Bio:\r\nAtley Hunter is a passionate developer
      with over 15 years’ experience. As one of the most prolific Modern UI developers
      in the world, he has hundreds of unique apps in the Windows Phone Store and
      close to 200 apps currently in the Windows RT Store.  as a Microsoft Windows
      Phone MVP, Telerik MVP & Insider and Nokia Ambassador, he is constantly working
      with developers worldwide to improve both skills and the platforms themselves. 
      Atley is always sharing his knowledge and connecting with developers through
      events, his blog, email Twitter, Skype and LinkedIn."
    html: "<P><STRONG><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;\">Event
      Info:</SPAN></STRONG></P>\r\n<P>Today’s app markets are competitive.  You’ll
      find out how to make your app stand out above the rest using Azure Mobile Services
      to create dynamic, connected and robust applications that are reliable, responsive
      and just plain awesome!</P>\r\n<P><SPAN STYLE=\"color: #222222; font-family:
      arial, sans-serif;\"><BR></SPAN></P>\r\n<P><STRONG><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif;\">Speaker Bio:</SPAN></STRONG></P>\r\n<P><SPAN
      STYLE=\"color: #222222; font-family: Calibri, 'Segoe UI', Meiryo, 'Microsoft
      YaHei UI', 'Microsoft JhengHei UI', 'Malgun Gothic', sans-serif; font-size:
      16.363636016845703px;\">Atley Hunter is a passionate developer with over 15
      years’ experience. As one of the most prolific Modern UI developers in the world,
      he has hundreds of unique apps in the Windows Phone Store and close to 200 apps
      currently in the Windows RT Store.  as a Microsoft Windows Phone MVP, Telerik
      MVP &amp; Insider and Nokia Ambassador, he is constantly working with developers
      worldwide to improve both skills and the platforms themselves.  Atley is always
      sharing his knowledge and connecting with developers through events, his blog,
      email Twitter, Skype and LinkedIn.</SPAN></P>"
  id: '11349969063'
  url: https://www.eventbrite.ca/e/azure-mobile-services-get-connected-tickets-11349969063
  start:
    timezone: America/Halifax
    local: '2014-05-22T18:30:00'
    utc: '2014-05-22T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2014-05-22T21:30:00'
    utc: '2014-05-23T00:30:00Z'
  organization_id: '791166669'
  created: '2014-04-17T20:08:29Z'
  changed: '2014-12-29T19:47:49Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '6383843'
  category_id:
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/11349969063/
  is_externally_ticketed: false
  logo:
---
