---
title: Lightning Talks v3
date: 2015-05-19 18:30 UTC
eventbrite:
  name:
    text: Lightning Talks v3
    html: Lightning Talks v3
  description:
    text: "Looking forward to this meeting to hear about Paul and Vincents presentations.\r\nVincent
      Roy / Always Be Sharpening Your Saw Tools & Workflows\r\nDescription:In this
      live presentation I am going to show you some tricks, tools and workflows that
      I use to make my life easier (read: I'm lazy). It will range from debugging
      tools, text editing to tools that I use to communicate with my team. The goal
      is not to sell you my tools but to encourage you to explore *your* tools.\r\nPaul
      Duncan / Let's talk office ergonomics\r\n ***upfront disclaimer: I do not have
      any qualifications or certificates re: office ergonomics but I do have a wealth
      of experience, having been plagued by various aches and pains throughout my
      professional life.We'll talk about topics such as workstation setup; chair;
      peripherals. I'll also talk about some of the different types of treatment that
      you could try to help keep things from tensing up.\r\n\r\nLooking forward to
      seeing you there."
    html: "<P>Looking forward to this meeting to hear about Paul and Vincents presentations.</P>\r\n<P><STRONG>Vincent
      Roy</STRONG> / <SPAN STYLE=\"line-height: 1.6em;\">Always Be Sharpening Your
      Saw Tools &amp; Workflows</SPAN></P>\r\n<P>Description:<BR>In this live presentation
      I am going to show you some tricks, tools and workflows that I use to make my
      life easier (read: I'm lazy). It will range from debugging tools, text editing
      to tools that I use to communicate with my team. The goal is not to sell you
      my tools but to encourage you to explore *your* tools.</P>\r\n<P><STRONG>Paul
      Duncan / Let's talk office ergonomics</STRONG></P>\r\n<P><SPAN STYLE=\"line-height:
      1.6em;\"><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif; font-size:
      12.8000001907349px;\"> ***upfront disclaimer: I do not have any qualifications
      or certificates re: office ergonomics but I do have a wealth of experience,
      having been plagued by various aches and pains throughout my professional life.</SPAN><BR
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\"><BR
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\"><SPAN
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">We'll
      talk about topics such as workstation setup; chair; peripherals. I'll also talk
      about some of the different types of treatment that you could try to help keep
      things from tensing up.</SPAN></SPAN></P>\r\n<P><SPAN STYLE=\"line-height: 1.6em;\"><BR></SPAN></P>\r\n<P><SPAN
      STYLE=\"line-height: 1.6em;\">Looking forward to seeing you there.</SPAN></P>"
  id: '16800219910'
  url: https://www.eventbrite.ca/e/lightning-talks-v3-tickets-16800219910
  start:
    timezone: America/Halifax
    local: '2015-05-19T18:30:00'
    utc: '2015-05-19T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2015-05-19T21:30:00'
    utc: '2015-05-20T00:30:00Z'
  organization_id: '791166669'
  created: '2015-04-30T11:05:08Z'
  changed: '2015-05-20T07:33:01Z'
  published: '2015-04-30T11:05:09Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Looking forward to this meeting to hear about Paul and Vincents presentations.\r\nVincent
    Roy / Always Be Sharpening Your Saw Tools & Workflow"
  logo_id: '13114809'
  organizer_id: '2361139082'
  venue_id: '7829167'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/16800219910/
  is_externally_ticketed: false
  logo:
    crop_mask:
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F13114809%2F791166669%2F1%2Foriginal.png?auto=format%2Ccompress&q=75&sharp=10&s=de735f385002672ce77572d2a4baf41f
      width: 237
      height: 77
    id: '13114809'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F13114809%2F791166669%2F1%2Foriginal.png?h=200&w=450&auto=format%2Ccompress&q=75&sharp=10&s=186c77c613bbbe04d556e5d40579d01e
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
description: "<p>Looking forward to this meeting to hear about Paul and Vincents presentations.</p>\r\n<p><strong>Vincent
  Roy</strong> / <span>Always Be Sharpening Your Saw Tools &amp; Workflows</span></p>\r\n<p>Description:<br>In
  this live presentation I am going to show you some tricks, tools and workflows that
  I use to make my life easier (read: I'm lazy). It will range from debugging tools,
  text editing to tools that I use to communicate with my team. The goal is not to
  sell you my tools but to encourage you to explore *your* tools.</p>\r\n<p><strong>Paul
  Duncan / Let's talk office ergonomics</strong></p>\r\n<p><span><span> ***upfront
  disclaimer: I do not have any qualifications or certificates re: office ergonomics
  but I do have a wealth of experience, having been plagued by various aches and pains
  throughout my professional life.</span><br><br><span>We'll talk about topics such
  as workstation setup; chair; peripherals. I'll also talk about some of the different
  types of treatment that you could try to help keep things from tensing up.</span></span></p>\r\n<p><span><br></span></p>\r\n<p><span>Looking
  forward to seeing you there.</span></p>"
---
