---
title: Building a Apple Watch Application with the Swift programming language
date: 2015-11-17 18:30 UTC
eventbrite:
  name:
    text: Building a Apple Watch Application with the Swift programming language
    html: Building a Apple Watch Application with the Swift programming language
  description:
    text: Presentation SummarySwift is a new programming language for Apple platforms
      (and soon Linux) that tries to pair the expressiveness and productivity of a
      scripting language with the verifiability of a strictly typed language like Haskell
      or Rust, all without sacrificing performance. It's a very interesting language,
      both for its cleverness and its warts, and shouldbe major technology in the
      coming years.watchOS 2.0 is the latest version of Apple's wearable platform
      and brings a number of improvements over its predecessor, from greatly improved
      sensor access to proper standalone applications. Developers are still coming
      to terms with what it means to write applications for the watch, and there's
      a lot of untapped potential in the platform.This session will examine the Swift
      programming language in the context of building a simple watchOS 2 application.
      Hopefully, you'll come away with appreciation for what both them are all about
      and why they might beworth your time in the future.Speaker Bio. Scott Wadden
      is a passionate developer and technology enthusiast who enjoys solving difficult
      problems and learning new things.  He's been the technical lead for a couple
      of start-ups, an independent gamedeveloper, a college instructor, and a programmer
      for a variety of companies big and small.Scott is a self-described "language
      wonk," and and greatly enjoys studying the minutiae of programming languages
      and environments, ever searching for more powerful tools. He's particularly
      enamoured with Swift and is excited to share what makes it special.
    html: "<P><SPAN></SPAN><SPAN><STRONG>Presentation Summary</STRONG></SPAN><BR><BR><SPAN>Swift
      is a new programming language for Apple platforms (and soon Linux) </SPAN><SPAN>that
      tries to pair the expressiveness and productivity of a scripting language with
      the verifiability of a strictly typed language like Haskell or Rust, all without
      sacrificing performance. It's a very interesting language, both for its cleverness
      and its warts, and should<BR>be major technology in the coming years.<BR><BR>watchOS
      2.0 is the latest version of Apple's wearable platform and brings a number of
      improvements over its predecessor, from greatly improved sensor access to proper
      standalone applications. Developers are still coming to terms with what it means
      to write applications for the </SPAN><SPAN>watch, and there's a lot of untapped
      potential in the platform.<BR><BR></SPAN><SPAN>This session will examine the
      Swift programming language in the context </SPAN><SPAN>of building a simple
      watchOS 2 application. Hopefully, you'll come away </SPAN><SPAN>with appreciation
      for what both them are all about and why they might be</SPAN><BR><SPAN>worth
      your time in the future.<BR><BR></SPAN><SPAN></SPAN><BR><STRONG>Speaker Bio. </STRONG><BR><SPAN></SPAN><BR><SPAN>Scott
      Wadden is a passionate developer and technology enthusiast who enjoys solving
      difficult problems and learning new things.  He's been </SPAN><SPAN>the technical
      lead for a couple of start-ups, an independent game</SPAN><BR><SPAN>developer,
      a college instructor, and a programmer for a variety of </SPAN><SPAN>companies
      big and small.</SPAN><BR><BR><SPAN>Scott is a self-described \"language wonk,\"
      and and greatly enjoys </SPAN><SPAN>studying the minutiae of programming languages
      and environments, ever searching for more powerful tools. He's particularly
      enamoured with Swift and is excited to share what makes it special.</SPAN></P>"
  id: '19388035135'
  url: https://www.eventbrite.ca/e/building-a-apple-watch-application-with-the-swift-programming-language-tickets-19388035135
  start:
    timezone: America/Halifax
    local: '2015-11-17T18:30:00'
    utc: '2015-11-17T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2015-11-17T21:30:00'
    utc: '2015-11-18T01:30:00Z'
  organization_id: '791166669'
  created: '2015-11-03T19:34:25Z'
  changed: '2015-11-18T08:33:04Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '11348897'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/19388035135/
  logo:
---
