---
title: An Overview of Windows Workflow Foundation
date: 2015-10-23 02:32 UTC
eventbrite:
  name:
    text: An Overview of Windows Workflow Foundation
    html: An Overview of Windows Workflow Foundation
  description:
    text: "Summary: \nGaetan will present a general overview of the Windows Workflow Foundation
      (WF) technology. He will cover how to program workflows in WF, how to writing
      custom activities in WF and how to enhance the design experience with Activity
      Designer. The objective of the talk is to give the Audience “just enough” information
      for why and when this technology should be considered to solve a business problem
      or build an application with WF as a back end. \n About the Presenter:  \nGaetan
      Savoie is a Senior Developer with Thomson-Reuters Elite. He has 15+ years of
      experience in requirements gathering, design, and implementation of software
      business applications. He specializes in system data architecture, data warehousing,
      and database analysis, software architecture and development using .NET technologies.
      \nMuch of his experience has been in both governmental/private sector projects
      whereby he has served in both development and system analysis/architecture roles.
      He has had a lot of exposure leading projects using various flavours of agile/iterative
      development methodologies. \n  "
    html: |-
      <P><STRONG>Summary:</STRONG></P>
      <P><SPAN>Gaetan will present a general overview of the Windows Workflow </SPAN><SPAN>Foundation (WF) technology. He will cover how to program workflows in </SPAN><SPAN>WF, how to writing custom activities in WF and how to enhance the design </SPAN><SPAN>experience with Activity Designer. The objective of the talk is to give </SPAN><SPAN>the Audience “just enough” information for why and when this technology </SPAN><SPAN>should be considered to solve a business proble</SPAN><SPAN><SPAN>m or bu</SPAN></SPAN><SPAN>ild an application </SPAN><SPAN>with WF as a back end.</SPAN></P>
      <P><BR><SPAN><STRONG><STRONG>About the Presenter:</STRONG></STRONG><BR></SPAN></P>
      <P>Gaetan Savoie is a Senior Developer with Thomson-Reuters Elite. He has 15+ years of experience in requirements gathering, design, and implementation of software business applications. He specializes in system data architecture, data warehousing, and database analysis, software architecture and development using .NET technologies.</P>
      <P>Much of his experience has been in both governmental/private sector projects whereby he has served in both development and system analysis/architecture roles. He has had a lot of exposure leading projects using various flavours of agile/iterative development methodologies.</P>
      <P><BR></P>
  id: '19219148992'
  url: http://www.eventbrite.ca/e/an-overview-of-windows-workflow-foundation-tickets-19219148992
  start:
    timezone: America/Moncton
    local: '2015-10-22T19:00:00'
    utc: '2015-10-22T22:00:00Z'
  end:
    timezone: America/Moncton
    local: '2015-10-22T22:00:00'
    utc: '2015-10-23T01:00:00Z'
  created: '2015-10-23T02:32:24Z'
  changed: '2015-10-23T03:30:19Z'
  capacity: 50
  status: completed
  currency: CAD
  listed: false
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  logo_id: 
  organizer_id: '8561652966'
  venue_id: 
  category_id: 
  subcategory_id: 
  format_id: 
  resource_uri: https://www.eventbriteapi.com/v3/events/19219148992/
  logo: 
---
