---
title: An Overview of Windows Workflow Foundation
date: 2015-09-15 18:30 UTC
eventbrite:
  name:
    text: An Overview of Windows Workflow Foundation
    html: An Overview of Windows Workflow Foundation
  description:
    text: "Event info.:\r\nGaetan will present a general overview of the Windows Workflow Foundation
      (WF) technology. He will cover how to program workflows in WF, how to writing
      custom activities in WF and how to enhance the design experience with Activity
      Designer. The objective of the talk is to give the Audience “just enough” information
      for why and when this technology should be considered to solve a business problem
      or build an application with WF as a back end.\r\nSpeaker bio.:\r\nGaetan Savoie
      is a Senior Developer with Thomson-Reuters Elite. He has 15+ years of experience
      in requirements gathering, design, and implementation of software business applications.
      He specializes in system data architecture, data warehousing, and database analysis, software
      architecture and development using .NET technologies.\r\nMuch of his experience
      has been in both governmental/private sector projects whereby he has served
      in both development and system analysis/architecture roles. He has had a lot
      of exposure leading projects using various flavours of agile/iterative development methodologies."
    html: "<P><STRONG>Event info.:</STRONG></P>\r\n<P><SPAN STYLE=\"color: #222222;
      font-family: arial, sans-serif; font-size: 12.8000001907349px;\">Gaetan will
      present a general overview of the Windows Workflow </SPAN><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">Foundation
      (WF) technology. He will cover how to program workflows in </SPAN><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">WF,
      how to writing custom activities in WF and how to enhance the design </SPAN><SPAN
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">experience
      with Activity Designer. The objective of the talk is to give </SPAN><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">the
      Audience “just enough” information for why and when this technology </SPAN><SPAN
      STYLE=\"color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">should
      be considered to solve a business proble</SPAN><SPAN STYLE=\"border-bottom-width:
      1px; border-bottom-style: dashed; border-bottom-color: #cccccc; position: relative;
      top: -2px; z-index: 0; color: #222222; font-family: arial, sans-serif; font-size:
      12.8000001907349px;\" DATA-TERM=\"goog_1983356656\"><SPAN STYLE=\"position:
      relative; top: 2px; z-index: -1;\">m or bu</SPAN></SPAN><SPAN STYLE=\"color:
      #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px;\">ild
      an application </SPAN><SPAN STYLE=\"color: #222222; font-family: arial, sans-serif;
      font-size: 12.8000001907349px;\">with WF as a back end.</SPAN></P>\r\n<P><BR><STRONG>Speaker
      bio.:</STRONG></P>\r\n<P>Gaetan Savoie is a Senior Developer with Thomson-Reuters
      Elite. He has 15+ years of experience in requirements gathering, design, and implementation
      of software business applications. He specializes in system data architecture,
      data warehousing, and database analysis, software architecture and development
      using .NET technologies.</P>\r\n<P>Much of his experience has been in both governmental/private
      sector projects whereby he has served in both development and system analysis/architecture
      roles. He has had a lot of exposure leading projects using various flavours
      of agile/iterative development methodologies.</P>"
  id: '18434717737'
  url: http://www.eventbrite.ca/e/an-overview-of-windows-workflow-foundation-tickets-18434717737
  start:
    timezone: America/Halifax
    local: '2015-09-15T18:30:00'
    utc: '2015-09-15T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2015-09-15T21:30:00'
    utc: '2015-09-16T00:30:00Z'
  created: '2015-09-02T13:46:15Z'
  changed: '2015-09-16T07:32:52Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '11348897'
  category_id: '102'
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/18434717737/
  logo:
---
