---
title: Security Enterprise Architecture for Developers
date: 2015-10-21 23:17 UTC
speakerdeck_id: 29348346835f4168898449633fb4efa2
eventbrite:
  name:
    text: Security Enterprise Architecture for Developers
    html: Security Enterprise Architecture for Developers
  description:
    text: "Summary: \nJamie will be sharing his thoughts on how an enterprise security
      architecture program can help in addressing application security issues before
      any code is written.  We've all heard about building security into projects
      early and the benefits it can bring, Jamie will share the methods he has used
      to ingrain this mindset into project teams he has worked with.  The discussion
      will touch on how people make decisions about security, how those decisions
      can be influenced and architectural solutions for common flaws.   \nAbout the
      Presenter: \nJamie Rees’ career is centered on the championing of information
      security as an industry, as a profession, and as a provider of value to organizations.
      With 18 years in information technology, the majority of that in information
      security related roles, Jamie has built a strong base of business oriented security,
      delivering balance between risk outlooks and business outcomes.   As a result
      his career has been one of firsts, often forging new positions and award winning
      programs along the way.   Jamie started as a sysadmin and IT instructor, advancing
      to leadership roles of CISO and Chief Security Strategist, using what he learned
      along the way to document and communicate the business value of security programs. 
      As an invited speaker, Jamie has shared his experiences gathered from security
      programs in telecommunications, financial services, and central government organizations
      at events around the world such as ISF World Congress, Gartner Security & Risk
      Management Summit, and SC Magazine Congress and has been featured by national
      news outlets such as the Financial Post.  Jamie currently works for a vertically
      integrated electrical utility as the senior cyber security resource.   "
    html: |-
      <P><STRONG>Summary:</STRONG></P>
      <P>Jamie will be sharing his thoughts on how an enterprise security architecture program can help in addressing application security issues before any code is written.  We've all heard about building security into projects early and the benefits it can bring, Jamie will share the methods he has used to ingrain this mindset into project teams he has worked with.  The discussion will touch on how people make decisions about security, how those decisions can be influenced and architectural solutions for common flaws. <BR></P>
      <P><STRONG>About the Presenter:</STRONG></P>
      <P>Jamie Rees’ career is centered on the championing of information security as an industry, as a profession, and as a provider of value to organizations. With 18 years in information technology, the majority of that in information security related roles, Jamie has built a strong base of business oriented security, delivering balance between risk outlooks and business outcomes.   As a result his career has been one of firsts, often forging new positions and award winning programs along the way. <BR><BR>Jamie started as a sysadmin and IT instructor, advancing to leadership roles of CISO and Chief Security Strategist, using what he learned along the way to document and communicate the business value of security programs.  As an invited speaker, Jamie has shared his experiences gathered from security programs in telecommunications, financial services, and central government organizations at events around the world such as ISF World Congress, Gartner Security &amp; Risk Management Summit, and SC Magazine Congress and has been featured by national news outlets such as the Financial Post.  Jamie currently works for a vertically integrated electrical utility as the senior cyber security resource.  </P>
  id: '19198209361'
  url: http://www.eventbrite.ca/e/security-enterprise-architecture-for-developers-tickets-19198209361
  start:
    timezone: America/Halifax
    local: '2015-11-30T19:00:00'
    utc: '2015-11-30T23:00:00Z'
  end:
    timezone: America/Halifax
    local: '2015-11-30T22:00:00'
    utc: '2015-12-01T02:00:00Z'
  created: '2015-10-21T23:17:52Z'
  changed: '2015-10-22T00:09:18Z'
  capacity: 50
  status: live
  currency: CAD
  listed: false
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  logo_id: 
  organizer_id: '8561652966'
  venue_id: '11825268'
  category_id: 
  subcategory_id: 
  format_id: 
  resource_uri: https://www.eventbriteapi.com/v3/events/19198209361/
  logo: 
---
