---
title: Arduino Out of the Box.
date: 2015-04-13 18:30 UTC
eventbrite:
  name:
    text: Arduino Out of the Box.
    html: Arduino Out of the Box.
  description:
    text: "Event info.:\r\nThere's always a bit of magic in \"Hello, World,\" regardless
      of the language or device. As programmers, we're used to making computers do very
      sophisticated things in virtual space. But what happens when weneed to do something
      in the real world, and the gadget hasn't been invented yet? \"Hello, World,\"
      indeed.\r\nThe Arduino was originally developed as an inexpensive prototyping platform
      for design students, but it has since established itself with tinkerers, hobbyists,
      electronics enthusiasts, and budding mad scientists world-wide.\r\nFor the average
      web or database programmer, the Arduino platform can seem a bit like stepping
      off a spaceship onto an alien planet. For one thing, its inhabitants speak a
      different language: Circuits and  current, resistors and relays, sensors and
      servo-motors. In a word: Hardware. Fortunately, a bit of basic electronics know-how
      plus theArduino API are all you need to plant your flag on this strange (but fascinating)
      new world.\r\nTo be covered:\r\n* The Arduino ecosystem in the \"Do It Yourself\"
      world* What you need to start exploring* Circuitry and wiring basics* The Arduino
      API and IDE* Demo.: Push-buttons and LEDs\r\nNo, you won't go home with the
      blue-prints for an army of robot minions. Sorry--you're on your own there. But
      you should have a good grasp of what an Arduino can and can't do, plus an idea
      of how to do it...preferably without blowing fuses.\r\nSpeaker bio.:\r\nDoreen
      Clemons is the chief cook and bottle-washer at Bonaventure Software. She started
      programming in BASIC on a TRS-80 at the age of 12. Doreen has spent the majority
      of her 13-year coding career working withMicrosoft technologies, but opts for
      open source and/or Java...when nobody’s watching."
    html: "<P><STRONG>Event info.:</STRONG></P>\r\n<P>There's always a bit of magic
      in \"Hello, World,\" regardless of the language or device. As programmers, we're
      used to making computers do very sophisticated things in virtual space. But
      what happens when we<BR>need to do something in the real world, and the gadget
      hasn't been invented yet? \"Hello, World,\" indeed.</P>\r\n<P>The Arduino was
      originally developed as an inexpensive prototyping platform for design students,
      but it has since established itself with tinkerers, hobbyists, electronics enthusiasts,
      and budding mad scientists world-wide.</P>\r\n<P>For the average web or database
      programmer, the Arduino platform can seem a bit like stepping off a spaceship
      onto an alien planet. For one thing, its inhabitants speak a different language:
      Circuits and  current, resistors and relays, sensors and servo-motors. In a
      word: Hardware. Fortunately, a bit of basic electronics know-how plus the<BR>Arduino
      API are all you need to plant your flag on this strange (but fascinating) new
      world.</P>\r\n<P>To be covered:</P>\r\n<P>* The Arduino ecosystem in the \"Do
      It Yourself\" world<BR>* What you need to start exploring<BR>* Circuitry and
      wiring basics<BR>* The Arduino API and IDE<BR>* Demo.: Push-buttons and LEDs</P>\r\n<P>No,
      you won't go home with the blue-prints for an army of robot minions. Sorry--you're
      on your own there. But you should have a good grasp of what an Arduino can and
      can't do, plus an idea of how to do it...preferably without blowing fuses.</P>\r\n<P><BR><STRONG>Speaker
      bio.:</STRONG></P>\r\n<P>Doreen Clemons is the chief cook and bottle-washer
      at Bonaventure Software. She started programming in BASIC on a TRS-80 at the
      age of 12. Doreen has spent the majority of her 13-year coding career working
      with<BR>Microsoft technologies, but opts for open source and/or Java...when nobody’s
      watching.</P>"
  id: '15910097530'
  url: https://www.eventbrite.ca/e/arduino-out-of-the-box-tickets-15910097530
  start:
    timezone: America/Halifax
    local: '2015-04-13T18:30:00'
    utc: '2015-04-13T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2015-04-13T21:30:00'
    utc: '2015-04-14T00:30:00Z'
  organization_id: '791166669'
  created: '2015-02-25T13:11:19Z'
  changed: '2015-04-14T07:37:44Z'
  published: '2015-02-25T13:11:20Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Event info.:\r\nThere's always a bit of magic in \"Hello, World,\" regardless
    of the language or device. As programmers, we're used to making co"
  logo_id: '12491305'
  organizer_id: '2361139082'
  venue_id: '9209515'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/15910097530/
  is_externally_ticketed: false
  logo:
    crop_mask:
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12491305%2F791166669%2F1%2Foriginal.png?auto=compress&s=70037e166feb2551919a63913e0086fa
      width:
      height:
    id: '12491305'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12491305%2F791166669%2F1%2Foriginal.png?h=200&w=450&auto=compress&s=7495a8f24e418e4b16c9e9b8b56f79a2
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
description: "<p><strong>Event info.:</strong></p>\r\n<p>There's always a bit of magic
  in \"Hello, World,\" regardless of the language or device. As programmers, we're
  used to making computers do very sophisticated things in virtual space. But what
  happens when we<br>need to do something in the real world, and the gadget hasn't
  been invented yet? \"Hello, World,\" indeed.</p>\r\n<p>The Arduino was originally
  developed as an inexpensive prototyping platform for design students, but it has
  since established itself with tinkerers, hobbyists, electronics enthusiasts, and
  budding mad scientists world-wide.</p>\r\n<p>For the average web or database programmer,
  the Arduino platform can seem a bit like stepping off a spaceship onto an alien
  planet. For one thing, its inhabitants speak a different language: Circuits and
   current, resistors and relays, sensors and servo-motors. In a word: Hardware. Fortunately,
  a bit of basic electronics know-how plus the<br>Arduino API are all you need to
  plant your flag on this strange (but fascinating) new world.</p>\r\n<p>To be covered:</p>\r\n<p>*
  The Arduino ecosystem in the \"Do It Yourself\" world<br>* What you need to start
  exploring<br>* Circuitry and wiring basics<br>* The Arduino API and IDE<br>* Demo.:
  Push-buttons and LEDs</p>\r\n<p>No, you won't go home with the blue-prints for an
  army of robot minions. Sorry--you're on your own there. But you should have a good
  grasp of what an Arduino can and can't do, plus an idea of how to do it...preferably
  without blowing fuses.</p>\r\n<p><br><strong>Speaker bio.:</strong></p>\r\n<p>Doreen
  Clemons is the chief cook and bottle-washer at Bonaventure Software. She started
  programming in BASIC on a TRS-80 at the age of 12. Doreen has spent the majority
  of her 13-year coding career working with<br>Microsoft technologies, but opts for
  open source and/or Java...when nobody’s watching.</p>"
---
