---
title: Lightning Talks 2
date: 2015-02-17 18:30 UTC
eventbrite:
  name:
    text: Lightning Talks 2
    html: Lightning Talks 2
  description:
    text: "Summary: \nThis went so well last time we're doing it again. \nNormally
      our meetings have one presenter talking about a framework or software package
      that they are passionate about. Although we've had great presentations in the
      past not all subjects have 1 hour of content. Vincent Roy suggested that we
      have short 15-20 min demos instead. \nSo far we have 1 demo. \n1. Weak/Soft/Phantom
      references in Java ~ Robert Saulnier \nIf you are interested in presenting (for
      no more than 20 minutes) please send an email to monctonug@cognitivex.com with
      a brief description. \n  "
    html: "<P STYLE=\"font-family: Georgia, 'Times New Roman', 'Bitstream Charter',
      Times, serif; line-height: 19px;\"><STRONG>Summary:</STRONG></P>\r\n<P STYLE=\"font-family:
      Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height:
      19px;\">This went so well last time we're doing it again.</P>\r\n<P STYLE=\"font-family:
      Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height:
      19px;\">Normally our meetings have one presenter talking about a framework or
      software package that they are passionate about. Although we've had great presentations
      in the past not all subjects have 1 hour of content. Vincent Roy suggested that
      we have short 15-20 min demos instead.</P>\r\n<P STYLE=\"font-family: Georgia,
      'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 19px;\">So
      far we have 1 demo.</P>\r\n<P STYLE=\"font-family: Georgia, 'Times New Roman',
      'Bitstream Charter', Times, serif; line-height: 19px;\">1. Weak/Soft/Phantom
      references in Java ~ Robert Saulnier</P>\r\n<P STYLE=\"font-family: Georgia,
      'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 19px;\">If
      you are interested in presenting (for no more than 20 minutes) please send an
      email to <A HREF=\"mailto:monctonug@cognitivex.com\" TARGET=\"_self\" REL=\"nofollow\">monctonug@cognitivex.com</A> with
      a brief description.</P>\r\n<P STYLE=\"font-family: Georgia, 'Times New Roman',
      'Bitstream Charter', Times, serif; line-height: 19px;\"> </P>"
  id: '15622474241'
  url: http://www.eventbrite.ca/e/lightning-talks-2-tickets-15622474241
  start:
    timezone: America/Halifax
    local: '2015-02-17T18:30:00'
    utc: '2015-02-17T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2015-02-17T21:30:00'
    utc: '2015-02-18T01:30:00Z'
  created: '2015-02-03T20:06:42Z'
  changed: '2015-03-05T23:10:41Z'
  capacity: 40
  status: completed
  currency: USD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  logo_id: '12292977'
  organizer_id: '2361139082'
  venue_id: '9209515'
  category_id: '119'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/15622474241/
  logo:
    id: '12292977'
    url: https://img.evbuc.com/http%3A%2F%2Fcdn.evbuc.com%2Fimages%2F12292977%2F791166669%2F1%2Foriginal.png?h=200&w=450&s=6dc6bc2ed6a71be834588e240c4072b1
    aspect_ratio: '3.077922077922077922077922078'
    edge_color:
    edge_color_set: true
---
