---
title: Lightning Talks v4
date: 2016-09-20 18:30 UTC
speakerdeck_ids:
- f1721833adb34280a0784be7680c6a99
- 9c4fe8635f0d4bbaad818f77817c4000
eventbrite:
  name:
    text: Lightning Talks v4
    html: Lightning Talks v4
  description:
    text: |-
      Presentation Summaries:
      Vincent Roy:  Introduction to Ansible
      Ansible is automation for everyone. Ansible seamlessly unites workflow orchestration with configuration management, provisioning, and application deployment in one easy-to-use and deploy platform.Regardless of where you start with Ansible, you’ll find our simple, powerful and agentless automation platform has the capabilities to solve your most challenging problems.In this talk, Vincent will cover the basics of Ansible and demonstrate how it can be used to manage a simple webserver and how it can be used to deploy the monctonug.net site.
      Doreen Clemons:  Introduction to Fritzing
      While circuit design with a breadboard and jumper wires is fine for the lone hobbyist, sometimes you have to share your work.  Even a photograph of your spaghetti-wiring often doesn't give the full picture.  When you're collaborating or need some help debugging, a clear diagram is worth a thousand emails...or StackExchange comments.
      Fritzing is an open-source CAD (computer-aided drafting) tool created specifically for circuit design.  In this talk, Doreen will demonstrate the basics of locating parts, laying out a circuit, and (as usual) cover some of the "gotchas" in the software.
      Speaker Biographies:
      Vincent Roy is a full stack software developer with just under 10 years of experience. In that time he's had a chance to work with various technologies from backend services written in Ruby on Rails to browser applications written using CoffeeScript.He is currently a Senior Software Engineer at EMC writing backend and infrastructure services in Java, Python, JavaScript and Go.
      Doreen Clemons is the proverbial chief cook and bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, and MySQL.  In her free time, Doreen lives out her Evil Mad Inventor fantasies by tinkering with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her on Twitter at @bonaventuresoft.
    html: |-
      <H2>Presentation Summaries:</H2>
      <H3>Vincent Roy:  Introduction to Ansible</H3>
      <P>Ansible is automation for everyone. Ansible seamlessly unites workflow orchestration with configuration management, provisioning, and application deployment in one easy-to-use and deploy platform.<BR><BR>Regardless of where you start with Ansible, you’ll find our simple, powerful and agentless automation platform has the capabilities to solve your most challenging problems.<BR><BR>In this talk, Vincent will cover the basics of Ansible and demonstrate how it can be used to manage a simple webserver and how it can be used to deploy the monctonug.net site.</P>
      <H3>Doreen Clemons:  Introduction to Fritzing</H3>
      <P>While circuit design with a breadboard and jumper wires is fine for the lone hobbyist, sometimes you have to share your work.  Even a photograph of your spaghetti-wiring often doesn't give the full picture.  When you're collaborating or need some help debugging, a clear diagram is worth a thousand emails...or StackExchange comments.</P>
      <P>Fritzing is an open-source CAD (computer-aided drafting) tool created specifically for circuit design.  In this talk, Doreen will demonstrate the basics of locating parts, laying out a circuit, and (as usual) cover some of the "gotchas" in the software.<BR></P>
      <H2>Speaker Biographies:</H2>
      <P><STRONG>Vincent Roy</STRONG> is a full stack software developer with just under 10 years of experience. In that time he's had a chance to work with various technologies from backend services written in Ruby on Rails to browser applications written using CoffeeScript.<BR><BR>He is currently a Senior Software Engineer at EMC writing backend and infrastructure services in Java, Python, JavaScript and Go.</P>
      <P><STRONG>Doreen Clemons</STRONG> is the proverbial chief cook and bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, and MySQL.  In her free time, Doreen lives out her Evil Mad Inventor fantasies by tinkering with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her on Twitter at @bonaventuresoft.</P>
  id: '27424281765'
  url: https://www.eventbrite.ca/e/lightning-talks-v4-tickets-27424281765
  start:
    timezone: America/Moncton
    local: '2016-09-20T18:30:00'
    utc: '2016-09-20T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2016-09-20T21:30:00'
    utc: '2016-09-21T00:30:00Z'
  organization_id: '791166669'
  created: '2016-08-31T01:23:55Z'
  changed: '2016-09-21T09:55:04Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '16475670'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/27424281765/
  logo:
---
