---
title: An Introduction to the Go Language
date: 2016-03-15 18:30 UTC
eventbrite:
  name:
    text: An Introduction to the Go Language
    html: An Introduction to the Go Language
  description:
    text: "An Introduction to the Go Language \nGo is an open source programming language
      developed at Google and designed for systems programming. Like C and C++, it
      is a compiled and statically typed language, with new features: garbage collection,
      various safety features and built-in concurrent primitives.  After only four
      years since its 1.0 release, we've seen many new products adopting Go as their
      main development language (Docker, CoreOS). Others refactored their existing
      services from dynamic languages to Go, significantly reducing their infrastructure
      costs.  Go's language specification is simple enough to hold in a programmer's
      head and has a \"batteries included\" standard library. With a simplicity approaching
      Python's, fast compilation times, executables that do not require a runtime
      and execution speeds approaching those of C++; it's not surprising that \"fun\"
      if often associated with the language.  This presentation will introduce the
      Go language to an audience of programmers; we will quickly review Go's simplified
      C-like structure, then we'll introduce Go's more advanced features. \n  \nSpeaker
      Biography \nSerge Léger has been working in the IT industry for over 20 years.
      Most of those years were with the public sector, where he was originally hired
      to tackle the dreaded Y2K bug. He's never looked back. Over the 20+ years he's
      worked on Firmware in C for hand held devices (before smartphones were a thing),
      desktop applications (PowerBuilder, MFC, FoxPro) and web applications and services
      (Go, Perl, Python, Java, HTML, Javascript).  For the past 8 years, he's been
      employed at the National Research Council, where he's been working with researchers
      in many different fields: machine learning, bioinformatics, educational and
      medical.  Serge lives in Dieppe with his two children and his loving wife. "
    html: |-
      <H2>An Introduction to the Go Language</H2>
      <P>Go is an open source programming language developed at Google and designed for systems programming. Like C and C++, it is a compiled and statically typed language, with new features: garbage collection, various safety features and built-in concurrent primitives.<BR><BR>After only four years since its 1.0 release, we've seen many new products adopting Go as their main development language (Docker, CoreOS). Others refactored their existing services from dynamic languages to Go, significantly reducing their infrastructure costs.<BR><BR>Go's language specification is simple enough to hold in a programmer's head and has a "batteries included" standard library. With a simplicity approaching Python's, fast compilation times, executables that do not require a runtime and execution speeds approaching those of C++; it's not surprising that "fun" if often associated with the language.<BR><BR>This presentation will introduce the Go language to an audience of programmers; we will quickly review Go's simplified C-like structure, then we'll introduce Go's more advanced features.</P>
      <P><BR></P>
      <H2>Speaker Biography</H2>
      <P>Serge Léger has been working in the IT industry for over 20 years. Most of those years were with the public sector, where he was originally hired to tackle the dreaded Y2K bug. He's never looked back. Over the 20+ years he's worked on Firmware in C for hand held devices (before smartphones were a thing), desktop applications (PowerBuilder, MFC, FoxPro) and web applications and services (Go, Perl, Python, Java, HTML, Javascript).<BR><BR>For the past 8 years, he's been employed at the National Research Council, where he's been working with researchers in many different fields: machine learning, bioinformatics, educational and medical.<BR><BR>Serge lives in Dieppe with his two children and his loving wife.</P>
  id: '22132629290'
  url: http://www.eventbrite.ca/e/an-introduction-to-the-go-language-tickets-22132629290
  start:
    timezone: America/Halifax
    local: '2016-03-15T18:30:00'
    utc: '2016-03-15T21:30:00Z'
  end:
    timezone: America/Halifax
    local: '2016-03-15T21:30:00'
    utc: '2016-03-16T00:30:00Z'
  created: '2016-02-23T22:35:33Z'
  changed: '2016-03-15T23:35:58Z'
  capacity: 30
  status: started
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  logo_id:
  organizer_id: '2361139082'
  venue_id: '13436270'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/22132629290/
  logo:
---
