---
title: AngularJS + TypeScript + Webpack
date: 2016-10-18 18:30 UTC
eventbrite:
  name:
    text: AngularJS + TypeScript + Webpack
    html: AngularJS + TypeScript + Webpack
  description:
    text: |-
      Join us at the Vennture Garage on Tuesday, October 18th at 6:30 pm, when Adam Greene will talk about pairing Angular 2 with Typescript and Webpack.
      Presentation Summary
      Angular.js 2 is a just-released upgrade (and rewrite) of Angular.js 1. Angular.js 2 is a component-based single page application framework that is written in, and takes advantage of, the advanced features of Typescript 2.0.  In this session, we will look at writing a single page application in Angular 2 using Typescript, Webpack (for combining, minifying, and inlining), and the Angular CLI.
      Speaker Biography
      Adam Greene started programming at age 16 on an NEC V20 and never looked back. He has worked for local and international companies from British Columbia to Germany. He has developed software and websites for the financial services industry, a large home-delivery grocery store chain, worked freelance and currently is developing state-of-the-art software at Cognitive X Solutions. He has worked in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC. Adam is on Twitter as @aspnetaddict.
    html: |-
      <P>Join us at the Vennture Garage on Tuesday, October 18th at 6:30 pm, when Adam Greene will talk about pairing Angular 2 with Typescript and Webpack.<BR></P>
      <H2>Presentation Summary</H2>
      <P>Angular.js 2 is a just-released upgrade (and rewrite) of Angular.js 1. Angular.js 2 is a component-based single page application framework that is written in, and takes advantage of, the advanced features of Typescript 2.0.  In this session, we will look at writing a single page application in Angular 2 using Typescript, Webpack (for combining, minifying, and inlining), and the Angular CLI.<BR></P>
      <H2>Speaker Biography</H2>
      <P>Adam Greene started programming at age 16 on an NEC V20 and never looked back. He has worked for local and international companies from British Columbia to Germany. He has developed software and websites for the financial services industry, a large home-delivery grocery store chain, worked freelance and currently is developing state-of-the-art software at Cognitive X Solutions. He has worked in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC. Adam is on Twitter as @aspnetaddict.</P>
  id: '28360759796'
  url: https://www.eventbrite.ca/e/angularjs-typescript-webpack-tickets-28360759796
  start:
    timezone: America/Moncton
    local: '2016-10-18T18:30:00'
    utc: '2016-10-18T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2016-10-18T21:30:00'
    utc: '2016-10-19T00:30:00Z'
  organization_id: '791166669'
  created: '2016-10-04T13:09:24Z'
  changed: '2016-10-19T07:33:43Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '16892888'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/28360759796/
  logo:
---
