---
title: Let's Talk about ES6
date: 2016-05-17 18:30 UTC
eventbrite:
  name:
    text: Let's Talk about ES6
    html: Let&#39;s Talk about ES6
  description:
    text: |-
      Summary:
      EMCAScript 2015, or ES6, is the newest version of the ECMAScript standard, which was ratified in June 2015. It is the first major update since ES5 was standardized in 2009. ES6 provides a significant update to the language with new feature such as arrow functions, maps and sets, modules, classes and many more.
      ES6 is quickly being adopted as the standard for front-end development and support in major JavaScript engines in underway but not complete. Support for ES6 is not uniform between the engines and so requires third party technology to be usable in production.
      This presentation will introduce the some of the feature of the ES6 language, pointing out some of the missing support, as well as some third party technology that can be used to improve support.
      Speaker Bio.:
      Patrick Webster started programming in high school and has been hooked ever since. He is currently a Software Engineer at EMC. Most of his experience is in web development using JavaScript and the Angular Framework.
    html: |-
      <H2>Summary:</H2>
      <P>EMCAScript 2015, or ES6, is the newest version of the ECMAScript standard, which was ratified in June 2015. It is the first major update since ES5 was standardized in 2009. ES6 provides a significant update to the language with new feature such as arrow functions, maps and sets, modules, classes and many more.</P>
      <P>ES6 is quickly being adopted as the standard for front-end development and support in major JavaScript engines in underway but not complete. Support for ES6 is not uniform between the engines and so requires third party technology to be usable in production.</P>
      <P>This presentation will introduce the some of the feature of the ES6 language, pointing out some of the missing support, as well as some third party technology that can be used to improve support.</P>
      <H2>Speaker Bio.:</H2>
      <P>Patrick Webster started programming in high school and has been hooked ever since. He is currently a Software Engineer at EMC. Most of his experience is in web development using JavaScript and the Angular Framework.</P>
  id: '25167685224'
  url: https://www.eventbrite.ca/e/lets-talk-about-es6-tickets-25167685224
  start:
    timezone: America/Moncton
    local: '2016-05-17T18:30:00'
    utc: '2016-05-17T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2016-05-17T21:30:00'
    utc: '2016-05-18T00:30:00Z'
  organization_id: '791166669'
  created: '2016-05-03T14:05:33Z'
  changed: '2016-05-18T21:57:57Z'
  published: '2016-05-03T14:05:35Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Summary:\n\nEMCAScript 2015, or ES6, is the newest version of the ECMAScript
    standard, which was ratified in June 2015. It is the first major "
  logo_id:
  organizer_id: '2361139082'
  venue_id: '11348897'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/25167685224/
  is_externally_ticketed: false
  logo:
description: |-
  <h2>Summary:</h2>
  <p>EMCAScript 2015, or ES6, is the newest version of the ECMAScript standard, which was ratified in June 2015. It is the first major update since ES5 was standardized in 2009. ES6 provides a significant update to the language with new feature such as arrow functions, maps and sets, modules, classes and many more.</p>
  <p>ES6 is quickly being adopted as the standard for front-end development and support in major JavaScript engines in underway but not complete. Support for ES6 is not uniform between the engines and so requires third party technology to be usable in production.</p>
  <p>This presentation will introduce the some of the feature of the ES6 language, pointing out some of the missing support, as well as some third party technology that can be used to improve support.</p>
  <h2>Speaker Bio.:</h2>
  <p>Patrick Webster started programming in high school and has been hooked ever since. He is currently a Software Engineer at EMC. Most of his experience is in web development using JavaScript and the Angular Framework.</p>
---
