---
title: Learning to Queue (with MassTransit)
date: 2016-12-20 18:30 UTC
eventbrite:
  name:
    text: Learning to Queue (with MassTransit)
    html: Learning to Queue (with MassTransit)
  description:
    text: |
      Presentation Summary
      A practical discussion on why and how a message queue might be useful for your software project.  The presentation will include a demo in C#, using MassTransit and RabbitMQ.
      Speaker Biography
      Rémi is an avid software developer with 20 years experience who currently does software consulting with Journeyman Software. He is a contrarian always looking for better ways of doing things. Remi is active on Twitter (@remids), and is always willing to discuss new development tools and techniques.
    html: |-
      <H2>Presentation Summary</H2>
      <P>A practical discussion on why and how a message queue might be useful for your software project.  The presentation will include a demo in C#, using MassTransit and RabbitMQ.</P>
      <H2>Speaker Biography</H2>
      <P>Rémi is an avid software developer with 20 years experience who currently does software consulting with Journeyman Software. He is a contrarian always looking for better ways of doing things. Remi is active on Twitter (@remids), and is always willing to discuss new development tools and techniques.</P>
      <P><BR></P>
  id: '30036519037'
  url: https://www.eventbrite.ca/e/learning-to-queue-with-masstransit-tickets-30036519037
  start:
    timezone: America/Moncton
    local: '2016-12-20T18:30:00'
    utc: '2016-12-20T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2016-12-20T21:30:00'
    utc: '2016-12-21T01:30:00Z'
  created: '2016-12-06T15:21:55Z'
  changed: '2016-12-06T15:23:13Z'
  capacity: 50
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '17616434'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/30036519037/
  logo:
---
