---
title: A Responsive Designer's Perspective
date: 2016-01-19 18:30 UTC
eventbrite:
  name:
    text: A Responsive Designer's Perspective
    html: A Responsive Designer&#39;s Perspective
  description:
    text: |-
      Presentation Summary:
      As a developer, do you ever feel like web designers speak a different dialect?  Serge LeBlanc of Big Bright Sun Communications will bridge the gap between the perspectives of web designers and web developers, particularly in the area of responsive design. 
      Tapping into experience and anecdotes from a wide-ranging career, Serge will offer practical tips for making web applications mobile-ready.
      Speaker Biography:
      Empowering organizations and entrepreneurs with creative, insightful applications of technology is what motivates Serge. Educated at the Université de Moncton, Serge draws upon nearly twenty years of experience applying web technology to enhance business processes and brand expressions in the automotive, insurance, retail and NGO sectors.  A former Systems Analyst for a Silicon Valley systems integration firm (Inventa) and New Media Director for an Atlantic Canadian marketing and public relations agency (Corporation Communications Limited), Serge’s contributions in information technology run the gamut from application programming to computer generated animation. Complementing his technical skill set is a dedication to project management best practices acquired as Account Manager for a boutique web agency in Los Angeles, CA (Animated Designs LLC) winner of multiple JD Power awards for highest ranked automotive manufacturer website. Serge’s responsibilities included ensuring successful website support to product launch campaigns aired during television broadcasts of the Super Bowl.  Serge founded Big Bright Sun Communications in 2011, and today exercises his technical, creative and business chops as a hands-on techie and data-head working with clients and associates to build solid foundations on the web that generate measured business results.
    html: |-
      <H2><STRONG>Presentation Summary:</STRONG></H2>
      <P>As a developer, do you ever feel like web designers speak a different dialect?  Serge LeBlanc of Big Bright Sun Communications will bridge the gap between the perspectives of web designers and web developers, particularly in the area of responsive design. </P>
      <P>Tapping into experience and anecdotes from a wide-ranging career, Serge will offer practical tips for making web applications mobile-ready.</P>
      <P><BR></P>
      <H2><STRONG>Speaker Biography:</STRONG></H2>
      <P>Empowering organizations and entrepreneurs with creative, insightful applications of technology is what motivates Serge. Educated at the Université de Moncton, Serge draws upon nearly twenty years of experience applying web technology to enhance business processes and brand expressions in the automotive, insurance, retail and NGO sectors.<BR> <BR> A former Systems Analyst for a Silicon Valley systems integration firm (Inventa) and New Media Director for an Atlantic Canadian marketing and public relations agency (Corporation Communications Limited), Serge’s contributions in information technology run the gamut from application programming to computer generated animation. Complementing his technical skill set is a dedication to project management best practices acquired as Account Manager for a boutique web agency in Los Angeles, CA (Animated Designs LLC) winner of multiple JD Power awards for highest ranked automotive manufacturer website. Serge’s responsibilities included ensuring successful website support to product launch campaigns aired during television broadcasts of the Super Bowl.<BR> <BR> Serge founded Big Bright Sun Communications in 2011, and today exercises his technical, creative and business chops as a hands-on techie and data-head working with clients and associates to build solid foundations on the web that generate measured business results.</P>
  id: '19803908022'
  url: https://www.eventbrite.ca/e/a-responsive-designers-perspective-tickets-19803908022
  start:
    timezone: America/Halifax
    local: '2016-01-19T18:30:00'
    utc: '2016-01-19T22:30:00Z'
  end:
    timezone: America/Halifax
    local: '2016-01-19T21:30:00'
    utc: '2016-01-20T01:30:00Z'
  organization_id: '791166669'
  created: '2015-12-01T16:59:52Z'
  changed: '2016-01-20T08:37:48Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '12177900'
  category_id: '102'
  subcategory_id:
  format_id:
  resource_uri: https://www.eventbriteapi.com/v3/events/19803908022/
  logo:
---
