---
title: Learning to Queue (with MassTransit)
date: 2016-12-20 18:30 UTC
eventbrite:
  name:
    text: Learning to Queue (with MassTransit)
    html: Learning to Queue (with MassTransit)
  description:
    text: |
      Presentation Summary
      A practical discussion on why and how a message queue might be useful for your software project.  The presentation will include a demo in C#, using MassTransit and RabbitMQ.
      Speaker Biography
      Rémi is an avid software developer with 20 years experience who currently does software consulting with Journeyman Software. He is a contrarian always looking for better ways of doing things. Remi is active on Twitter (@remids), and is always willing to discuss new development tools and techniques.
    html: |-
      <H2>Presentation Summary</H2>
      <P>A practical discussion on why and how a message queue might be useful for your software project.  The presentation will include a demo in C#, using MassTransit and RabbitMQ.</P>
      <H2>Speaker Biography</H2>
      <P>Rémi is an avid software developer with 20 years experience who currently does software consulting with Journeyman Software. He is a contrarian always looking for better ways of doing things. Remi is active on Twitter (@remids), and is always willing to discuss new development tools and techniques.</P>
      <P><BR></P>
  id: '30036519037'
  url: https://www.eventbrite.ca/e/learning-to-queue-with-masstransit-tickets-30036519037
  start:
    timezone: America/Moncton
    local: '2016-12-20T18:30:00'
    utc: '2016-12-20T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2016-12-20T21:30:00'
    utc: '2016-12-21T01:30:00Z'
  organization_id: '791166669'
  created: '2016-12-06T15:21:55Z'
  changed: '2016-12-21T08:33:13Z'
  published: '2016-12-06T15:23:13Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: |-
    Presentation Summary
    A practical discussion on why and how a message queue might be useful for your software project.  The presentation will
  logo_id: '26544180'
  organizer_id: '2361139082'
  venue_id: '17644763'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/30036519037/
  is_externally_ticketed: false
  logo:
    crop_mask:
      top_left:
        x: 0
        y: 58
      width: 184
      height: 92
    original:
      url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F26544180%2F791166669%2F1%2Foriginal.jpg?auto=format%2Ccompress&q=75&sharp=10&s=5d4ebbd2527b246469ca290b4e58ed25
      width: 184
      height: 200
    id: '26544180'
    url: https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F26544180%2F791166669%2F1%2Foriginal.jpg?h=200&w=450&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C58%2C184%2C92&s=56c43c6da36be6404281bb66fbddd2ec
    aspect_ratio: '2'
    edge_color:
    edge_color_set: true
description: |-
  <h2>Presentation Summary</h2>
  <p>A practical discussion on why and how a message queue might be useful for your software project.  The presentation will include a demo in C#, using MassTransit and RabbitMQ.</p>
  <h2>Speaker Biography</h2>
  <p>Rémi is an avid software developer with 20 years experience who currently does software consulting with Journeyman Software. He is a contrarian always looking for better ways of doing things. Remi is active on Twitter (@remids), and is always willing to discuss new development tools and techniques.</p>
  <p><br></p>
---
