---
title: 'Agile vs. Scrum:  What''s the Difference?'
slug: agile-vs-scrum-what-s-the-difference
date: 2017-01-17 18:30 UTC
eventbrite:
  name:
    text: 'Agile vs. Scrum:  What''s the Difference?'
    html: 'Agile vs. Scrum:  What&#39;s the Difference?'
  description:
    text: |-
      Presentation Summary:
      What is Scrum? What does it mean to be Agile? In this session we'll introduce these topics and discuss how software development teams can implement them to deliver value to their customers sooner.
      Speaker Biography:
      Nick Clark is a Scrum Master at Thomson Reuters helping teams implement Scrum and mature as an Agile organization. Previously he held roles in product management and software development at Trapeze Group, a global leader in public transportation software.
    html: |-
      <H2>Presentation Summary:</H2>
      <P>What is Scrum? What does it mean to be Agile? In this session we'll introduce these topics and discuss how software development teams can implement them to deliver value to their customers sooner.</P>
      <H2>Speaker Biography:</H2>
      <P>Nick Clark is a Scrum Master at Thomson Reuters helping teams implement Scrum and mature as an Agile organization. Previously he held roles in product management and software development at Trapeze Group, a global leader in public transportation software.</P>
  id: '30994376013'
  url: https://www.eventbrite.ca/e/agile-vs-scrum-whats-the-difference-tickets-30994376013
  start:
    timezone: America/Moncton
    local: '2017-01-17T18:30:00'
    utc: '2017-01-17T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-01-17T21:30:00'
    utc: '2017-01-18T01:30:00Z'
  organization_id: '791166669'
  created: '2017-01-08T01:09:01Z'
  changed: '2017-01-18T08:32:57Z'
  published: '2017-01-08T01:09:04Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: |-
    Presentation Summary:
    What is Scrum? What does it mean to be Agile? In this session we'll introduce these topics and discuss how software de
  logo_id:
  organizer_id: '2361139082'
  venue_id: '17880088'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/30994376013/
  is_externally_ticketed: false
  logo:
description: |-
  <h2>Presentation Summary:</h2>
  <p>What is Scrum? What does it mean to be Agile? In this session we'll introduce these topics and discuss how software development teams can implement them to deliver value to their customers sooner.</p>
  <h2>Speaker Biography:</h2>
  <p>Nick Clark is a Scrum Master at Thomson Reuters helping teams implement Scrum and mature as an Agile organization. Previously he held roles in product management and software development at Trapeze Group, a global leader in public transportation software.</p>
---
