---
title: Intermediate Topics in Relational Databases
date: 2017-03-21 18:30 UTC
eventbrite:
  name:
    text: Intermediate Topics in Relational Databases
    html: Intermediate Topics in Relational Databases
  description:
    text: |-
      Presentation Summary:
      This talk is about challenging programmer's perspectives on relational databases.  This is an intermediate topic, geared towards developers who are at least somewhat familiar with the Relational Model and what problems it was designed to solve.  We'll explore why the application is ineffective at enforcing data constraints, how to effectively version control your database setup and migration scripts, and hopefully learn to embrace some of those "advanced" database features many of us didn't think we needed.
      Speaker Biography:
      Christy Siepker (who feels weird talking about herself in the 3rd person) says: "As a long time student of art and design, I never expected I would end up as a programmer.  Web design became my gateway to the world of code at the age of 21 and the rest of my experience could be summed up as 'if I want something done right (or at all), I have to do it myself.'  I often draw out difficult problems on paper and my husband claims that I 'write code like I'm carving it from stone.'  Haskell and PostgreSQL are my current 'media' of choice."
    html: |-
      <H2>Presentation Summary:</H2>
      <P>This talk is about challenging programmer's perspectives on relational databases.  This is an intermediate topic, geared towards developers who are at least somewhat familiar with the Relational Model and what problems it was designed to solve.  We'll explore why the application is ineffective at enforcing data constraints, how to effectively version control your database setup and migration scripts, and hopefully learn to embrace some of those "advanced" database features many of us didn't think we needed.</P>
      <H2>Speaker Biography:</H2>
      <P>Christy Siepker (who feels weird talking about herself in the 3rd person) says: "As a long time student of art and design, I never expected I would end up as a programmer.  Web design became my gateway to the world of code at the age of 21 and the rest of my experience could be summed up as 'if I want something done right (or at all), I have to do it myself.'  I often draw out difficult problems on paper and my husband claims that I 'write code like I'm carving it from stone.'  Haskell and PostgreSQL are my current 'media' of choice."</P>
  id: '32687718847'
  url: https://www.eventbrite.ca/e/intermediate-topics-in-relational-databases-tickets-32687718847
  start:
    timezone: America/Moncton
    local: '2017-03-21T18:30:00'
    utc: '2017-03-21T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-03-21T21:30:00'
    utc: '2017-03-22T00:30:00Z'
  organization_id: '791166669'
  created: '2017-03-09T13:53:52Z'
  changed: '2017-03-22T07:55:40Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '18696806'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/32687718847/
  logo:
---
