---
title: DIY Home Automation with the Internet of Things
date: 2017-05-16 18:30 UTC
eventbrite:
  name:
    text: DIY Home Automation with the Internet of Things
    html: DIY Home Automation with the Internet of Things
  description:
    text: |-
      Presentation Summary
      The Internet of Things (IoT) is a Very Big Deal these days. There are more connected devices than people in the world:  Approximately 8.4 billion (and quickly rising).  Sadly, it seems like there are about the same number of ways to get a device connected.  And, like everything, there is the hard way and the easy way.  But now we can do it all wirelessly using very small, cheap hardware.  Best of all, we can now control/monitor it using free software that is easy to set up and accessible anywhere using a smart phone or web browser.
      For IoT home automation, we need a few basic things:
      Something that we want to control or monitor (a.k.a. "the Thing") -- This could be turning on living room lights, monitoring a refrigerator's temperature, or even feeding the fish by sending a Twitter message.
      Devices to do the control and monitoring ("Hardware") -- We will talk about some of the options but focus on a few inexpensive and readily-available IoT device (and where to get them).
      Control unit -- We will use an open source product by IBM which will allow us to create a control and monitoring dashboard without writing any code.
      Other than the Raspberry Pi used for the dashboard and messaging system, all of this can be done for under $20...and as little as $5.
      Speaker Biography
      Bill MacIntyre is a software developer with the Innovation, Information and Technology Branch of the federal government.  He is also a lifelong gadget and electronics addict, especially when it involves doing cool stuff as cheaply and easily as possible.  Some of Bill's most recent hobby work has been doing home automation on a budget.  Like many others, Bill has avoided getting into home automation because it can be very confusing (and, until recently, quite expensive) and often uses proprietary hardware and software.  This presentation will demonstrate how Bill managed to break through the IoT wall of confusion and create connected devices very easily and very inexpensively using a combination of readily available hardware and free software.
    html: |-
      <H2>Presentation Summary</H2>
      <P>The Internet of Things (IoT) is a Very Big Deal these days. There are more connected devices than people in the world:  Approximately 8.4 billion (and quickly rising).  Sadly, it seems like there are about the same number of ways to get a device connected.  And, like everything, there is the hard way and the easy way.  But now we can do it all wirelessly using very small, cheap hardware.  Best of all, we can now control/monitor it using free software that is easy to set up and accessible anywhere using a smart phone or web browser.</P>
      <P>For IoT home automation, we need a few basic things:</P>
      <OL>
      <LI>
      <P>Something that we want to control or monitor (a.k.a. "the Thing") -- This could be turning on living room lights, monitoring a refrigerator's temperature, or even feeding the fish by sending a Twitter message.</P>
      </LI>
      <LI>
      <P>Devices to do the control and monitoring ("Hardware") -- We will talk about some of the options but focus on a few inexpensive and readily-available IoT device (and where to get them).</P>
      </LI>
      <LI>
      <P>Control unit -- We will use an open source product by IBM which will allow us to create a control and monitoring dashboard without writing any code.</P>
      </LI>
      </OL>
      <P>Other than the Raspberry Pi used for the dashboard and messaging system, all of this can be done for under $20...and as little as $5.</P>
      <H2>Speaker Biography</H2>
      <P>Bill MacIntyre is a software developer with the Innovation, Information and Technology Branch of the federal government.  He is also a lifelong gadget and electronics addict, especially when it involves doing cool stuff as cheaply and easily as possible.  Some of Bill's most recent hobby work has been doing home automation on a budget.  Like many others, Bill has avoided getting into home automation because it can be very confusing (and, until recently, quite expensive) and often uses proprietary hardware and software.  This presentation will demonstrate how Bill managed to break through the IoT wall of confusion and create connected devices very easily and very inexpensively using a combination of readily available hardware and free software.</P>
  id: '34203240814'
  url: https://www.eventbrite.ca/e/diy-home-automation-with-the-internet-of-things-tickets-34203240814
  start:
    timezone: America/Moncton
    local: '2017-05-16T18:30:00'
    utc: '2017-05-16T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-05-16T21:30:00'
    utc: '2017-05-17T00:30:00Z'
  created: '2017-05-01T16:52:26Z'
  changed: '2017-05-01T16:52:30Z'
  capacity: 30
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19424794'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/34203240814/
  logo:
---
