---
title: Browsers, Bytecode, and WebAssembly
date: 2017-10-17 18:30 UTC
eventbrite:
  name:
    text: Browsers, Bytecode, and WebAssembly
    html: Browsers, Bytecode, and WebAssembly
  description:
    text: |-
      Presentation Summary
      WebAssembly, or wasm, is a new type of code that can be run in most modern web browsers at near native speed and runs alongside JavaScript allowing both to communicate and work together. The initial implementation of WebAssembly was based off of the features of asm.js and its initial aim was to support compilation from languages like C/C++.
      Rather than one browser vendor trying to lead the way, the exciting thing about WebAssembly is that it’s being actively worked on by Mozilla (asm.js), Google (Native Client – NaCl and Portable Native Client – PNaCl), Microsoft, and Apple.
      This talk will be an overview of WebAssembly, where it is today and where it’s going, and will include example code.
      Speaker Biography
      Gerard Gallant is a senior developer/architect with Dovico Software and has played a major role in most of the software products released by Dovico.  With a strong desire to learn, he has taught himself several languages and technologies over the years ranging from Visual C++, C#, JavaScript, Java, and WCF (to name a few). Extremely competitive in everything he does, in what started out as a relaxing jog several times a week, Gerard has rediscovered his high school passion for running and now takes part in several 5K and 10K races every year
    html: |-
      <H2>Presentation Summary</H2>
      <P>WebAssembly, or wasm, is a new type of code that can be run in most modern web browsers at near native speed and runs alongside JavaScript allowing both to communicate and work together. The initial implementation of WebAssembly was based off of the features of asm.js and its initial aim was to support compilation from languages like C/C++.</P>
      <P>Rather than one browser vendor trying to lead the way, the exciting thing about WebAssembly is that it’s being actively worked on by Mozilla (asm.js), Google (Native Client – NaCl and Portable Native Client – PNaCl), Microsoft, and Apple.</P>
      <P>This talk will be an overview of WebAssembly, where it is today and where it’s going, and will include example code.</P>
      <H2><STRONG>Speaker Biography</STRONG></H2>
      <P>Gerard Gallant is a senior developer/architect with Dovico Software and has played a major role in most of the software products released by Dovico.  With a strong desire to learn, he has taught himself several languages and technologies over the years ranging from Visual C++, C#, JavaScript, Java, and WCF (to name a few). Extremely competitive in everything he does, in what started out as a relaxing jog several times a week, Gerard has rediscovered his high school passion for running and now takes part in several 5K and 10K races every year</P>
  id: '38208022223'
  url: https://www.eventbrite.ca/e/browsers-bytecode-and-webassembly-tickets-38208022223
  start:
    timezone: America/Moncton
    local: '2017-10-17T18:30:00'
    utc: '2017-10-17T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-10-17T21:30:00'
    utc: '2017-10-18T00:30:00Z'
  organization_id: '791166669'
  created: '2017-09-24T20:39:01Z'
  changed: '2017-10-18T08:10:38Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19441514'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/38208022223/
  is_externally_ticketed: false
  logo:
---
