---
title: What's New in Java 9
date: 2017-04-18 18:30 UTC
eventbrite:
  name:
    text: What's New in Java 9
    html: What&#39;s New in Java 9
  description:
    text: |-
      Presentation Summary
      This talk is about Making Java Great Again with the upcoming release of Java SE 9.  We'll cover the language and API changes, the REPL, the new module system, changes to the VM, and other relevant topics.
      Speaker Biography
      Robert J Saulnier is a Java EE Guardian who is passionate about all things Java: language, API, VM, and coffee. He has been experimenting, teaching, and developing with Java since 1996.  And with over 19 years of professional experience, the last 10 years have been spent working at GTECH, EMC, and Willis Towers Watson, working on a range of tech. that spans embedded terminal systems to enterprise applications.
    html: |-
      <H2>Presentation Summary</H2>
      <P>This talk is about Making Java Great Again with the upcoming release of Java SE 9.  We'll cover the language and API changes, the REPL, the new module system, changes to the VM, and other relevant topics.<BR></P>
      <H2>Speaker Biography</H2>
      <P>Robert J Saulnier is a Java EE Guardian who is passionate about all things Java: language, API, VM, and coffee. He has been experimenting, teaching, and developing with Java since 1996.  And with over 19 years of professional experience, the last 10 years have been spent working at GTECH, EMC, and Willis Towers Watson, working on a range of tech. that spans embedded terminal systems to enterprise applications.</P>
  id: '33434419248'
  url: https://www.eventbrite.ca/e/whats-new-in-java-9-tickets-33434419248
  start:
    timezone: America/Moncton
    local: '2017-04-18T18:30:00'
    utc: '2017-04-18T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-04-18T21:30:00'
    utc: '2017-04-19T00:30:00Z'
  created: '2017-04-04T17:08:51Z'
  changed: '2017-04-04T17:08:56Z'
  capacity: 50
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19071062'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/33434419248/
  logo:
---
