---
title: Have Your Best Season Yet, Becoming A Microsoft MVP
date: 2017-07-05 18:30 UTC
eventbrite:
  name:
    text: Have Your Best Season Yet, Becoming A Microsoft MVP
    html: Have Your Best Season Yet, Becoming A Microsoft MVP
  description:
    text: "Abstract - It’s time to have your best “season” yet! If you are a technical
      expert with an active role as a community thought leader (speaker, blogger,
      forum contributor, author, GitHub contributor, mentor, technical video creator,
      etc), join Simran Chaudhry, Microsoft Community Program Manager, to learn how
      you can be recognized and awarded for your outstanding community contributions.
      \nLearn how following your passion and deepening your technical area of focus
      can help you create a wide-sweeping impact and how you can be awarded as a Microsoft
      MVP! The MVP community is comprised of over 4,000 MVPs worldwide, and offers
      you a rich and diverse network of talented tech experts who can help you learn
      new skills and advance your career. \nAs an MVP, you also gain insider access
      to Microsoft product development teams, and a plethora of other benefits. Come
      join the discussion and learn how to reap the rewards of your best season yet! 
      For more information, please visit: www.microsoft.com/mvp."
    html: |-
      <P><SPAN>Abstract - It’s time to have your best “season” yet! If you are a technical expert with an active role as a community thought leader (speaker, blogger, forum contributor, author, GitHub contributor, mentor, technical video creator, etc), join Simran Chaudhry, Microsoft Community Program Manager, to learn how you can be recognized and awarded for your outstanding community contributions. </SPAN></P>
      <P><SPAN>Learn how following your passion and deepening your technical area of focus can help you create a wide-sweeping impact and how you can be awarded as a Microsoft MVP! The MVP community is comprised of over 4,000 MVPs worldwide, and offers you a rich and diverse network of talented tech experts who can help you learn new skills and advance your career. </SPAN></P>
      <P><SPAN>As an MVP, you also gain insider access to Microsoft product development teams, and a plethora of other benefits. Come join the discussion and learn how to reap the rewards of your best season yet!  For more information, please visit: </SPAN><A HREF="http://www.microsoft.com/mvp" TARGET="_blank" REL="nofollow noopener noreferrer">www.microsoft.com/mvp</A><SPAN>.</SPAN></P>
  id: '34193889845'
  url: https://www.eventbrite.ca/e/have-your-best-season-yet-becoming-a-microsoft-mvp-tickets-34193889845
  start:
    timezone: America/Moncton
    local: '2017-07-05T18:30:00'
    utc: '2017-07-05T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-07-05T21:30:00'
    utc: '2017-07-06T00:30:00Z'
  organization_id: '791166669'
  created: '2017-05-01T12:53:25Z'
  changed: '2017-07-06T04:41:11Z'
  published: '2017-05-01T12:53:28Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: Abstract - It’s time to have your best “season” yet! If you are a technical
    expert with an active role as a community thought leader (speake
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19421114'
  category_id: '102'
  subcategory_id:
  format_id: '10'
  resource_uri: https://www.eventbriteapi.com/v3/events/34193889845/
  is_externally_ticketed: false
  logo:
---
