---
title: ASP.NET MVC Core 2.0
date: 2017-12-19 18:30 UTC
eventbrite:
  name:
    text: ASP.NET MVC Core 2.0
    html: ASP.NET MVC Core 2.0
  description:
    text: |-
      Presentation Summary
      ASP.NET MVC Core 2.0 - The release of ASP.NET Core 2.0 brings compatibility with .NET Core 2.0, deeper support for running on Linux distributions, and the new Razor Page user-interface design paradigm.  In this demonstration, we will look at Razor Pages, run the website from the command line (and outside IIS), take a look at the Single Page Application (SPA) templates (specifically Angular), and C# 7.1.
      Speaker Biography
      Adam Greene started programming at age 16 on an NEC V20 and never looked back. He has worked for local and international companies from British Columbia to Germany. He has developed software and websites for the financial services industry, a large home delivery grocery store chain, worked freelance, and is currently a Senior Consultant / .NET Tech Lead with CGI. He has worked in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC.Adam is on Twitter as @aspnetaddict
    html: |-
      <H2>Presentation Summary</H2>
      <P>ASP.NET MVC Core 2.0 - The release of ASP.NET Core 2.0 brings compatibility with .NET Core 2.0, deeper support for running on Linux distributions, and the new Razor Page user-interface design paradigm.  In this demonstration, we will look at Razor Pages, run the website from the command line (and outside IIS), take a look at the Single Page Application (SPA) templates (specifically Angular), and C# 7.1.</P>
      <H2>Speaker Biography</H2>
      <P>Adam Greene started programming at age 16 on an NEC V20 and never looked back. He has worked for local and international companies from British Columbia to Germany. He has developed software and websites for the financial services industry, a large home delivery grocery store chain, worked freelance, and is currently a Senior Consultant / .NET Tech Lead with CGI. He has worked in a wide variety of languages: C/C++, Delphi, COBOL, Java, and now is a diehard fan of C#, working mainly in ASP.NET MVC.<BR><BR>Adam is on Twitter as @aspnetaddict</P>
  id: '40852043562'
  url: https://www.eventbrite.ca/e/aspnet-mvc-core-20-tickets-40852043562
  start:
    timezone: America/Moncton
    local: '2017-12-19T18:30:00'
    utc: '2017-12-19T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-12-19T21:30:00'
    utc: '2017-12-20T01:30:00Z'
  organization_id: '791166669'
  created: '2017-11-28T20:28:44Z'
  changed: '2017-12-20T08:56:29Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '22298841'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/40852043562/
  logo:
---
