---
title: Functional Reactive Programming with RxJS
date: 2017-11-21 18:30 UTC
eventbrite:
  name:
    text: Functional Reactive Programming with RxJS
    html: Functional Reactive Programming with RxJS
  description:
    text: |-
      Presentation Summary
      Reactive Programming is programming with asynchronous data streams. You  can create these data streams from anything:  Variables, user inputs, properties, data structures, etc.  On top of that, RxJS provides a multitude of functions that enable the combination, creation, and filtering of those data streams.
      Speaker Biography
      Patrick Webster is a Software Engineer at Dell EMC. His passion is in front-end technologies and he is currently working with Angular.
    html: |-
      <H2>Presentation Summary</H2>
      <P>Reactive Programming is programming with asynchronous data streams. You  can create these data streams from anything:  Variables, user inputs, properties, data structures, etc.  On top of that, RxJS provides a multitude of functions that enable the combination, creation, and filtering of those data streams.</P>
      <H2><STRONG>Speaker Biography</STRONG></H2>
      <P>Patrick Webster is a Software Engineer at Dell EMC. His passion is in front-end technologies and he is currently working with Angular.</P>
  id: '39205988166'
  url: https://www.eventbrite.ca/e/functional-reactive-programming-with-rxjs-tickets-39205988166
  start:
    timezone: America/Moncton
    local: '2017-11-21T18:30:00'
    utc: '2017-11-21T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-11-21T21:30:00'
    utc: '2017-11-22T01:30:00Z'
  created: '2017-10-23T23:26:32Z'
  changed: '2017-11-22T09:17:08Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19441514'
  category_id: '116'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/39205988166/
  logo:
---
