---
title: Scaling for Success with .NET and Azure
date: 2017-09-12 18:30 UTC
eventbrite:
  name:
    text: Scaling for Success with .NET and Azure
    html: Scaling for Success with .NET and Azure
  description:
    text: |-
      Presentation Summary
      Rapid and runaway success is the best way to expose all of the gaps, rough edges and pain points in your back end services. Under live-site pressure to fix issues, making the crucial set of engineering choices and investments can be challenging.  This session will take a hands-on walk through scaling a representative back-end application (written with .NET Core and Kubernetes on Azure) from hundreds to hundreds of thousands of requests per second, illustrating data, techniques, and common performance barriers from real customer deployments.
      Speaker Biography
      Mark Simms is a Partner Architect on the Azure engineering team, responsible for architectural guidance, delivery remediation, and technical stewardship for critical customer projects at scale.  Prior to joining Microsoft, Mark was the CTO of a mobile application startup, working on everything from embedded digital design to live site operations for a SaaS platform.
    html: |-
      <H2>Presentation Summary</H2>
      <P>Rapid and runaway success is the best way to expose all of the gaps, rough edges and pain points in your back end services. Under live-site pressure to fix issues, making the crucial set of engineering choices and investments can be challenging.  This session will take a hands-on walk through scaling a representative back-end application (written with .NET Core and Kubernetes on Azure) from hundreds to hundreds of thousands of requests per second, illustrating data, techniques, and common performance barriers from real customer deployments.</P>
      <H2>Speaker Biography</H2>
      <P>Mark Simms is a Partner Architect on the Azure engineering team, responsible for architectural guidance, delivery remediation, and technical stewardship for critical customer projects at scale.  Prior to joining Microsoft, Mark was the CTO of a mobile application startup, working on everything from embedded digital design to live site operations for a SaaS platform.</P>
  id: '37369938492'
  url: https://www.eventbrite.ca/e/scaling-for-success-with-net-and-azure-tickets-37369938492
  start:
    timezone: America/Moncton
    local: '2017-09-12T18:30:00'
    utc: '2017-09-12T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2017-09-12T21:30:00'
    utc: '2017-09-13T00:30:00Z'
  created: '2017-08-27T19:32:05Z'
  changed: '2017-09-13T08:10:36Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '16475670'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/37369938492/
  logo:
---
