---
title: Lightning Talks 5
date: 2018-01-16 18:30 UTC
eventbrite:
  name:
    text: Lightning Talks 5
    html: Lightning Talks 5
  description:
    text: |-
      Presentation Summaries
      Serge Leger: Containers from Scratch
      What are containers? We can think of them as lighweight Virtual Machines, but what does that really mean?  In this Lightning Talk, we'll build a minimalist container engine in an attempt to demystify what a container is and how container engines like Docker work.
      André Landry:  Deploying Containerized Application with Kubernetes
      Kubernetes is a open source platform started by engineers at Google which was donated to the Cloud Native Computing Foundation. It's a portable and scalable way to manage and deploy containerized applications in a clustered environment.  This talk will explain key components of Kubernetes, showing you how they come together to deploy a containerized application.
      Speaker Biographies
      Serge Léger has been working in the IT industry for over 20 years. Most of those years were with the public sector.  For the past 10 years, he's been employed at the National Research Council, where he's worked with researchers in many different fields: machine learning, bioinformatics, educational and medical.
      André Landry is a Full Stack Developer with over 10 years experience.  His passion with programming started with transcribing games from magazines on his Commodore 64.  Fuelled by coffee, André has shipped numerous web applications using various different technologies such as .NET, Javascript, Ruby On Rails, and EmberJS. He has worked for Netsphere Solutions since 2006.
    html: |-
      <H2>Presentation Summaries</H2>
      <H3>Serge Leger: Containers from Scratch</H3>
      <P>What are containers? We can think of them as lighweight Virtual Machines, but what does that really mean?  In this Lightning Talk, we'll build a minimalist container engine in an attempt to demystify what a container is and how container engines like Docker work.</P>
      <H3>André Landry:  Deploying Containerized Application with Kubernetes</H3>
      <P>Kubernetes is a open source platform started by engineers at Google which was donated to the Cloud Native Computing Foundation. It's a portable and scalable way to manage and deploy containerized applications in a clustered environment.<BR> <BR> This talk will explain key components of Kubernetes, showing you how they come together to deploy a containerized application.</P>
      <H2>Speaker Biographies</H2>
      <P><STRONG>Serge Léger</STRONG> has been working in the IT industry for over 20 years. Most of those years were with the public sector.  For the past 10 years, he's been employed at the National Research Council, where he's worked with researchers in many different fields: machine learning, bioinformatics, educational and medical.</P>
      <P><STRONG>André Landry</STRONG> is a Full Stack Developer with over 10 years experience.  His passion with programming started with transcribing games from magazines on his Commodore 64.  Fuelled by coffee, André has shipped numerous web applications using various different technologies such as .NET, Javascript, Ruby On Rails, and EmberJS. He has worked for Netsphere Solutions since 2006.</P>
  id: '41314920038'
  url: https://www.eventbrite.ca/e/lightning-talks-5-tickets-41314920038
  start:
    timezone: America/Moncton
    local: '2018-01-16T18:30:00'
    utc: '2018-01-16T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-01-16T21:30:00'
    utc: '2018-01-17T01:30:00Z'
  created: '2017-12-14T18:00:00Z'
  changed: '2017-12-14T18:00:04Z'
  capacity: 50
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '22507637'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/41314920038/
  logo:
---
