---
title: 'Google Stack: Polymer and Firebase'
date: 2018-09-18 18:30 UTC
speakerdeck_id: 9fdde2a4595b43ad949b258c5f311e87
eventbrite:
  name:
    text: 'Google Stack: Polymer and Firebase'
    html: 'Google Stack: Polymer and Firebase'
  description:
    text: "Presentation Summary\nRecently, there has been a move by the major browser
      vendors to simplify the development of software through the new Web Components
      standard.  Polymer, a free open-source library by Google, makes use of this
      new standard to make web software reusable (see YouTube, newly built using Polymer).
      Firebase, a collection of cloud services, combined with Polymer, make for a
      compelling development platform for web and mobile apps and the new push for
      mobile web apps. In this talk we will cover Polymer, Firebase and the major
      services of Google Functions, Hosting, RealTime and Firestore Databases. Examples
      will be shown of a production app in progress. \nSpeaker Biography\nSimon Gauvin
      is an expert in the field of UX, mobile and cloud computing with 25 years of
      experience developing several startup software companies. He was former VP of
      Applications Technology at Plazmic Inc. (acquired by RIM in 2002) where he led
      the development of a mobile media platform for Warner Brothers and Disney in
      the Japanese mobile market. He completed Ph.D. research in Computer Science
      at Dalhousie University and has been published in several leading academic journals.
      Simon has authored software patents, invented and developed several new programming
      languages, and used this work to co-found Vizwik.com, a visual programming mobile
      app development platform. He recently co-founded another startup, Safelii Inc.,
      which is using mobile and AI technology to help improve health and safety services
      for employees in corporations. He is also a freelance Chief Technology Officer
      consulting for small to medium sized companies in Atlantic Canada."
    html: |-
      <H2>Presentation Summary</H2>
      <P>Recently, there has been a move by the major browser vendors to simplify the development of software through the new Web Components standard.  Polymer, a free open-source library by Google, makes use of this new standard to make web software reusable (see YouTube, newly built using Polymer). Firebase, a collection of cloud services, combined with Polymer, make for a compelling development platform for web and mobile apps and the new push for mobile web apps. In this talk we will cover Polymer, Firebase and the major services of Google Functions, Hosting, RealTime and Firestore Databases. Examples will be shown of a production app in progress. <BR></P>
      <H2>Speaker Biography</H2>
      <P>Simon Gauvin is an expert in the field of UX, mobile and cloud computing with 25 years of experience developing several startup software companies. He was former VP of Applications Technology at Plazmic Inc. (acquired by RIM in 2002) where he led the development of a mobile media platform for Warner Brothers and Disney in the Japanese mobile market. He completed Ph.D. research in Computer Science at Dalhousie University and has been published in several leading academic journals. Simon has authored software patents, invented and developed several new programming languages, and used this work to co-found Vizwik.com, a visual programming mobile app development platform. He recently co-founded another startup, Safelii Inc., which is using mobile and AI technology to help improve health and safety services for employees in corporations. He is also a freelance Chief Technology Officer consulting for small to medium sized companies in Atlantic Canada.</P>
  id: '49578725302'
  url: https://www.eventbrite.ca/e/google-stack-polymer-and-firebase-tickets-49578725302
  start:
    timezone: America/Moncton
    local: '2018-09-18T18:30:00'
    utc: '2018-09-18T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-09-18T21:30:00'
    utc: '2018-09-19T00:30:00Z'
  organization_id: '791166669'
  created: '2018-08-27T23:38:50Z'
  changed: '2018-09-19T08:18:49Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: true
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '26461725'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/49578725302/
  is_externally_ticketed: false
  logo:
---
