---
title: 'Kotlin:  Myths and Introduction'
date: 2018-04-17 18:30 UTC
eventbrite:
  name:
    text: 'Kotlin:  Myths and Introduction'
    html: 'Kotlin:  Myths and Introduction'
  description:
    text: |-
      Presentation Summary
      Kotlin is a statically typed, concise, safe, and pragmatic programming language that runs on the JVM and other platforms. It has been gaining in popularity over the last year ever since Google announced official support for Kotlin on Android. There are a lot of misconceptions out here of what Kotlin is and what it is good for. This talk focuses on dispelling some myths about kotlin and serves as a general introduction to the language.Akiri has been using Kotlin for server and API development, replacing a traditional Java based stack.  Content for this talk is based on practical experience building a product using Kotlin.
      Speaker Biography
      Chris Dail is a Senior Director of Software Engineering at Akiri, a healthcare networking startup. He has 15 years of experience building software products in various roles including as a software developer, architect, and manager.  Chris is a programming language enthusiast and is passionate about clean, readable code.
    html: |-
      <H2>Presentation Summary</H2>
      <P>Kotlin is a statically typed, concise, safe, and pragmatic programming language that runs on the JVM and other platforms. It has been gaining in popularity over the last year ever since Google announced official support for Kotlin on Android. There are a lot of misconceptions out here of what Kotlin is and what it is good for. This talk focuses on dispelling some myths about kotlin and serves as a general introduction to the language.<BR><BR>Akiri has been using Kotlin for server and API development, replacing a traditional Java based stack.  Content for this talk is based on practical experience building a product using Kotlin.<BR></P>
      <H2>Speaker Biography</H2>
      <P>Chris Dail is a Senior Director of Software Engineering at Akiri, a healthcare networking startup. He has 15 years of experience building software products in various roles including as a software developer, architect, and manager.  Chris is a programming language enthusiast and is passionate about clean, readable code.</P>
  id: '44490545419'
  url: https://www.eventbrite.ca/e/kotlin-myths-and-introduction-tickets-44490545419
  start:
    timezone: America/Moncton
    local: '2018-04-17T18:30:00'
    utc: '2018-04-17T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-04-17T21:30:00'
    utc: '2018-04-18T00:30:00Z'
  organization_id: '791166669'
  created: '2018-03-23T18:18:12Z'
  changed: '2018-04-18T08:09:12Z'
  published: '2018-03-23T18:18:18Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: |-
    Presentation Summary
    Kotlin is a statically typed, concise, safe, and pragmatic programming language that runs on the JVM and other platform
  logo_id:
  organizer_id: '2361139082'
  venue_id: '23894783'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/44490545419/
  is_externally_ticketed: false
  logo:
description: |-
  <h2>Presentation Summary</h2>
  <p>Kotlin is a statically typed, concise, safe, and pragmatic programming language that runs on the JVM and other platforms. It has been gaining in popularity over the last year ever since Google announced official support for Kotlin on Android. There are a lot of misconceptions out here of what Kotlin is and what it is good for. This talk focuses on dispelling some myths about kotlin and serves as a general introduction to the language.<br><br>Akiri has been using Kotlin for server and API development, replacing a traditional Java based stack.  Content for this talk is based on practical experience building a product using Kotlin.<br></p>
  <h2>Speaker Biography</h2>
  <p>Chris Dail is a Senior Director of Software Engineering at Akiri, a healthcare networking startup. He has 15 years of experience building software products in various roles including as a software developer, architect, and manager.  Chris is a programming language enthusiast and is passionate about clean, readable code.</p>
---
