---
title: 'Clean Architecture: What? Why? How? (With Implementation Tips From Experience)'
date: 2018-05-15 18:30 UTC
permalink: clean-architecture-what-why-how
slug: clean-architecture-what-why-how
eventbrite:
  name:
    text: 'Clean Architecture: What? Why? How? (With Implementation Tips From Experience)'
    html: 'Clean Architecture: What? Why? How? (With Implementation Tips From Experience)'
  description:
    text: |-
      Presentation Summary
      Why is software architecture so important?  What is it, anyway?  How can "clean" software architecture actually make software development easier, faster, and less-painful?"Uncle" Bob Martin has attempted to take the most robust and battle-tested architectural patterns and boil them down into "one architecture to rule them all"--in a matter of speaking...We'll briefly look at what "Clean Architecture" is and what problems it attempts to solve.  Then we'll focus on how we might implement it in a .NET Core application with practical tips from real-world experience sprinkled throughout.
      Speaker Biography
      James Hickey is currently the senior software developer at IronFlow Technologies.  He focuses on improving software development processes, automation and architecture.  His current technical interests include .NET Core, Event Sourcing, Microservices, etc.
    html: |-
      <H2>Presentation Summary</H2>
      <P>Why is software architecture so important?  What is it, anyway?  How can "clean" software architecture actually make software development easier, faster, and less-painful?<BR><BR>"Uncle" Bob Martin has attempted to take the most robust and battle-tested architectural patterns and boil them down into "one architecture to rule them all"--in a matter of speaking...<BR><BR>We'll briefly look at what "Clean Architecture" is and what problems it attempts to solve.  Then we'll focus on how we might implement it in a .NET Core application with practical tips from real-world experience sprinkled throughout.<BR></P>
      <H2>Speaker Biography</H2>
      <P>James Hickey is currently the senior software developer at IronFlow Technologies.  He focuses on improving software development processes, automation and architecture.  His current technical interests include .NET Core, Event Sourcing, Microservices, etc.</P>
  id: '45290883251'
  url: https://www.eventbrite.ca/e/clean-architecture-what-why-how-with-implementation-tips-from-experience-tickets-45290883251
  start:
    timezone: America/Moncton
    local: '2018-05-15T18:30:00'
    utc: '2018-05-15T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-05-15T21:30:00'
    utc: '2018-05-16T00:30:00Z'
  organization_id: '791166669'
  created: '2018-04-18T13:45:32Z'
  changed: '2018-05-16T08:12:39Z'
  published: '2018-04-18T13:45:37Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: |-
    Presentation Summary
    Why is software architecture so important?  What is it, anyway?  How can "clean" software architecture actually make so
  logo_id:
  organizer_id: '2361139082'
  venue_id: '24333897'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/45290883251/
  is_externally_ticketed: false
  logo:
---
