---
title: 'Beyond Arduino: Microcontroller Programming with AVR-GCC'
date: 2018-03-20 18:30 UTC
eventbrite:
  name:
    text: 'Beyond Arduino: Microcontroller Programming with AVR-GCC'
    html: 'Beyond Arduino: Microcontroller Programming with AVR-GCC'
  description:
    text: |-
      Presentation Summary
      Since 2003, Arduino has revolutionised physical computing with open-source hardware and software (and a community) that prioritises ease of use.  As a result, hundreds of thousands (if not millions) of people can call themselves "embedded systems programmers" without knowing much about the microcontroller (MCU) that they're programming.  And that's okay.But hiding the microcontrollers' complexities comes at the cost of flexibility and performance.  Fortunately, the Atmel line of MCUs is in a unique position to bridge the worlds of Arduino and traditional (i.e., industrial-grade) embedded systems programming.This presentation will cover the required "starter kit" of hardware and software, the required "starter kit" of C/C++ concepts, the basics of digital I/O, the basics of analogue I/O, a demo. project, and (as usual) a list of "gotchas."
      Speaker Biography
      Doreen Clemons is the proverbial chief-cook-and-bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, and MySQL.  In her free time, Doreen lives out her Evil Mad Inventor(TM) fantasies by building stuff with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her on Twitter as @bonaventuresoft.
    html: |-
      <H2>Presentation Summary</H2>
      <P>Since 2003, Arduino has revolutionised physical computing with open-source hardware and software (and a community) that prioritises ease of use.  As a result, hundreds of thousands (if not millions) of people can call themselves "embedded systems programmers" without knowing much about the microcontroller (MCU) that they're programming.  And that's okay.<BR><BR>But hiding the microcontrollers' complexities comes at the cost of flexibility and performance.  Fortunately, the Atmel line of MCUs is in a unique position to bridge the worlds of Arduino and traditional (i.e., industrial-grade) embedded systems programming.<BR><BR>This presentation will cover the required "starter kit" of hardware and software, the required "starter kit" of C/C++ concepts, the basics of digital I/O, the basics of analogue I/O, a demo. project, and (as usual) a list of "gotchas."<BR></P>
      <H2><BR>Speaker Biography</H2>
      <P>Doreen Clemons is the proverbial chief-cook-and-bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, and MySQL.  In her free time, Doreen lives out her Evil Mad Inventor(TM) fantasies by building stuff with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her on Twitter as @bonaventuresoft.<BR><BR></P>
  id: '43617636525'
  url: https://www.eventbrite.ca/e/beyond-arduino-microcontroller-programming-with-avr-gcc-tickets-43617636525
  start:
    timezone: America/Moncton
    local: '2018-03-20T18:30:00'
    utc: '2018-03-20T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-03-20T21:30:00'
    utc: '2018-03-21T00:30:00Z'
  organization_id: '791166669'
  created: '2018-02-27T16:46:37Z'
  changed: '2018-03-21T08:09:29Z'
  capacity: 50
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '22994705'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/43617636525/
  is_externally_ticketed: false
  logo:
---
