---
title: Lightning Talks 7
date: 2018-12-18 18:30 UTC
eventbrite:
  name:
    text: Lightning Talks 7
    html: Lightning Talks 7
  description:
    text: "Presentation Summaries\r\nMichael Go:  Intro. to Neural Networks with the
      NEAT Algorithm\r\nThere are various versions of neural networks, and we will
      cover how to use genetic algorithms to train a neural network. In this session,
      we will build an A.I. that can beat the first level of NES Super Mario Bros.,
      using the NEAT algorithm.Chris Dail:  Good Code\r\nHave you ever worked on a
      project with code that was an unmaintainable pile of garbage? How did the code
      get like that? Without the proper attention to code quality, over time, all
      projects descend into disorder. \r\nEveryone agrees that good code is important,
      but many developers do not really know how to create good code. Chris Dail covers
      the basics of what good code is, why it is important and how to keep projects
      from descending into chaos.  New software developers will learn tips and tricks
      for writing good code. Experienced developers will benefit from a refresher
      and reflect on any bad habits they might have picked up.\r\nSpeaker Biographies\r\nMichael
      is a full stack developer with 8 years of experience.  He is currently the CTO
      of PropertyGuys.com, and his main focus in the company is disrupting the real
      estate industry with A.I. He has a variety of experience in web and mobile application
      development. In his current tool-box, he is using React, Rails, and Python.\r\nChris
      is a Senior Director of Software Engineering at Akiri, a healthcare networking
      startup. He has 15 years of experience building software products in various
      roles, including as a software developer, architect, and manager.  Chris is
      a programming language enthusiast and is passionate about clean, readable code.
      \r\n"
    html: "<H2><SPAN STYLE=\"font-family: arial black, avant garde;\"><STRONG><SPAN
      STYLE=\"font-size: large;\">Presentation Summaries</SPAN></STRONG></SPAN></H2>\r\n<H3><SPAN
      STYLE=\"font-size: medium; font-family: arial black, avant garde;\">Michael
      Go:  Intro. to Neural Networks with the NEAT Algorithm</SPAN><BR></H3>\r\n<P><SPAN
      STYLE=\"font-family: arial black, avant garde;\">There are various versions
      of neural networks, and we will cover how to use genetic algorithms to train
      a neural network. In this session, we will build an A.I. that can beat the first
      level of NES Super Mario Bros., using the NEAT algorithm.</SPAN><BR><BR><STRONG><SPAN
      STYLE=\"font-family: arial black, avant garde;\"><SPAN STYLE=\"font-size: medium;\">Chris
      Dail:  Good Code</SPAN></SPAN></STRONG></P>\r\n<P><SPAN STYLE=\"font-family:
      arial black, avant garde;\">Have you ever worked on a project with code that
      was an unmaintainable pile of garbage? How did the code get like that? Without
      the proper attention to code quality, over time, all projects descend into disorder. </SPAN></P>\r\n<P><SPAN
      STYLE=\"font-family: arial black, avant garde;\">Everyone agrees that good code
      is important, but many developers do not really know how to create good code.
      Chris Dail covers the basics of what good code is, why it is important and how
      to keep projects from descending into chaos.  New software developers will learn
      tips and tricks for writing good code. Experienced developers will benefit from
      a refresher and reflect on any bad habits they might have picked up.</SPAN></P>\r\n<P><STRONG><SPAN
      STYLE=\"font-family: arial black, avant garde;\"><SPAN STYLE=\"font-size: large;\">Speaker
      Biographies</SPAN></SPAN></STRONG><BR></P>\r\n<P><SPAN STYLE=\"font-family:
      arial black, avant garde;\"><STRONG>Michael</STRONG> is a full stack developer
      with 8 years of experience.  He is currently the CTO of PropertyGuys.com, and
      his main focus in the company is disrupting the real estate industry with A.I.
      He has a variety of experience in web and mobile application development. In
      his current tool-box, he is using React, Rails, and Python.</SPAN></P>\r\n<P><BR><SPAN
      STYLE=\"font-family: arial black, avant garde;\"><STRONG>Chris</STRONG> is a
      Senior Director of Software Engineering at Akiri, a healthcare networking startup.
      He has 15 years of experience building software products in various roles, including
      as a software developer, architect, and manager.  Chris is a programming language
      enthusiast and is passionate about clean, readable code. </SPAN><BR></P>\r\n<P><BR></P>"
  id: '53036737309'
  url: https://www.eventbrite.ca/e/lightning-talks-7-tickets-53036737309
  start:
    timezone: America/Moncton
    local: '2018-12-18T18:30:00'
    utc: '2018-12-18T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2018-12-18T21:30:00'
    utc: '2018-12-19T01:30:00Z'
  organization_id: '791166669'
  created: '2018-11-27T01:39:00Z'
  changed: '2018-12-19T09:13:28Z'
  published: '2018-11-28T13:53:44Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Presentation Summaries\r\nMichael Go:  Intro. to Neural Networks with
    the NEAT Algorithm\r\nThere are various versions of neural networks, and w"
  logo_id:
  organizer_id: '2361139082'
  venue_id: '26437303'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/53036737309/
  is_externally_ticketed: false
  logo:
description: "<h2><span><strong><span>Presentation Summaries</span></strong></span></h2>\r\n<h3>\n<span>Michael
  Go:  Intro. to Neural Networks with the NEAT Algorithm</span><br>\n</h3>\r\n<p><span>There
  are various versions of neural networks, and we will cover how to use genetic algorithms
  to train a neural network. In this session, we will build an A.I. that can beat
  the first level of NES Super Mario Bros., using the NEAT algorithm.</span><br><br><strong><span><span>Chris
  Dail:  Good Code</span></span></strong></p>\r\n<p><span>Have you ever worked on
  a project with code that was an unmaintainable pile of garbage? How did the code
  get like that? Without the proper attention to code quality, over time, all projects
  descend into disorder. </span></p>\r\n<p><span>Everyone agrees that good code is
  important, but many developers do not really know how to create good code. Chris
  Dail covers the basics of what good code is, why it is important and how to keep
  projects from descending into chaos.  New software developers will learn tips and
  tricks for writing good code. Experienced developers will benefit from a refresher
  and reflect on any bad habits they might have picked up.</span></p>\r\n<p><strong><span><span>Speaker
  Biographies</span></span></strong><br></p>\r\n<p><span><strong>Michael</strong>
  is a full stack developer with 8 years of experience.  He is currently the CTO of
  PropertyGuys.com, and his main focus in the company is disrupting the real estate
  industry with A.I. He has a variety of experience in web and mobile application
  development. In his current tool-box, he is using React, Rails, and Python.</span></p>\r\n<p><br><span><strong>Chris</strong>
  is a Senior Director of Software Engineering at Akiri, a healthcare networking startup.
  He has 15 years of experience building software products in various roles, including
  as a software developer, architect, and manager.  Chris is a programming language
  enthusiast and is passionate about clean, readable code. </span><br></p>\r\n<p><br></p>"
---
