---
title: Modern Web Development with Web Components
date: 2019-11-19 18:30 UTC
speakerdeck_id: f8e21323994a44bab335ac39f0f3ad81
eventbrite:
  name:
    text: Modern Web Development with Web Components
    html: Modern Web Development with Web Components
  description:
    text: Modern Web Development with Web Components
    html: Modern Web Development with Web Components
  id: '79286031655'
  url: https://www.eventbrite.ca/e/modern-web-development-with-web-components-tickets-79286031655
  start:
    timezone: America/Moncton
    local: '2019-11-19T18:30:00'
    utc: '2019-11-19T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-11-19T21:30:00'
    utc: '2019-11-20T01:30:00Z'
  organization_id: '791166669'
  created: '2019-10-30T00:05:41Z'
  changed: '2019-11-20T09:11:38Z'
  published: '2019-10-30T00:33:39Z'
  capacity: 35
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: false
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: coyote
  is_free: true
  version: 3.7.0
  summary: Modern Web Development with Web Components
  logo_id:
  organizer_id: '2361139082'
  venue_id: '41543865'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/79286031655/
  is_externally_ticketed: false
  logo:
description: "<h2>Presentation Summary</h2><p>The software development of the web
  is being transformed by the introduction of Web Components. Web sites such as YouTube,
  Facebook, Bloomberg, EA Sports, Dominos Pizza, and many more are using web components
  to serve billions of consumers worldwide. Originally started as a way to extend
  HTML with custom tags, the web components spec. has grown to encompass a collection
  of features that make development of modern software easier to create, manage, and
  deploy. In this talk we will explore several web component libraries and frameworks
  such as Polymer 3, lit-html, and lit-element, and also tools for creating Progressive
  Web Apps.  We will also cover scalability techniques for building large scale Single
  Page Applications and Web Components, plus the need for real-time updates and data
  streaming.</p><h2>Speaker Biography</h2><p>Simon Gauvin is an expert in the field
  of UX, mobile and cloud computing with 25 years of experience developing several
  startup software companies. He was former VP of Applications Technology at Plazmic
  Inc. (acquired by RIM in 2002) where he led the development of a mobile media platform
  for Warner Brothers and Disney in the Japanese mobile market. He completed Ph.D.
  research in Computer Science at Dalhousie University and has been published in several
  leading academic journals. Simon has authored software patents, invented and developed
  several new programming languages, and used this work to co-found Vizwik.com, a
  visual programming mobile app development platform. He recently co-founded another
  startup, Safelii Inc., which is using mobile and AI technology to help improve health
  and safety services for employees in corporations. He is also a freelance Chief
  Technology Officer consulting for small to medium sized companies in Atlantic Canada.</p>"
---
