---
title: Securing the Cloud – How Not to End Up in the News
date: 2019-05-21 18:30 UTC
eventbrite:
  name:
    text: Securing the Cloud – How Not to End Up in the News
    html: Securing the Cloud – How Not to End Up in the News
  description:
    text: |-
      Presentation Summary
      In the ever-evolving world of Development and Operations, more and more companies are adopting a DevOps methodology. This puts more responsibility on everyone to develop with security in mind. This includes securing your cloud infrastructure. In this session, we will discuss methods and best practices to run your product responsibly in Amazon Web Services (recognizing that these practices can also be adapted for other public cloud offerings). We will look at different tools to manage your infrastructure and security in code and what tools AWS offers to monitor the security of your infrastructure.
      Speaker Biography
      Matt Taylor has been working with Akiri as a Software Developer. He has focused on devops for the last year, designing and implementing the product and working with tools to enable other developers to quickly deployment and test their code. Before Akiri, Matt spent over 10 years working at Skillsoft in their Operations group where he was responsible for the safe and reliable operation of production environments. He is passionate about automating repeatable tasks and working with emerging technology.
    html: |-
      <H2>Presentation Summary</H2>
      <P>In the ever-evolving world of Development and Operations, more and more companies are adopting a DevOps methodology. This puts more responsibility on everyone to develop with security in mind. This includes securing your cloud infrastructure. In this session, we will discuss methods and best practices to run your product responsibly in Amazon Web Services (recognizing that these practices can also be adapted for other public cloud offerings). We will look at different tools to manage your infrastructure and security in code and what tools AWS offers to monitor the security of your infrastructure.</P>
      <H2>Speaker Biography</H2>
      <P>Matt Taylor has been working with Akiri as a Software Developer. He has focused on devops for the last year, designing and implementing the product and working with tools to enable other developers to quickly deployment and test their code. Before Akiri, Matt spent over 10 years working at Skillsoft in their Operations group where he was responsible for the safe and reliable operation of production environments. He is passionate about automating repeatable tasks and working with emerging technology.</P>
  id: '60976110187'
  url: https://www.eventbrite.ca/e/securing-the-cloud-how-not-to-end-up-in-the-news-tickets-60976110187
  start:
    timezone: America/Moncton
    local: '2019-05-21T18:30:00'
    utc: '2019-05-21T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-05-21T21:30:00'
    utc: '2019-05-22T00:30:00Z'
  organization_id: '791166669'
  created: '2019-04-27T16:39:33Z'
  changed: '2019-04-29T13:13:38Z'
  published: '2019-04-27T16:39:38Z'
  capacity: 40
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: |-
    Presentation Summary
    In the ever-evolving world of Development and Operations, more and more companies are adopting a DevOps methodology. Th
  logo_id:
  organizer_id: '2361139082'
  venue_id: '23894783'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/60976110187/
  is_externally_ticketed: false
  logo:
---
