---
title: 'WebAssembly: Writing, Securing, and Debugging'
date: 2019-03-19 18:30 UTC
eventbrite:
  name:
    text: 'WebAssembly: Writing, Securing, and Debugging'
    html: 'WebAssembly: Writing, Securing, and Debugging'
  description:
    text: |-
      Presentation Summary
      Did you know that you can take code written in languages like C, Rust, Python, and Go (to name a few) and compile them to a technology that runs in all modern web browsers side-by-side with JavaScript? In this session, you'll learn about WebAssembly:  What is it, what problems it solves, how it works, and what makes it secure. That last point about security is important because that's one area that gives many people pause when hearing the words "native code" or that C++ can be used. Immediately, we have flash-backs to plugins and pointers. In this session, you'll also learn how to create a WebAssembly module and how to interact with it. Because WebAssembly modules are not limited to the browser, you'll see how to make use of the same module in NodeJS. To round out this session, you'll see that WebAssembly modules are not a way to hide your code. You'll also see what options are available to debug a WebAssembly module.
      Speaker Biography
      Gerard Gallant is a Senior Software Developer and Architect with Dovico Software. Life is busy with two young children but he's extremely competitive in everything he does. In what started out as a relaxing jog several times a week, Gerard has rediscovered his high school passion for running and now takes part in several races every year. As a huge fan of WebAssembly, he has dedicated his spare time over the past year to write a book about it: WebAssembly in Action (https://www.manning.com/books/webassembly-in-action)
    html: |-
      <H2>Presentation Summary</H2>
      <P>Did you know that you can take code written in languages like C, Rust, Python, and Go (to name a few) and compile them to a technology that runs in all modern web browsers side-by-side with JavaScript?<BR> <BR>In this session, you'll learn about WebAssembly:  What is it, what problems it solves, how it works, and what makes it secure. That last point about security is important because that's one area that gives many people pause when hearing the words "native code" or that C++ can be used. Immediately, we have flash-backs to plugins and pointers.<BR> <BR>In this session, you'll also learn how to create a WebAssembly module and how to interact with it. Because WebAssembly modules are not limited to the browser, you'll see how to make use of the same module in NodeJS.<BR> <BR>To round out this session, you'll see that WebAssembly modules are not a way to hide your code. You'll also see what options are available to debug a WebAssembly module.</P>
      <H2>Speaker Biography</H2>
      <P>Gerard Gallant is a Senior Software Developer and Architect with Dovico Software. Life is busy with two young children but he's extremely competitive in everything he does. In what started out as a relaxing jog several times a week, Gerard has rediscovered his high school passion for running and now takes part in several races every year. As a huge fan of WebAssembly, he has dedicated his spare time over the past year to write a book about it: WebAssembly in Action (<A HREF="https://www.manning.com/books/webassembly-in-action" TARGET="_blank" REL="nofollow noopener noreferrer">https://www.manning.com/books/webassembly-in-action</A>)</P>
  id: '57563910205'
  url: https://www.eventbrite.ca/e/webassembly-writing-securing-and-debugging-tickets-57563910205
  start:
    timezone: America/Moncton
    local: '2019-03-19T18:30:00'
    utc: '2019-03-19T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-03-19T21:30:00'
    utc: '2019-03-20T00:30:00Z'
  organization_id: '791166669'
  created: '2019-02-27T02:07:08Z'
  changed: '2019-03-20T07:53:29Z'
  published: '2019-02-27T02:07:13Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: "Presentation Summary\nDid you know that you can take code written in languages
    like C, Rust, Python, and Go (to name a few) and compile them "
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19441514'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/57563910205/
  is_externally_ticketed: false
  logo:
---
