---
title: Byte-sized JVM; Running smaller and faster apps on the JVM
date: 2019-10-15 18:30 UTC
eventbrite:
  name:
    text: Byte-sized JVM; Running smaller and faster apps on the JVM
    html: Byte-sized JVM; Running smaller and faster apps on the JVM
  description:
    text: Byte-sized JVM; Running Smaller and Faster Apps on the JVM
    html: Byte-sized JVM; Running Smaller and Faster Apps on the JVM
  id: '75600734833'
  url: https://www.eventbrite.ca/e/byte-sized-jvm-running-smaller-and-faster-apps-on-the-jvm-tickets-75600734833
  start:
    timezone: America/Moncton
    local: '2019-10-15T18:30:00'
    utc: '2019-10-15T21:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-10-15T21:30:00'
    utc: '2019-10-16T00:30:00Z'
  organization_id: '791166669'
  created: '2019-10-06T18:38:42Z'
  changed: '2019-10-16T07:51:27Z'
  published: '2019-10-06T18:45:57Z'
  capacity: 30
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: false
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: coyote
  is_free: true
  version: 3.7.0
  summary: Byte-sized JVM; Running Smaller and Faster Apps on the JVM
  logo_id:
  organizer_id: '2361139082'
  venue_id: '39975251'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/75600734833/
  is_externally_ticketed: false
  logo:
description: '<h2>Presentation Summary</h2><p>23 years ago, the Java Virtual Machine
  promised to free programmers from the error-prone drudgery of memory management
  and the frustrations of maintaining code-bases for multiple operating systems.  Alas,
  the large memory requirements and long start-up times of early JVM versions gave
  Java the reputation for being "slow."  The reputation lingers despite Just-in-Time
  compilation and two decades of optimisation and performance-tuning.  This presentation
  will focus on some of the most recent changes to the VM to trim down and speed up
  apps.  We will also talk about the high-performance GraalVM that can support multiple
  languages at once.  Depending on time/interest, we might also look at Quarkus.</p><h2>Speaker
  Biography</h2><p>Robert J Saulnier is a Java EE Guardian who is passionate about
  all things Java: language, API, VM, and coffee. He has been experimenting, teaching,
  and developing with Java since 1996. And with over 21 years of professional experience,
  the last 12 years have been spent working at GTECH, EMC, and Willis Towers Watson,
  working on a range of tech. that spans embedded terminal systems to enterprise applications.</p>'
---
