---
title: 'WebAssembly: Running code inside and outside the browser'
date: 2019-12-17 18:30 UTC
eventbrite:
  name:
    text: 'WebAssembly: Running code inside and outside the browser'
    html: 'WebAssembly: Running code inside and outside the browser'
  description:
    text: 'WebAssembly: Running code inside and outside the browser'
    html: 'WebAssembly: Running code inside and outside the browser'
  id: '84464442421'
  url: https://www.eventbrite.ca/e/webassembly-running-code-inside-and-outside-the-browser-tickets-84464442421
  start:
    timezone: America/Moncton
    local: '2019-12-17T18:30:00'
    utc: '2019-12-17T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-12-17T21:30:00'
    utc: '2019-12-18T01:30:00Z'
  organization_id: '791166669'
  created: '2019-12-01T00:18:32Z'
  changed: '2019-12-01T00:25:04Z'
  published: '2019-12-01T00:25:04Z'
  capacity: 35
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: false
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: coyote
  is_free: true
  version: 3.7.0
  summary: 'WebAssembly: Running code inside and outside the browser'
  logo_id:
  organizer_id: '2361139082'
  venue_id: '43694237'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/84464442421/
  is_externally_ticketed: false
  logo:
description: '<h2>Presentation Summary</h2><p>In this session,  you will learn about
  WebAssembly: What it is, what problems it solves, how it works, and what makes it
  secure. Using Emscripten, you will learn how to create a module that can run both
  inside the browser and outside it, in places like Node.js and VMs like Wasmer. </p><p>The
  session will also include an overview of the Uno Platform where you can develop
  native mobile, desktop, and web applications using C# and XMAL via a combination
  of technologies like Xamarin.Forms and WebAssembly.</p><h2>Speaker Biography</h2><p>Gerard
  Gallant is a Senior Software Developer and Architect with Dovico Software. He learned
  he had a passion for programming in high school. More recently, when he started
  doing a jog several times a week to relax, Gerard rediscovered a second high school
  passion -- running. No longer a relaxing jog, his competitiveness has led him to
  take part in several races a year. As a huge fan of WebAssembly, he was fortunate
  to have been given the opportunity to write a book on the subject: <em>WebAssembly
  in Action</em> (<a href="https://www.manning.com/books/webassembly-in-action" target="_blank"
  rel="nofollow noopener noreferrer">https://www.manning.com/books/webassembly-in-action</a>).
  He is passionate about his work, his hobbies and (most of all) his wife and his
  two young and very clever girls.</p>'
---
