---
title: Moncton Dev "Lunch in the Lounge"
date: 2019-08-13 12:00 UTC
eventbrite:
  name:
    text: Moncton Dev "Lunch in the Lounge"
    html: Moncton Dev &#34;Lunch in the Lounge&#34;
  description:
    text: It's time for an informal summer get-together.  Join us over the lunch-hour
      to socialise, catch up on the cool stuff other people are doing...and, of course,
      eat! 
    html: "<P>It's time for an informal summer get-together.  Join us over the lunch-hour
      to socialise, catch up on the cool stuff other people are doing...and, of course,
      eat! </P>"
  id: '68211042063'
  url: https://www.eventbrite.ca/e/moncton-dev-lunch-in-the-lounge-tickets-68211042063
  start:
    timezone: America/Moncton
    local: '2019-08-13T12:00:00'
    utc: '2019-08-13T15:00:00Z'
  end:
    timezone: America/Moncton
    local: '2019-08-13T13:00:00'
    utc: '2019-08-13T16:00:00Z'
  organization_id: '791166669'
  created: '2019-08-06T22:24:05Z'
  changed: '2019-08-06T22:24:07Z'
  published: '2019-08-06T22:24:07Z'
  capacity: 25
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  summary: It's time for an informal summer get-together.  Join us over the lunch-hour
    to socialise, catch up on the cool stuff other people are doing.
  logo_id:
  organizer_id: '2361139082'
  venue_id: '35649333'
  category_id: '102'
  subcategory_id:
  format_id: '11'
  resource_uri: https://www.eventbriteapi.com/v3/events/68211042063/
  is_externally_ticketed: false
  logo:
---
