---
title: Lightning Talks 8
date: 2019-02-19 18:30 UTC
eventbrite:
  name:
    text: Lightning Talks 8
    html: Lightning Talks 8
  description:
    text: |-
      Presentation Summaries
      Michael Go:  Introduction to Artificial Neural Networks with Back-Propagation
      For A.I. application development, we commonly use Tensorflow or Keras. In this session, we will do a step-by-step tutorial on how those neural network libraries work and learn how back propagation works. Also, we will cover the advantage(s) and disadvantage(s) of using a neural network with back-propagation.
      Vincent Roy:  Introduction to AWS Lambda
      This talk will be an introduction to the "server-less" world through AWS Lambda. We will explore what it is and how it can be used.  We will also go over some examples and different ways to manage functions such as Apex (http://apex.run)
      Speaker Biographies
      Michael is a full stack developer with 8 years of experience.  He is currently the CTO of PropertyGuys.com, and his main focus in the company is disrupting the real estate industry with A.I. He has a variety of experience in web and mobile application development. In his current tool-box, he is using React, Rails, and Python.
      Vincent is a full stack software developer with 10 years of experience. In that time he's had a chance to work with various technologies from backend services written in Ruby on Rails to browser applications written using CoffeeScript.  He is currently a Senior Software Engineer at Akiri writing backend and infrastructure services in Kotlin and Python.
    html: |-
      <H2>Presentation Summaries</H2>
      <H3>Michael Go:  Introduction to Artificial Neural Networks with Back-Propagation</H3>
      <P>For A.I. application development, we commonly use Tensorflow or Keras. In this session, we will do a step-by-step tutorial on how those neural network libraries work and learn how back propagation works. Also, we will cover the advantage(s) and disadvantage(s) of using a neural network with back-propagation.</P>
      <H3>Vincent Roy:  Introduction to AWS Lambda</H3>
      <P>This talk will be an introduction to the "server-less" world through AWS Lambda. We will explore what it is and how it can be used.  We will also go over some examples and different ways to manage functions such as Apex (http://apex.run)</P>
      <H2>Speaker Biographies</H2>
      <P><STRONG>Michael</STRONG> is a full stack developer with 8 years of experience.  He is currently the CTO of PropertyGuys.com, and his main focus in the company is disrupting the real estate industry with A.I. He has a variety of experience in web and mobile application development. In his current tool-box, he is using React, Rails, and Python.</P>
      <P><STRONG>Vincent</STRONG> is a full stack software developer with 10 years of experience. In that time he's had a chance to work with various technologies from backend services written in Ruby on Rails to browser applications written using CoffeeScript.  He is currently a Senior Software Engineer at Akiri writing backend and infrastructure services in Kotlin and Python.<BR></P>
  id: '55315401856'
  url: https://www.eventbrite.ca/e/lightning-talks-8-tickets-55315401856
  start:
    timezone: America/Moncton
    local: '2019-02-19T18:30:00'
    utc: '2019-02-19T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-02-19T21:30:00'
    utc: '2019-02-20T01:30:00Z'
  organization_id: '791166669'
  created: '2019-01-24T01:44:29Z'
  changed: '2019-01-24T01:44:33Z'
  capacity: 40
  capacity_is_custom: false
  status: live
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '19441514'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/55315401856/
  is_externally_ticketed: false
  logo:
---
