---
title: Data Visualisation with P5.JS
date: 2019-01-15 18:30 UTC
eventbrite:
  name:
    text: Data Visualisation with P5.JS
    html: Data Visualisation with P5.JS
  description:
    text: |-
      Presentation Summary
      While most programmers are used to crunching whole databases' worth of information, sometimes a row of totals or even pivot tables can't tell the whole story.  That's where data visualisation comes in.
      Since 2001, the "Processing" project has bridged the worlds of art and computing, spawning different language interfaces (and even completely unrelated projects) along the way.  One of Processing's more recent offshoots is Lauren McCarthy's pure-JavaScript implementation, P5.JS. 
      This presentation will cover the parts of P5.JS that can, with a surprisingly small amount of code, bring data to life in the web browser in a way that static HTML tables cannot.  Let your left brain shake hands with your right-brain and unleash your creativity in full colour with JavaScript!
      Speaker Biography
      Doreen Clemons is the proverbial chief-cook-and-bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, MySQL, and C#.  In her free time, Doreen lives out her Evil Mad Inventor(TM) fantasies by building stuff with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her being waaaaaay too political on Twitter as @bonaventuresoft.
    html: |-
      <H2>Presentation Summary</H2>
      <P>While most programmers are used to crunching whole databases' worth of information, sometimes a row of totals or even pivot tables can't tell the whole story.  That's where data visualisation comes in.</P>
      <P>Since 2001, the "Processing" project has bridged the worlds of art and computing, spawning different language interfaces (and even completely unrelated projects) along the way.  One of Processing's more recent offshoots is Lauren McCarthy's pure-JavaScript implementation, P5.JS. </P>
      <P>This presentation will cover the parts of P5.JS that can, with a surprisingly small amount of code, bring data to life in the web browser in a way that static HTML tables cannot.  Let your left brain shake hands with your right-brain and unleash your creativity in full colour with JavaScript!</P>
      <H2>Speaker Biography</H2>
      <P>Doreen Clemons is the proverbial chief-cook-and-bottle-washer at Bonaventure Software.  She started programming in BASIC on a TRS-80 at the age of 12 and has since earned her living with Visual Basic, "Classic" ASP, ActionScript, HTML, JavaScript, Java, T-SQL, PHP, MySQL, and C#.  In her free time, Doreen lives out her Evil Mad Inventor(TM) fantasies by building stuff with Arduino and the Raspberry Pi.  During episodes of "coder's block," you can find her being waaaaaay too political on Twitter as @bonaventuresoft.</P>
  id: '54272863596'
  url: https://www.eventbrite.ca/e/data-visualisation-with-p5js-tickets-54272863596
  start:
    timezone: America/Moncton
    local: '2019-01-15T18:30:00'
    utc: '2019-01-15T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2019-01-15T21:30:00'
    utc: '2019-01-16T01:30:00Z'
  organization_id: '791166669'
  created: '2019-01-02T02:02:25Z'
  changed: '2019-01-16T09:11:21Z'
  capacity: 40
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: true
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: create_2.0
  is_free: true
  version: 3.0.0
  logo_id:
  organizer_id: '2361139082'
  venue_id: '26437303'
  category_id: '102'
  subcategory_id:
  format_id: '2'
  resource_uri: https://www.eventbriteapi.com/v3/events/54272863596/
  is_externally_ticketed: false
  logo:
---
