---
title: Why .NET Core 3?
slug: why-dotnet-core-3
date: 2020-01-21 18:30 UTC
eventbrite:
  name:
    text: Why .NET Core 3?
    html: Why .NET Core 3?
  description:
    text: Why .NET Core 3?
    html: Why .NET Core 3?
  id: '88051092187'
  url: https://www.eventbrite.ca/e/why-net-core-3-tickets-88051092187
  start:
    timezone: America/Moncton
    local: '2020-01-21T18:30:00'
    utc: '2020-01-21T22:30:00Z'
  end:
    timezone: America/Moncton
    local: '2020-01-21T21:30:00'
    utc: '2020-01-22T01:30:00Z'
  organization_id: '791166669'
  created: '2020-01-03T00:14:10Z'
  changed: '2020-01-22T09:01:57Z'
  published: '2020-01-03T00:18:55Z'
  capacity: 35
  capacity_is_custom: false
  status: completed
  currency: CAD
  listed: true
  shareable: false
  invite_only: false
  online_event: false
  show_remaining: false
  tx_time_limit: 480
  hide_start_date: false
  hide_end_date: false
  locale: en_CA
  is_locked: false
  privacy_setting: unlocked
  is_series: false
  is_series_parent: false
  inventory_type: limited
  is_reserved_seating: false
  show_pick_a_seat: false
  show_seatmap_thumbnail: false
  show_colors_in_seatmap_thumbnail: false
  source: coyote
  is_free: true
  version: 3.7.0
  summary: Why .NET Core 3?
  logo_id:
  organizer_id: '2361139082'
  venue_id: '45076981'
  category_id: '102'
  subcategory_id:
  format_id: '9'
  resource_uri: https://www.eventbriteapi.com/v3/events/88051092187/
  is_externally_ticketed: false
  logo:
description: "<h2>Presentation Summary</h2><p>In September 2019, Microsoft announced
  .NET Core 3.0, an important milestone in the transition from the .NET Framework,
  a proprietary, closed source, Windows-only platform to an open source, multi-platform
  framework.  It brought with it support for desktop development, C# 8, and enhancements
  to ASP.NET Core and Entity Framework. </p><p>In this talk, we will look at the benefits
  of .NET Core (focused on ASP.NET Core) for existing .NET Developers as well as the
  development community as a whole and take a look at the more exciting features of
  the platform (gRPC support, Blazor, enhancements to Identity, C# 8 features)… using
  Visual Studio for Mac, deploying to and debugging in a Docker container.</p><h2>Speaker
  Biography</h2><p><strong>Adam Greene</strong> started programming at age 16 on an
  NEC V20. Over the last 20 years, he has filled a variety of roles including Tech
  Lead and CTO for a variety of companies, and now is enjoying his time working remotely
  as a Senior Software Engineer for Cvent focused on .NET technologies. Adam has worked
  in a variety of languages and platforms and has been an avid fan of .NET for almost
  18 years (starting with .NET 1.1).</p><p></p>"
---
