/*********************************** Layout */

.container {
    max-width: 700px;
}

.page-header-main {
    margin-top: 0px;
}


/*********************************** Navbar */

.navbar-default .navbar-brand {
    color: #333;
    padding: 0px 15px;
}

.navbar-default .navbar-brand img {
    width: 140px;
    margin-top: 2px;
}

.navbar {
    border-radius: 0px;
}

.navbar.navbar-footer {
    margin: 0px;
}


/*********************************** Article Item */

article {
    margin-bottom: 60px;
}

article time {
    color: #777;
    font-weight: normal;
}


/*********************************** Sponsors Page */

body.sponsors .page img {
    max-width: 275px;
}
