---
title: About
---

<div class="page-header page-header-main">
  <h2>About</h2>
</div>

<p>The Moncton chapter of DevEast was founded in October 2010. Our mission from inception has been to share deep development experience with individuals who are interested in learning, sharing and growing their development knowledge and capabilities.</p>

<p>The group’s vision is to provide members with a forum to hear high quality experts present, learn and teach others who are interested in the same technologies as you and are facing the same challenges.</p>

<p>We’ll cover the entire spectrum of development technologies, including basic skills, advanced development concepts and development tools such as Microsoft Visual Studio or even your favorite Text Editor.</p>

<p>In short, it’s for developers</p>


<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/8To-6VIJZRE"
          frameborder="0"
          allowfullscreen
          class="embed-responsive-item"></iframe>
</div>
