---
title: FAQs
---

<div class="page-header page-header-main">
  <h2>Frequently Asked Questions</h2>
</div>

<h3>Contact Us</h3>

<p>If you have any question or suggestions, please don't hesitate to email us:</p>

<p><a href="mailto:monctonug@cognitivex.com">monctonug@cognitivex.com</a></p>


<h3>Speakers</h3>

<p>We are always looking for speakers of any experience level. If you have something interesting to share with your peers, the Moncton Developer User Group is a great place to do so. Please email us proposals to <a href="mailto:monctonug@cognitivex.com">monctonug@cognitivex.com</a></p>

<h3>When do you meet?</h3>

<p>We try to hold a regular schedule and meet on the third Tuesday of the month. We have the space from 6:30pm to 9:30pm and try to start on time at 6:30pm. Talks can go from anywhere from 45 minutes to 2 hours.</p>

<h3>Where?</h3>

<p>We meet at the Venn Innovation centre.</p>

<pre>
735 Main Street, Suite 201
Moncton, NB, Canada E1C 1E5
</pre>

<h3>Pizza.</h3>

<p>Our sponsors allow us to order Pizza for all registered attendees.</p>

<h3>Other ways to connect with Maritime developers</h3>

<ul>
  <li><a href="http://maritimedevs.ca/">Maritime Devs (Slack)</a></li>
  <li><a href="http://frederictonug.net/">Fredericton Developer Group</a></li>
  <li><a href="http://www.meetup.com/Deveast/">Halifax Developer Group</a></li>
  <li><a href="http://www.meetup.com/PEI-Developers/">PEI Developer Group</a></li>
</ul>
