<% event_list.each do |event| %>
  <article class="event">
    <div class="page-header">
      <h2>
        <%= event.name %>
      </h2>
      <time><%= event.formatted_time %></time>
    </div>

    <%= event.description %>

    <% if event.live? %>


      <div>
        <a href="<%= event.url %>" class="btn btn-success btn-lg btn-block">
          Register on Eventbrite
        </a>
      </div>
    <% end %>
  </article>
<% end %>
